<div id="block-buffermedia" class="clearfix">

    <script id="twitter-mytweets-render" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile pull-left  left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>

            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a  target="_blank">{{>name}}</a></h3>
                <p>
                    {{>tweet}}
                </p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>created_at}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweets}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favourites}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="friends">Following<span class="tweet-text numbers">&#40;{{>friends}}&#41;</span></li>

                </ul>
            </div>
        </li>
    </script>

    <script id="twitter-timelines-render" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile  pull-left left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>

            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a  target="_blank">{{>name}}</a></h3>
                <p>
                    {{>tweet}}
                </p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>created_at}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweets}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favourites}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="friends">Following<span class="tweet-text numbers">&#40;{{>friends}}&#41;</span></li>

                </ul>
            </div>
        </li>
    </script>


    <script id="twitter-mentions-render" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile pull-left left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>

            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a  target="_blank">{{>name}}</a></h3>
                <p>
                    {{>tweet}}
                </p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>created_at}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweets}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favourites}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="friends">Following<span class="tweet-text numbers">&#40;{{>friends}}&#41;</span></li>

                </ul>
            </div>
        </li>
    </script>


    <script id="twitter-messages-render" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile pull-left left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>
                
                </div>
                <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                    <span class="arrow"></span>
                    <h3><a  target="_blank">{{>name}}</a></h3>
                    <p>
                        {{>message}}
                   </p>
                    <ul class="horizontal-list clearfix">
                        <li class="tweet-date"><i class="fa fa-calendar"></i>{{>created_at}}</li>
                    </ul>
                </div>
            </li>
        </script>

          <script id="fb-timeline-render" type="text/x-jsrender">
            <li class="clearfix  trendingli{{:#index}}">
                
                <div class="socialmedia-facebook clearfix  left-right-switcher-second-trt{{:#index}}">
                   <span class="so-facebook-icon">
              <i class="ion-social-facebook"></i>
              </span>
                    <h3><a  target="_blank">{{>pageName}}</a></h3>
                    <span class="facebook-date">{{>created_at}}</span>
                    <p>
                        {{>text}}
                   </p>
                    <ul class="horizontal-list clearfix social-facebook">  
                      <li><i class="ion-thumbsup"></i><span>{{>likesCount}}</span>People like this</li>
                     <li><i class="ion-android-share"></i><span>{{>sharesCount}}</span>Share</li>
                       
                    </ul>
                </div>
            </li>
        </script>





    <script id="userNamesRender" type="text/x-jsrender">
        {{if network == "twitter"}}
        <li class="individual-users individual-users-id{{:#index}}" page-id="{{>ids}}" user-name="{{>name}}" user-pageName="{{>pageName}}" user-index="{{:#index}}" user-type="{{>network}}">
              <a class="social-close-twitter remove-id{{:#index}} ion-close-circled" user-name="{{>name}}"></a>
            {{/if}} {{if network == "facebook"}}
            <li class="individual-users individual-users-id{{:#index}}" page-id="{{>ids}}" user-name="{{>name}}" user-pageName="{{>pageName}}" user-index="{{:#index}}" page-owner-name="{{>ownerName}}" user-type="{{>network}}">
                    <a class="social-close-facebook remove-id{{:#index}} ion-close-circled" page-owner-name="{{>ownerName}}"   user-pageName="{{>pageName}}" page-id="{{>ids}}"></a> 
                {{/if}} 
                {{if network == "twitter"}}

                <div class="social-user-profile"> <span class="social-profile"> <img src="../img/profile-img.jpg"> <i class="twitter ion-social-twitter"></i> </span> <span class="social-text">
    <h4>{{>name}}</h4>
    <p>{{>network}}</p>
	{{/if}}{{if network == "facebook"}}
    
	 <div class="social-user-profile"> <span class="social-profile"> <img src="../img/profile-img.jpg"> <i class="facebook ion-social-facebook"></i> </span> <span class="social-text">
    <h4>{{>pageName}}</h4>
    <p>{{>ownerName}}</p>
    <p>{{>network}}</p>
	{{/if}}
    </span>


                </div>
                {{if network == "twitter"}}
                <div class="social-buttons">
                    <button class="btn btn-default userTweet-new" user-name="{{>name}}" type="button">My Tweets</button>
                    <button class="btn btn-default timeline-new" user-name="{{>name}}" type="button">Timeline</button>
                    <button class="btn btn-default mentions-new" user-name="{{>name}}" type="button">Mentions</button>
                    <button class="btn btn-default userMessage-new" user-name="{{>name}}" type="button">Messages</button>
                </div>
                {{/if}} {{if network == "facebook"}}
                <div class="social-buttons">
                    <button class="btn btn-default timelineFbNew" user-pageName="{{>pageName}}" page-id={{>ids}} type="button">Timeline</button>
                         <button class="btn btn-default mentions" type="button">Events</button>
                    <button class="btn btn-default userMessage" type="button">Scheduled Posts</button>
                </div>
                {{/if}} </li>
    </script>

   
    <script id="generalStatisticsRender" type="text/x-jsrender">
        <tr>
            <td class="hidden-x">{{>pageName}}</td>
            <td class="hidden-x">{{>name}}</td>
            <td class="hidden-xs">{{>totalPosts}}</td>
            <td class="hidden-xs">{{>sumOfLikes}}</td>
            <td class="hidden-xs">{{>sumOfShares}}</td>
        </tr>
    </script>

    <div id="addNetworkBuffer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Social Network</h4>
                    </div>
                    <div class="modal-body">
                        <div class="tabbable vertical-tab clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a class="active " data-toggle="tab" href="#twitter"><i class="ion-social-twitter-outline"></i><span>Twitter</span></a></li>
                                    <li><a data-toggle="tab" href="#facebook"><i class="ion-social-facebook-outline"></i><span>Facebook</span></a></li>
                               <!--      <li><a data-toggle="tab" href="#instagram"><i class="ion-social-instagram-outline"></i><span>Instagram</span></a></li>
                                    <li><a data-toggle="tab" href="#youtube"><i class="ion-social-youtube-outline"></i><span>Youtube</span></a></li> -->
                                    <!--                                <li><a data-toggle="tab" href="#media"><i class="ion-image"></i><span>Media</span></a></li>-->
                                </ul>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="tab-content clearfix border-all">
                                    <div id="twitter" class="tab-pane active">
                                        <h2>Add a Twitter Profile</h2>
                                        <p>To allow Octobuz access to your Twitter account, you must first give authorization from Twitter.com</p>

                                        <ul>
                                            <li class="authorizeTwitter"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                        </ul>


                                    </div>
                                    <div id="facebook" class="tab-pane">
                                        <h2>Add a Facebook Profile</h2>
                                        <p>To allow Octobuz access to your Facebook account, you must first give authorization from facebook.com</p>

                                        <ul>
                                            <li class="authorizeFacebook"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                        </ul>

                                    </div>
                                 <!--    <div id="instagram" class="tab-pane">s </div>
                                    <div id="youtube" class="tab-pane">s </div> -->
                                    <!--                                <div id="media" class="tab-pane"> s</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="social-media-inner">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="add-Snetwork">
                <span class="add-user">Accounts
										<a class="ion-plus-circled" data-toggle="modal" data-target="#addNetworkBuffer"> 
										</a>
									</span>
                <span class="refresh-outer">
                                    <a  class="refresh-btn">
                                        <i class="ion-loop refresh-button-buffer"></i>
                                        </a>
                                    </span>
            </div>
            <div class="management-users clearfix slimScrollUserList">

                <ul class="management-users-list userNamesList ">

                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <section class="panel panel-default column">
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div class="dataContentFbBar"></div>

                    <div class="management-users-content clearfix">
                        <div class="tabbable horizontal-tab clearfix">
                            <ul class="nav nav-tabs clearfix">
                                <li class="active"><a href="#stream" class="stream-buffer-section" data-toggle="tab">Stream</a></li>
                                <li><a data-toggle="tab" class="compose-section-new" href="#compose">Compose </a></li>
                                <li><a data-toggle="tab" class="generalReportAggregateFbBuffer" href="#facebook-analytics">Facebook Analytics </a></li>
                                <li><a data-toggle="tab" class="generalReportAggregateBuffer" href="#twitter-analytics">Twitter Analytics </a></li>
                                <!-- <li><a data-toggle="tab" class="generalReportAggregateBuffer" href="#facebook-insights">Facebook Insights </a></li> -->
                 <!--                <li><a data-toggle="tab" class="generalReportAggregateBuffer" href="#twitter-insights">Twitter Insights </a></li> -->

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active streams-buffer clearfix" id="stream">

                                    <!-- Twitter Tab  -->
                                    <ul class="nav nav-tabs twitter-tab-list" role="tablist">
                                        <li role="presentation" class="active"><a href="#tweets" aria-controls="home" role="tab" data-toggle="tab">My Tweets</a></li>
                                        <li role="presentation"><a href="#timeline" aria-controls="profile" role="tab" data-toggle="tab">Timeline</a></li>
                                        <li role="presentation"><a href="#mentions-tweet" aria-controls="messages" role="tab" data-toggle="tab">Mentions</a></li>
                                        <li role="presentation"><a href="#messages-tweet" aria-controls="settings" role="tab" data-toggle="tab">Messages</a></li>
                                    </ul>

                                    <!-- Twitter Tab Content  -->

                                    <div class="tab-content  twitter-tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="tweets">
                                            <div class="slimScrollStreamTweet">
                                                    <div class ="divtwitter-my-tweets"></div>
                                                    <ul class="vertical-list" id="twitter-my-tweets">
                                                    </ul>
                                              
                                            </div>
                                            <div class="userTweetStreamPagination" class="dark-theme simple-pagination pagination-topline">
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="timeline">
                                             <div class="slimScrollStreamTimeLine">

                                                <ul class="vertical-list" id="twitter-timelines">
                                                </ul>
                                             </div>

                                              <div class="userTimeLineStreamPagination" class="dark-theme simple-pagination pagination-topline">
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="mentions-tweet">
                                            <div class="slimScrollStreamMentions">

                                            <ul class="vertical-list" id="twitter-mentions">
                                            </ul>

                                          </div>

                                             <div class="userMentionStreamPagination" class="dark-theme simple-pagination pagination-topline">
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="messages-tweet">
                                            <div class="slimScrollStreamMessages">
                                            <ul class="vertical-list" id="twitter-messages">
                                            </ul>
                                           </div>
                                           <div class="userMessageStreamPagination" class="dark-theme simple-pagination pagination-topline">
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Facebook Tab  -->
                                    <ul class="nav nav-tabs fb-tab-list " role="tablist">
                                        <li role="presentation" class="active"><a href="#timeline-fb" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>

                                    </ul>

                                    <div class="tab-content fb-tab-content">

                                        <div role="tabpanel" class="tab-pane active" id="timeline-fb">
                                           <div class="slimScrollStreamFbTimeLine">
                                             <div class ="divFbTimeLine"></div>
                                             <ul class="vertical-list" id="fb-timeline">
                                            </ul>
                                          </div>
                                             <div class="userFbStreamPagination" class="dark-theme simple-pagination pagination-topline">
                                            </div>
                                        </div>
                                       

                                    </div>
                                </div>
                                <div class="tab-pane fade clearfix" id="compose">

                                    <div class="col-sm-12 col-md-8 col-lg-6">
                                        <div class="compose-top">
                                            <textarea name="textarea" placeholder="Type you are Message here ....." class="messageBoxMessage message-content-buffer form-control" id="textarea" class="form-control"></textarea>
                                        </div>
                                        <div class="compose-message">
                                            <span class="alert alert-success">Success! Content Posted.</span>

                                            <span class="text-center">
                                            <a class="btn btn-primary btn-xs">Post Another Content</a>
                                            </span>


                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-8 col-lg-6">

                                        <div class="compose-datepan clearfix">
                                            <div class="date-block">
                                                <div id="datepicker"></div>
                                            </div>
                                            <div class="time-block">
                                                <div id="floating_timepicker">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-8 col-lg-6">

                                        <div class="autoScheduleBuffer clearfix time-date-outer">
                                            <div class="social-date-block"> <span>
														 <input type="text" class="form-control" name="date" id="datepickerMan" disabled>
													</span>
                                                <div class="datepicker"></div>
                                            </div>
                                            <div class="social-time-block"><span>
														 <input type="text" class="form-control" name="time" id="timepickerMan" disabled>
													</span>
                                                <div class="timepicker"></div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="compose-footer">
                                            <button class="btn btn-primary btn-xs post-content-buffer" type="button">Schedule to Post</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="facebook-analytics">
                                    <ul class="list-inline">
                                    </ul>
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <div class="table-responsive">
                                            <table class="table  table-striped table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Page Name</th>
                                                        <th>User</th>
                                                        <th>Total Posts</th>
                                                        <th>Total Likes</th>
                                                        <th>Total Shares</th>
                                                    </tr>

                                                </thead>
                                                <tbody id="generalStatistics">

                                                </tbody>

                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>View Trends</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrends"></div>
                                                    <div id="viewsFbAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Top Views By Country</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentFb-Country-Pie"></div>
                                                    <div class="fb-country-pie"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="twitter-analytics">
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Mentions Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrendsMA"></div>
                                                    <div id="mentionsAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Followers Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrendsFOA"></div>
                                                    <div id="followersAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Followers Growth</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrendsFG"></div>
                                                    <div id="followersGrowth"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Favourites Aggregation</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrendsFA"></div>
                                                    <div id="favouritesAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>
                                    <!--  Media Sentiments -->
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Retweet Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrendsRA"></div>
                                                    <div id="retweetAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>



                                </div>
                                <div class="tab-pane fade" id="facebook-insights">
                                    <div class="fb-insight-heading">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>ACTIVITY ON YOUR POSTS</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body padding-15">
                                                <div class="insight-content">
                                                    <div class="tab-content">
                                                        <!--
                                                        <div class="tab-pane fade active in" id="click">
                                                            Please select user/users for inisights on click
                                                        </div>
-->
                                                        <div class="tab-pane fade" id="likes">
                                                            Please select user/users for insights on likes
                                                        </div>
                                                        <div class="tab-pane fade" id="comment">
                                                            Please select user/users for insights on comment
                                                        </div>
                                                        <div class="tab-pane fade" id="share">
                                                            Please select user/users for insights on share
                                                        </div>
                                                        <div class="tab-pane fade" id="reach">
                                                            Please select user/users for insights on reach
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-pills">
                                                        <!--
                                                        <li class="active" style="width: calc(20% - 1px);">
                                                            <a href="#click" data-toggle="tab">
                                                                <i class="fa fa-mouse-pointer"></i>
                                                            </a>
                                                        </li>
-->
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#likes" data-toggle="tab">
                                                                <i class="fa fa-thumbs-up"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#comment" data-toggle="tab">
                                                                <i class="fa fa-comment"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#share" data-toggle="tab">
                                                                <i class="fa fa-share-alt"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#reach" data-toggle="tab">
                                                                <i class="fa fa-users"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>ACTIVITY ON YOUR POSTS</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body padding-15">
                                                <div class="insight-content">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade active in" id="posts">
                                                            Please select user/users for insights on posts
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-pills">
                                                        <li class="active" style="width: calc(100% - 1px);">
                                                            <a href="#posts" data-toggle="tab">
                                                               Posts Published
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="twitter-insights">
                                    <div class="tw-insight-heading">
                                        <h4>Arun Mohan</h4>
                                        <h2 class="tw-insight-title">
				Your Social Insights for the Past 7 Days
				<span class="heading-deemphasized">Mar 2nd - Mar 9th</span>
			</h2>
                                        <h3 class="tw-insight-subtitle">
						In the past 7 days your posts' activity grew by <i class="m-neutral">0%</i>
					</h3>

                                    </div>

                                    <div class="col-md-6 col-sm-12 pad-r-15">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>ACTIVITY ON YOUR POSTS</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body padding-15">
                                                <div class="insight-content">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade active in" id="tab1">
                                                            Tab 1 content
                                                        </div>
                                                        <div class="tab-pane fade" id="tab2">
                                                            Tab 2 content
                                                        </div>

                                                    </div>
                                                    <ul class="nav nav-pills">
                                                        <li class="active" style="width: calc(50% - 1px);">
                                                            <a href="#totalfollowers" data-toggle="tab">Total Followers</a></li>
                                                        <li style="width: calc(50% - 1px);"><a href="#newfollowers" data-toggle="tab">New Followers</a></li>

                                                    </ul>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 pad-l-15">

                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>ACTIVITY ON YOUR POSTS</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body padding-15">
                                                <div class="insight-content">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade active in" id="click">
                                                            Tab 1 content
                                                        </div>
                                                        <div class="tab-pane fade" id="likes">
                                                            Tab 2 content
                                                        </div>
                                                        <div class="tab-pane fade" id="mentions">
                                                            Tab 3 content
                                                        </div>
                                                        <div class="tab-pane fade" id="retweet">
                                                            Tab 3 content
                                                        </div>
                                                        <div class="tab-pane fade" id="reach">
                                                            Tab 3 content
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-pills">
                                                        <li class="active" style="width: calc(20% - 1px);">
                                                            <a href="#click" data-toggle="tab">
                                                                <i class="fa fa-mouse-pointer"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#likes" data-toggle="tab">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#mentions" data-toggle="tab">
                                                                <i class="fa fa-reply"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#retweet" data-toggle="tab">
                                                                <i class="fa fa-refresh"></i>
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(20% - 1px);">
                                                            <a href="#reach" data-toggle="tab">
                                                                <i class="fa fa-users"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>ACTIVITY ON YOUR POSTS</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body padding-15">
                                                <div class="insight-content">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade active in" id="followers">
                                                            Tab 1 content
                                                        </div>
                                                        <div class="tab-pane fade" id="published">
                                                            Tab 2 content
                                                        </div>

                                                    </div>
                                                    <ul class="nav nav-pills">
                                                        <li class="active" style="width: calc(50% - 1px);">
                                                            <a href="#followers" data-toggle="tab">
                                                              New followers
                                                            </a>
                                                        </li>
                                                        <li style="width: calc(50% - 1px);">
                                                            <a href="#published" data-toggle="tab">
                                                               Posts Published
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>


        </article>
        </section>
    </div>

</div>



<!--    </div>-->
</div>


<script>
    $(function() {
        $(".datepicker").datepicker({
            dateFormat: 'mm-dd-yy',
            altField: '#datepickerMan',
            minDate: 0
                //            changeYear: true,
                //            changeMonth: true,
                //			onSelect: function(dateText, inst) {
                //			var day = dateText.split(",");            
                //				}
        });

        $(".fb-tab-list").hide();
        $(".fb-tab-content").hide();

    });
    var d = new Date;
    var hoursForTimePicker = d.getHours();
    var minutesForTimePicker = d.getMinutes();
    $(function() {
        $('.timepicker').timepicker({
            timeFormat: 'hh:mm:ss',
            altField: '#timepickerMan',
            //			  	showSecond: true,
            hourText: 'Hours',
            minuteText: 'Minutes',
            //                amPmText: ['AM', 'PM'],
            timeSeparator: ':',
            showLeadingZero: false,
            nowButtonText: 'Now',
            showNowButton: false,
            closeButtonText: 'English',
            showCloseButton: false,
            deselectButtonText: 'Désélectionner',
            showDeselectButton: false,
            //            hours: {
            //                starts: hoursForTimePicker, // First displayed hour
            //                ends: 23 // Last displayed hour
            //            },
            //			minutes:{
            //				starts: minutesForTimePicker,
            //				ends: 59,
            //				interval: 1
            //			},
            //  minTime: {                    // Set the minimum time selectable by the user, disable hours and minutes
            // 	hour: hoursForTimePicker,            // previous to min time
            // 	minute: minutesForTimePicker
            // }

        });
    });
    $(function() {
        console.log("window.......................", myWindow);
        window.close();

    });
</script>


<script>
    //    initTabStreams();
    var smmStateVariable = {
        timeLineTwitter: {},
        mentionsTwitter: {},
        messagesTwitter: {},
        tweetsTwitter: {},
        timeLineFb: {},
    };

    /*  var socialMediaManagement = new SocialMediaManagementClasses();
    globalObject = socialMediaManagement;
<<<<<<< HEAD
    globalObject.initTabStreams();*/
    /*   var socialMediaManagement = new SmmAccountManagementClasses();
      globalObject = socialMediaManagement;
      globalObject.initTabStreams();*/


    var socialMediaManagement = new SmmAccountManagementClasses();
    globalObject = socialMediaManagement;
    globalObject.initTab();
</script>


<!--
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                Success Massage here
            </div>
        </div>
    </div>
-->