<div id="block-facebook" class="clearfix">
    <script id="postsComments" type="text/x-jsrender">
        <p>{{>text}}</p>
    </script>


    <script id="tablefbPostsList" type="text/x-jsrender">
        <li class="border-b fb-cont-block fbsinglePost" parentId="{{>parentId}}">

            <div class="fb-content">
                <span class="fb-icon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                <h3><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>pageName}}</a></h3>
                <span class="fb-date">{{>datePosted}}</span>
                <p>{{>post}}</p>
                <span class="fb-image fb-img0"><img src="{{>image}}"></span>
            </div>
            <div class="fb-status clearfix">

                <span class="fb-like"><i class="ion-thumbsup"></i><strong>{{>likesCount}}</strong><font>Likes</font></span>

                <span class="fb-comts"><i class="ion-chatbox"></i><strong>{{>commentCount}}</strong><font>Comments</font></span>
                <span class="fb-share"> <i class="ion-android-share"></i><strong>{{>sharesCount}} </strong><font>Shares</font></span><span class="pull-right">
                       {{if sentiments == "Neutral"}}
                    <span class="neutral"></span> {{/if}} {{if sentiments == "Positive"}}
                <span class="positive"></span> {{/if}} {{if sentiments == "Negative"}}
                <span class="negative"></span> {{/if}} {{if sentiments == "Mixed"}}
                <span class="mixed"></span> {{/if}} {{>sentiments}}
                </span>


            </div>
        </li>

    </script>

    <script id="tablefbCommentList" type="text/x-jsrender">
        <li class="border-b fb-cont-block fbsingleComment" commentId="{{>commentId}}">
            <div class="fb-comment">
                <span class="comment-icon"></span>
                <h4>{{>user}}<span>{{>date}}</span></h4>
                <p>{{>text}}</p>
                <div class="comment-footer clearfix">
                    <span class="fb-like"><i class="ion-thumbsup"></i><strong>{{>likeCount}}</strong><font>Likes</font></span>
                    <span class="fb-comts"><i class="ion-chatbox"></i><strong>{{>commentsCount}}</strong><font>Comments</font></span>
                    <span class="pull-right">
                         {{if sentiment== "NEUTRAL"}}
                        <span class="neutral"></span> {{/if}} {{if sentiment== "POSITIVE"}}
                    <span class="positive"></span> {{/if}} {{if sentiment== "NEGATIVE"}}
                    <span class="negative"></span> {{/if}} {{if sentiment == "MIXED"}}
                    <span class="mixed"></span> {{/if}} {{>sentiment}}
                    </span>
                </div>

            </div>
        </li>
    </script>

    <script id="tablefbSubCommentList" type="text/x-jsrender">
        <li class="border-b fb-cont-block fbsingleSubComment" subCommentId="{{>subCommentId}}">
            <div class="fb-comment">
                <span class="comment-icon"></span>
                <h4>{{>user}}<span>{{>date}}</span></h4>
                <p>{{>text}}</p>
                <div class="comment-footer clearfix">
                    <span class="fb-like"><i class="ion-thumbsup"></i><strong>{{>likeCount}}</strong><font>Likes</font></span>
                    <span class="fb-comts"><i class="ion-chatbox"></i><strong>{{>commentCount}}</strong><font>Comments</font></span>
                    <span class="pull-right">
                         {{if sentiment== "NEUTRAL"}}
                             <span class="neutral"></span> {{/if}} {{if sentiment== "POSITIVE"}}
                    <span class="positive"></span> {{/if}} {{if sentiment== "NEGATIVE"}}
                    <span class="negative"></span> {{/if}} {{if sentiment == "MIXED"}}
                    <span class="mixed"></span> {{/if}} {{>sentiment}}
                    </span>
                </div>

            </div>
        </li>
    </script>

    <script id="tablePostsTrending" type="text/x-jsrender">
        <li class="clearfix border-b">
            <!--       
	   <div class="fb-head"> <div class="media-left image-fb{{:#index}}"><span ><img class="img-responsive"  src="{{>image}}"></span></div>
-->
            <div class="fb-body">
                <h5 class="page-name"><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>pageName}}</a> </h5>
                <span class="fb-date">{{>datePosted}}</span></div>
</div>
<div class="fb-body">
    <p><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>post}}</a>
        <span class="fb-image fb-img{{:#index}}"><img src="{{>image}}" ></span>
    </p>
    <div class="fb-content-bottom border-t">
        <span class="fb-like"><i class="ion-thumbsup"></i>{{>likesCount}} <font>Likes</font></span><span class="fb-share"> <i class="fa fa-share"></i>{{>sharesCount}} Shares</span><span>({{>sentiments}})</span></div>
</div>

<div class="fb-comments-pane">
    <ul class="fb-comment-list fb-comments-{{:#index}}"></ul>
</div>

</li>
</script>
<script id="tablePostsPositive" type="text/x-jsrender">
    <li class="clearfix border-b">
        <!--    
		 <div class="fb-head"> <div class="media-left image-fb-positive{{:#index}}"> <span><img class="img-responsive" src="{{>image}}"></span></div>
-->
        <div class="fb-body">
            <h5><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>pageName}} </a></h5>
            <span class="fb-date">{{>datePosted}}</span></div>


        </div>
        <div class="fb-body">
            <p><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>post}}</a>
                <span class="fb-image fb-positive-img{{:#index}}"><img src="{{>image}}" ></span>
            </p>
            <div class="fb-content-bottom border-t">
                <span class="fb-like"><i class="fa fa-thumbs-o-up"></i>{{>likesCount}} people Like this</span><span class="fb-share"><i class="fa fa-share"></i> {{>sharesCount}} Shares</span></div>
        </div>
    </li>
</script>
<script id="tablePostsNegative" type="text/x-jsrender">
    <li class="clearfix border-b">
        <!--
		<div class="fb-head"> <div class="media-left image-fb-negative{{:#index}}"><span> <img class="img-responsive" src="{{>image}}"></span></div>
-->
        <div class="fb-body">
            <h5><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>pageName}} </a></h5>
            <span class="fb-date">{{>datePosted}}</span></div>
        </div>
        <div class="fb-body">
            <p><a href="https://www.facebook.com/{{>idPosts}}" target="_blank">{{>post}}</a>
                <span class="fb-image fb-negative-img"><img src="{{>image}}" ></span>
            </p>
            <div class="fb-content-bottom border-t">
                <span class="fb-like"><i class="fa fa-thumbs-o-up"></i>{{>likesCount}} people Like this</span><span class="fb-share"> <i class="fa fa-share"></i>{{>sharesCount}} Shares</span></div>
        </div>
    </li>
</script>
<script id="pageDetails1" type="text/x-jsrender">
    <tr>
        <td class="hidden-x">
            <div class="checkbox" fieldType=influencers value="{{>pageName}}">
                <input class="pd1" type="checkbox" id="titcheckbox{{:#index}}">
                <label for="titcheckbox{{:#index}}">
                </label>
            </div>
        </td>
        <td class="hidden-xs">{{>pageName}}</td>
        <td class="hidden-xs"><span class="numbers">{{>pageCount}}</span></td>
    </tr>
</script>

<script id="docStatsTableFb" type="text/x-jsrender">
    <li class="clearfix border-b">
        <div class="fb-body">
            <h5 class="page-name"><a href={{>link}} target="_blank">{{>name}}</a></h5>
            <span class="fb-date">{{>date}}</span>
            <span class="fb-category">{{>category}}</span>
            <p>{{>text}}</a>
            </p>
        </div>
    </li>
</script>
<div class="main-data">
    <!--   Heading -->
    <section class="page-header clearfix">
        <h2>Facebook Stats</h2>
        <ul class="filter-tag tags" id="filter-result-fb">
        </ul>
    </section>
    <!--   Heading End -->
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Facebook Trends</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-clock-o"></i></a>
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li><a class="granularityPickerFb" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                    <li><a class="granularityPickerFb selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                    <li><a class="granularityPickerFb" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                    <li><a class="granularityPickerFb" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                    <li><a class="granularityPickerFb" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                    <li><a class="granularityPickerFb" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                    <li><a class="granularityPickerFb" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                </ul>
                            </li>
                            <!--                            <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div id="visits-chart" class="clearfix">
                        <div class="dataContentFbBar"></div>
                        <div id="fbAreaChart"> </div>
                    </div>
                </article>
                <footer class="panel-footer">
                    <div class="visits-info  well-sm clearfix">
                        <ul>
                            <li>
                                <div class="metrices">

                                    <span class="metric-name">
                    <p>Reach  <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of users interacted">
                        <i class="ion-help-circled"></i>
                        </a></p>
                                        
                    <i class="ion-wifi"></i> </span>
                                    <span class="numbers value" id="totalReach"></span> </div>

                            </li>
                            <!--
                            <li>
                                <div class="metrices"> <span class="metric-name">
                    <p>Unique Persons <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of tweets generated"> <i class="ion-help-circled"></i>
                        </a></p>
                    <i class="ion-ios-person"></i> </span> <span class="numbers value" id="uniquePersons"></span> </div>
                            </li>
-->
                            <li>
                                <div class="metrices"> <span class="metric-name">
                    <p>Total Pages<a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Number of pages analysed"> <i class="ion-help-circled"></i>
                        </a></p>
                    <i class="ion-document-text"></i> </span> <span class="numbers value" id="totalPages"></span> </div>
                            </li>
                            <li>
                                <div class="metrices"> <span class="metric-name">
                    <p>Total Posts <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of related posts"> <i class="ion-help-circled"></i>
                        </a></p>
                    <i class="ion-ios-compose"></i> </span> <span class="numbers value" id="totalPosts"></span> </div>
                            </li>
                            <li>
                                <div class="metrices"> <span class="metric-name">
                    <p>Total Likes  <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of likes"> <i class="ion-help-circled"></i>
                        </a></p>
                    <i class="ion-thumbsup"></i> </span> <span class="numbers value" id="totalLikes"> </span> </div>
                            </li>
                            <li>
                                <div class="metrices"> <span class="metric-name">
                    <p>Total Shares <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of shares"> <i class="ion-help-circled"></i>
                        </a></p>
                    <i class="ion-android-share-alt"></i> </span> <span class="numbers value" id="totalShares"></span> </div>
                            </li>
                        </ul>
                    </div>
                </footer>
                <!--   ../article END -->
            </section>
            <!--   ../panel panel-default END -->
        </div>

        <div class="col-sm-4 col-md-4  col-lg-4">

            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Sentiments Chart</h4>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div class="dataContentFbPie"></div>
                    <div id="chartSenti" class="clearfix">
                        <div id="fbChartPie"></div>
                    </div>
                </article>
                <!--   ../article END -->
            </section>
            <!--   ../panel panel-default END -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6  col-lg-8">
            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Comb Graph</h4>
                </header>
                <article class="clearfix panel-body">
                    <div class="panel-content clearfix">
                        <div class="dataContentFoamtreeFb"></div>
                        <div id="foamtreeFb" style="width: 100%; height: 500px"></div>
                    </div>
                </article>
            </section>
        </div>
        <div class="col-sm-12 col-md-6  col-lg-4">
            <!--   panel panel-default start -->
            <section class="panel panel-default  column">

                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Pages Info</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerFb selectedGran"><span>10</span></a></li>
                                    <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerFb"><span >20</span></a></li>
                                    <li><a sizevalue="50" sizeidentifier="tagss" class="sizePickerFb"><span >50</span></a></li>
                                    <li><a sizevalue="100" sizeidentifier="tagss" class="sizePickerFb"><span>100</span></a></li>
                                    <li><a sizevalue="200" sizeidentifier="tagss" class="sizePickerFb"><span >200</span></a></li>
                                </ul>
                            </li>
                            <li><a class="download-btn downloadLinkFb tool-icon" downloadtokenFb="pagesCSV"><i class="fa fa-download"></i></a> </li>
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div class="facebook-pageinfo slimScrollPage">
                        <div id="no-more-tables" class="table-responsive">
                            <table class="table col-md-12 table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th>Select</th>
                                        <th>Page</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody id="pageDetails-1">
                                    <div class="dataContentFbPages"></div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>

                <!--   ../article END -->
            </section>
            <!--   ../panel panel-default END -->

        </div>
    </div>

    <!-- <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      
        <section class="panel panel-default column">
          
            <header class="clearfix panel-heading">
                <h4>Facebook Comments- Week Day Trends</h4>
                <div class="widget-tool">
                    <ul>
                
                    </ul>
                </div>
            </header>
           
            <article class="clearfix panel-body">
                <div id="visits-chart" class="clearfix">
                    <div id="fbAreaChartCommentsWeekDays">
						  <div class="dataContentFbBarCommentsWeekDays"></div>
					</div>
                </div>
            </article>

         
        </section>
      
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
       
        <section class="panel panel-default column">
         
            <header class="clearfix panel-heading">
                <h4>Facebook Comments- Hourly Trends</h4>
                <div class="widget-tool">
                    <ul>

                    </ul>
                </div>
            </header>
         
            <article class="clearfix panel-body">
                <div id="visits-chart" class="clearfix">
                    <div id="fbAreaChartCommentsHourlyStats"> 
						  <div class="dataContentFbBarCommentsHourlyStats"></div>
					</div>
                </div>
            </article>

          
        </section>

    </div>

</div> -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Facebook Comments-Hourly Heat Map</h4>
                    <div class="widget-tool">
                        <ul>
                            <!--                            <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div id="visits-chart" class="clearfix">
                        <div id="fbHourlyHeatMap">
                            <div class="dataContentfbHourlyHeatMap"></div>
                        </div>
                    </div>
                </article>

                <!--   ../article END -->
            </section>
            <!--   ../panel panel-default END -->
        </div>

    </div>





    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Trending Posts</h4>
                    <div class="widget-tool">
                        <ul>
                            <li><a downloadtokenFb="postsCSV" class="download-btn downloadLinkFb tool-icon" id="html-options"><i class="fa fa-download"></i></a></li>
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div class="facebook-post-block clearfix">
                        <div class="col-sm-12 col-md-5 col-lg-5">

                            <div class="fb-post-inner column">
                                <div class="post-inner-head clearfix">
                                    <h3>Post</h3>
                                    <div class="widget-tool">
                                        <ul>
                                            <li class="dropdown"> <a class=" dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                                <ul class="dropdown-menu inner selectpicker postSortType">
                                                    <li value="date"><a class="PostPicketFb selectedGran" postValue="created_at"><span class ="">Date</span></a></li>
                                                    <li value="shares"><a class="PostPicketFb " postValue="sharesCount"><span class ="">Shares</span></a></li>
                                                    <li value="shares"><a class="PostPicketFb " postValue="CommentsSummary.commentsCount"><span class ="">Comments</span></a></li>
                                                    <li value="likes"><a class="PostPicketFb" postValue="likesCount"><span class ="">Likes</span></a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="slimScrollFbPost">

                                    <ul class="vertical-list" id="postListFb"></ul>
                                    <div class="dataContentTrendingPost"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="fb-post-inner column">
                                <div class="post-inner-head clearfix">
                                    <h3>Comments</h3>
                                    <div class="widget-tool">
                                        <ul>
                                            <li class="dropdown"> <a class=" dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                                <ul class="dropdown-menu inner selectpicker commentSortType">
                                                    <li value="date"><a class="CommentPicketFb selectedGran" postValue="created_at"><span class ="">Date</span></a></li>
                                                    <li value="shares"><a class="CommentPicketFb " postValue="commentsCount"><span class ="">Comments</span></a></li>
                                                    <li value="likes"><a class="CommentPicketFb" postValue="likesCount"><span class ="">Likes</span></a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="slimScrollFbComments">
                                    <ul class="vertical-list" id="commentstListFb"> </ul>
                                    <div class="dataContentCommentList"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="fb-post-inner column no-border">
                                <div class="post-inner-head clearfix">
                                    <h3>Sub Comments</h3>
                                    <div class="widget-tool">
                                        <ul>
                                            <li class="dropdown"> <a class=" dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                                <ul class="dropdown-menu inner selectpicker subCommentSortType">
                                                    <li value="date"><a class="SubCommentPicketFb selectedGran" postValue="created_at"><span class ="">Date</span></a></li>
                                                    <!--<li value="shares"><a class ="SubCommentPicketFb "postValue ="commentsCount"><span class ="">Comments</span></a></li> -->
                                                    <li value="likes"><a class="SubCommentPicketFb" postValue="likesCount"><span class ="">Likes</span></a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="slimScrollFbComments">
                                    <ul class="vertical-list" id="subCommentstListFb"> </ul>
                                    <div class="dataContentSubCommentList"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </section>
        </div>
    </div>

</div>
</div>
<div id="myModalFb" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Source Details</h4>
                <div class="widget-tool">
                    <ul>
                        <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu inner selectpicker" role="menu">
                                <li class="selected"><a sizevalue="10" sizeidentifier="sourceSize" class="sizePickerModalFb selectedGran"><span>10</span></a></li>
                                <li><a sizevalue="20" sizeidentifier="sourceSize" class="sizePickerModalFb"><span >20</span></a></li>
                                <li><a sizevalue="50" sizeidentifier="sourceSize" class="sizePickerModalFb"><span >50</span></a></li>
                            </ul>
                        </li>
                        <li><a downloadtokenAnalyticsFb="foamTreeCsvFb" class="download-btn downloadLinkModalFoamFb tool-icon" id="html-options"><i class="fa fa-download"></i></a> </li>
                    </ul>
                </div>
            </div>

            <div class="modal-body flexcontainer slimScrollComboModalFb">
                <ul class="vertical-list" id="docStatsFb">
                </ul>

            </div>
            <div class="modal-footer">
                <div id="pagination"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.column').matchHeight();
        $('.key').tooltip();

    });
    //    initTabFb();
    var faceBookAnalytics = new FacebookClasses();
    globalObject = faceBookAnalytics;
    globalObject.initTab();


    //     $('body').on('scroll','.slimScrollTrending', function() {
    //       alert("dfgh");
    // });

    //     $('.slimScrollTrending').scroll(function(){
    //         alert("czv");
    //       // alert($('.slimScrollTrending').scrollTop()); 

    //     });
</script>