<div class="no-access-permission">
                <section class="panel panel-default">
                    <article class="panel-body clearfix text-center">
                        <h2> no access permission</h2>
                    </article>
                </section>
</div>