<div id="block-dashboard" class="clearfix">
    <script id="hashTagTable1" type="text/x-jsrender">
        <tr>
            <td class="hidden-xs">{{>key}}</td>
            <td class="hidden-xs"><span class="numbers">{{>count}}</span></td>
        </tr>
    </script>


    <script id="docStatsTable" type="text/x-jsrender">
        <li class="clearfix">
            <div class="tweet-profile left-right-switcher-trt{{:#index}}">
                <span class="prof-image">
												<img alt="" class="img-circle" src="{{>image}}">
											</span>
                <span class="prof-name">
												{{>authorShort}}
											</span>
            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>author}}" target="_blank">{{>author}}</a></h3>
                <small class="tweet-date">{{>date}}</small>
                <p><a href="https://twitter.com/{{>screen_name}}/status/{{>id}}" target="_blank">
							{{>text}}
						</a></p>
                <span class="tweet-senti-foam-{{:#index}}">{{>senti}}</span>
            </div>
        </li>

    </script>
    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Dashboard</h2>
            </ul>
        </section>
        <!--   Heading End -->
        <div class="row">

            <!--  Media Sentiments -->
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Social Media Statistics</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeMultiPie"></div>
                            <div id="chartHomeMultiPie"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>News Media Statistics</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeMediaStats"></div>
                            <div id="chartHomeMediaStats"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
        </div>
        <div class="row">

            <!--  Media Sentiments -->
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Tweet Trends</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeTrends"></div>
                            <div id="chartHomeTrends"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Social Media Sentiments</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeSocialSenti"></div>
                            <div id="chartHomeSocialSenti"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6  col-lg-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Key Hash Tags</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->

                    <article class="clearfix panel-body column">
                        <div class="facebook-pageinfo flexcontainer slimScrollTableHome">
                            <div id="no-more-tables" class="table-responsive">
                                <table class="table col-md-12 table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>

                                            <th>Tag</th>
                                            <th>Count</th>

                                        </tr>
                                    </thead>
                                    <tbody id="hashTagTable">
                                        <div class="dataContentHashTagTable"></div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>

            <div class="col-sm-12 col-md-6  col-lg-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default">

                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Comb Graph</h4>
                    </header>

                    <article class="clearfix panel-body column">
                        <div class="panel-content clearfix">
                            <div class="dataContentFoamtreeListening"></div>
                            <div id="foamtreeHome" style="width: 100%; height:520px"></div>
                        </div>
                    </article>
                </section>
            </div>

        </div>

    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Source Details</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li class="selected"><a sizevalue="10" sizeidentifier="sourceSize" class="sizePickerModalAnalytics selectedGran"><span>10</span></a></li>
                                    <li><a sizevalue="20" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >20</span></a></li>
                                    <li><a sizevalue="50" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >50</span></a></li>
                                </ul>
                            </li>
                            <li><a downloadtokenAnalyticsTwitter="foamTreeCsv" class="download-btn downloadLinkModalFoamTwitter tool-icon" id="html-options"><i class="fa fa-download"></i></a> </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body flexcontainer slimScrollComboModalHome">
                    <ul class="vertical-list" id="docStats">
                    </ul>
                </div>
                <div class="modal-footer">
                    <div id="pagination"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // initTabHome();
</script>

<script>
    var dashboardObject = new Dashboard();
    globalObject = dashboardObject;
    globalObject.initTab();
</script>