<div id="block-instagram" class="clearfix">
    <div class="main-data">
    <script id="pageDetails1" type="text/x-jsrender">
        <tr>
            <td class="hidden-x">
                <div class="checkbox" fieldType=influencers value="{{>name}}">
                    <input class="trends1" type="checkbox" id="titcheckbox{{:#index}}">
                    <label for="titcheckbox{{:#index}}">
                    </label>
                </div>
            </td>
            <td class="hidden-xs">{{>name}}</td>
            <td class="hidden-xs"><span class="numbers">{{>count}}</span></td>
        </tr>
    </script>
    <section id="filtertag-container">
        <ul class="tags" id="filter-result-instagram">
        </ul>
    </section>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <!--   panel panel-default start -->
            <section class="panel panel-default flexcontainer column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Instagram Trends</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-clock-o"></i></a>
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li><a class="granularityPickerInsta" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                    <li><a class="granularityPickerInsta selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                    <li><a class="granularityPickerInsta" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                    <li><a class="granularityPickerInsta" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                    <li><a class="granularityPickerInsta" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                    <li><a class="granularityPickerInsta" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                    <li><a class="granularityPickerInsta" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                </ul>
                            </li>
<!--                            <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div id="visits-chart" class="clearfix flexcontainer">
                        <div class="dataContentInstaTrend"></div>
                        <div id="instaTrendGraph"> </div>
                    </div>
                </article>
                <!--   ../article END -->

                <footer class="panel-footer">
                    <div class="visits-info  well-sm clearfix">
                        <ul>
                            <li>
                                <div class="metrices"> <span class="metric-name">
					   <p>Reach<a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of users involved"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-wifi"></i> </span> <span class="numbers value" id="totalPhotos"></span> </div>
                            </li>
                            <li>
                                <div class="metrices"> <span class="metric-name">
                      <p>Likes <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of likes recieved"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-thumbsup"></i> </span> <span class="numbers value" id="likesInsta"></span> </div>
                            </li>
                            <li>
                                <div class="metrices"> <span class="metric-name">
                      <p>Comments <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of comments recieved"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-chatbox-working"></i> </span> <span class="numbers value" id="commentsInsta"></span> </div>
                            </li>
                        </ul>
                    </div>
                </footer>
                <!--   Footer END -->
            </section>
            <!--   ../panel panel-default END -->
        </div>
        <div class="col-md-4 col-sm-4">
            <!--   panel panel-default start -->
            <section class="panel panel-default flexcontainer column">

                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Source Table</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i>Size</a>
                                <ul class="dropdown-menu inner selectpicker" role="menu">
                                    <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerInstagram selectedGran"><span>10</span></a></li>
                                    <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerInstagram"><span >20</span></a></li>
                                    <li><a sizevalue="50" sizeidentifier="tags" class="sizePickerInstagram"><span >50</span></a></li>
                                    <li><a sizevalue="100" sizeidentifier="tags" class="sizePickerInstagram"><span >100</span></a></li>
                                    <li><a sizevalue="100" sizeidentifier="tags" class="sizePickerInstagram"><span >200</span></a></li>
                                </ul>
                            </li>
                            <li><a class="download-btn downloadLinkInsta tool-icon" downloadtokenInsta="tagCount"><i class="fa fa-download"></i>Download </a> </li>
                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">     
                    <div class="tweet-analystics flexcontainer">
                        <div id="no-more-tables" class="table-responsive">
                            <table class="table col-md-12 table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th>Select</th>
                                        <th>Tag Name</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody id="pageDetails-1">
										<div class="dataContentInstaTable"></div>                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
                <!--   ../article END -->
            </section>
            <!--   ../panel panel-default END -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 ">
            <!--   panel panel-default start -->
            <section class="panel panel-default column">
                <!--   Header start -->
                <header class="clearfix panel-heading">
                    <h4>Source Table</h4>
                    <div class="widget-tool">
                        <ul>
                            <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="sortSelector likeSort"><span >Like</span></a></li>
                                    <li><a class="sortSelector commentSort"><span >Comments</span></a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </header>
                <!--   ../Header END -->
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div id="galleryherepls" class="clearfix">
					                    <div class="dataContentInstaGallerya"></div>
					</div>
                    <div id="pagination"> </div>
                </article>
                <!--   ../article END -->

            </section>
            <!--   ../panel panel-default END -->
        </div>
    </div>
</div>
</div>

 <script>
         $(document).ready(function() {
        $('.key').tooltip();
    });

   var instagram = new Instagram();
   globalObject=instagram;
   globalObject.initTab();

 </script>