<div id="block-media" class="clearfix">
    <script id="tableField" type="text/x-jsrender">
        <tr>
            <td class="hidden-xs">{{>sourceName}}</td>
            <td class="hidden-xs">{{>actualTimeStamp}}</td>
            <td class="hidden-xs">{{>tags}}</td>
            <td class="hidden-xs"><a href="{{>link}}" target="_blank">{{>title}}</a> </td>
        </tr>
    </script>
    <!--	SOURCE-->
    <script id="tableSource" type="text/x-jsrender">
        <tr>
            <td data-title="Code" class="hidden-x">
                <div class="checkbox sourceCb" fieldType="SourceName" value={{>source}}>
                    <input class="s1" type="checkbox" id="s1checkbox{{:#index}}">
                    <label for="s1checkbox{{:#index}}">
                    </label>
                </div>
            </td>
            <td class="hidden-xs">{{>source}}</td>
            <td class="hidden-xs">{{>count}}</td>
        </tr>
    </script>
    <script id="tableSource2" type="text/x-jsrender">
        <tr>
            <td class="hidden-x">
                <div class="checkbox sourceCb" fieldType="SourceName" value={{>source}}>
                    <input class="s2" type="checkbox" id="s2checkbox{{:#index}}">
                    <label for="s2checkbox{{:#index}}">
                    </label>
                </div>
            </td>
            <td class="hidden-xs">{{>source}}</td>
            <td class="hidden-xs">{{>count}}</td>
        </tr>
    </script>
    <script id="tableSource3" type="text/x-jsrender">
        <tr>
            <td class="hidden-x">
                <div class="checkbox sourceCb" fieldType="SourceName" value={{>source}}>
                    <input class="s3" type="checkbox" id="s3checkbox{{:#index}}">
                    <label for="s3checkbox{{:#index}}">
                    </label>
                </div>
            </td>
            <td class="hidden-xs">{{>source}}</td>
            <td class="hidden-xs">{{>count}}</td>
        </tr>
    </script>

    <!--	STATE-->
    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Media Stats</h2>
            <ul class="filter-tag tags" id="filter-result-media">
            </ul>
        </section>
        <!--   Heading End -->
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default">

                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Maps</h4>
                        <div class="widget-tool"></div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body column">
                        <div class="dataContentMediaMap"></div>
                        <div id="chartMediaMap"></div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
            <!--  Media Sentiments -->
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Sentiment Chart</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body column">
                        <div id="chartSenti" class="clearfix flexcontainer">
                            <div id="mediaChartPie">
                                <div class="dataContentMediaPie"></div>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
        </div>
        <!--	second row-->
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Media Trends</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-clock-o"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a class="granularityPickerMedia" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                        <li><a class="granularityPickerMedia selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                        <li><a class="granularityPickerMedia" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                        <li><a class="granularityPickerMedia" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                        <li><a class="granularityPickerMedia" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                        <li><a class="granularityPickerMedia" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                        <li><a class="granularityPickerMedia" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                    </ul>
                                </li>
                                <!--                        <li><a class="download-btn downloadLinkMedia" downloadtokenMedia="graphMedia"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix column">
                        <div class="dataContentMediaTrends"></div>

                        <div id="visits-chart" class="clearfix flexcontainer">
                            <div id="mediaColumnTotal"> </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
            <!--source table-->
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default">

                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Source Table</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerMedia selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerMedia"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tags" class="sizePickerMedia"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tags" class="sizePickerMedia"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tags" class="sizePickerMedia"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLinkMedia tool-icon" downloadtokenMedia="mediaCount"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body column">
                        <div class="dataContentMediaSource"></div>
                        <div class="tweet-analystics flexcontainer slimScrollTable">
                            <div id="no-more-tables" class="table-responsive">
                                <table class="table col-md-12 table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>
                                            <th>Select</th>
                                            <th>Trending Tags</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sourceTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>


        </div>

        <!--  Third Row -->
        <div class="row ">
            <!--  Media Source Table -->
            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">

                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>News Board</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                    <ul class="dropdown-menu inner selectpickerSortMedia" role="menu">

                                        <li><a sortidentifier="desc" class="sortPickerMedia"><span>Recent </span></a></li>
                                        <li><a sortidentifier="asc" class="sortPickerMedia"><span>Oldest</span></a></li>

                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i>Size</a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerMedia selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerMedia"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tags" class="sizePickerMedia"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tags" class="sizePickerMedia"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tags" class="sizePickerMedia"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLinkMedia tool-icon" downloadtokenMedia="linkCount"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentMediaNews"></div>
                        <!--
                <div class="news-highlights">
                    <ul class="news-highlights-ul">
                    </ul>
                </div>
-->
                        <div id="no-more-tables news-highlights">
                            <table class="table col-md-12 table-striped table-condensed cf">
                                <thead>
                                    <tr>
                                        <th>News</th>
                                        <th>Posted Date</th>
                                        <th>Source</th>
                                        <th>Sentiments</th>
                                    </tr>
                                </thead>
                                <tbody class="news-highlights-ul">
                                    <!--
    <tr >
     </tr>
-->
                                </tbody>
                            </table>
                        </div>
                    </article>
                    <div id="media-pagination"></div>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
            <!--  Media News Board -->

        </div>

        <!--  Third Row -->

    </div>
</div>
<script>
    var mediaAnalytics = new MediaClasses();
    globalObject = mediaAnalytics;
    globalObject.initTab();
</script>