<div id="social-media" class=" clearfix">
    <div class="report-generate">
        <ul class="list-inline">
            <li>
                <div class="select-user dropdown">
                    <a class="dropdown-toggle clearfix" data-toggle="dropdown">
                        <span class="current-report-user-individual-fb">Slect User</span>

                        <span class="drop-arrow pull-right"><i class="ion-ios-arrow-down"></i></span>
                    </a>
                    <span class="user-refresh refresh-individual-fb"><i class="ion-loop"></i></span>
					<div class="dropdown-menu">
						<div class="slimScrollIndividual">				
					 <ul class="report-list-individual report-dropdown-individual-fb">
						 </div>
					</div>
					
					<li><a class="btn btn-default generalReportIndividualFb" action="views" name="Page Views"><i class="ion-arrow-return-left"></i> General Stats</a></li>
            <li><a class="btn btn-default viewsTimeLineIndividualFb" action="views" name="Views Trends"><i class="ion-arrow-return-left"></i> Views Timeline</a></li>
            <li><a class="btn btn-default viewsByCountryIndividualFb" action="country" name="Views By Country"><i class="ion-arrow-return-left"></i> Views By Country</a></li>
						
					</ul>
				   

                </div>

            </li>
       
<!--
            <li><a class="btn btn-default likesReportIndividualFb" action="likes" name="Likes Trends"><i class="ion-person"></i> Followers Growth</a></li>
            <li><a class="btn btn-default unlikesReportIndividualFb" action="unlikes" name="Unilikes Trends"><i class="ion-chatbubble-working"></i>  Mentions</a></li>
-->
        </ul>

    </div>
    <div class="main-data">
        <div class="row">
            <div class="report-graphs-placement-individual-fb">
            </div>
            <div class="generic-stats-outer">
                <div class="generic-stats-placement-individual-fb">
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    initTabIndividualReportFb();
</script>