<div id="social-media" class=" clearfix">
    <div class="report-generate">
        <ul class="list-inline">
            <li>

                <div class="select-user dropdown">
                    <a class="dropdown-toggle clearfix" data-toggle="dropdown">
                        <span class="current-report-user">Select Users</span>

                        <span class="drop-arrow pull-right"><i class="ion-ios-arrow-down"></i></span>
                    </a>
                    <span class="user-refresh refresh-aggregate"><i class="refresh-all ion-loop"></i></span>
                    <!--                    <div class="slimScrollAggregate">-->
                    <ul class="dropdown-menu aggregate-dropdown report-dropdown-aggregate">
                    </ul>
                    <!--                    </div>-->
                </div>

            </li>
            <li><a class="btn btn-default generalReportAggregate" action="general" name="General Stats"><i class="ion-arrow-return-left"></i> Generate Aggregate Reports</a></li>
            <!--
            <li><a class="btn btn-default retweetReportAggregate" action="retweets" name="Retweets Trends"><i class="ion-arrow-return-left"></i> Retweets</a></li>
            <li><a class="btn btn-default followerReportAggregate" action="followers" name="Followers Growth"><i class="ion-person"></i> Followers Growth</a></li>
            <li><a class="btn btn-default mentionsReportAggregate" action="mentions" name="Mentions Stats"><i class="ion-chatbubble-working"></i>  Mentions</a></li>
-->
        </ul>

    </div>

    <div class="main-data">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Mentions Aggregates</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeTrends"></div>
                            <div id="mentionsAggregate"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>

            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Followers Aggregates</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeTrends"></div>
                            <div id="followersAggregate"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
            <!--  Media Sentiments -->
            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Retweet Aggregates</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="clearfix flexcontainer">
                            <div class="dataContentChartHomeTrends"></div>
                            <div id="retweetAggregate"></div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
        </div>
    </div>
</div>
<script>
    initTabAggregate();
</script>