<div id="social-media" class=" clearfix">
    <div class="report-generate">
        <ul class="list-inline">
            <li>
                <div class="select-user dropdown">
                    <a class="dropdown-toggle clearfix" data-toggle="dropdown">
                        <span class="current-report-user">Slect User</span>

                        <span class="drop-arrow pull-right"><i class="ion-ios-arrow-down"></i></span>
                    </a>
                    <span class="user-refresh"><i class="refresh-individual ion-loop"></i></span>

                    <div class="dropdown-menu user-dropdown ">
                        <div class="slimScrollIndividual">
                            <ul class="report-list report-dropdown-individual"></ul>
                        </div>
                    </div>

                </div>

            </li>
            <li><a class="btn btn-default generalReportIndividual" action="general" name="General Stats"><i class="ion-arrow-return-left"></i> General Stats</a></li>
            <li><a class="btn btn-default retweetReportIndividual" action="retweets" name="Retweets Trends"><i class="ion-arrow-return-left"></i> Retweets</a></li>
            <li><a class="btn btn-default followerReportIndividual" action="followers" name="Followers Growth"><i class="ion-person"></i> Followers Growth</a></li>
            <li><a class="btn btn-default mentionsReportIndividual" action="mentions" name="Mentions Stats"><i class="ion-chatbubble-working"></i>  Mentions</a></li>
        </ul>

    </div>
    <div class="main-data">
        <div class="row">
            <div class="report-graphs-placement">
            </div>
            <div class="generic-stats-outer">
                <div class="generic-stats-placement">
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    initTabReport();
</script>