<script id="time-line-fb" type="text/x-jsrender">
    <li>
        <div class="messageBody">
            <h4>{{>pageName}}</h4>
            <span class="messageDescription">
            <p>{{>text}}</p>
            <span class="stream-footer">Likes<span>{{>likesCount}}</span></span>
            <span class="stream-footer">Sharts<span>{{>sharesCount}}</span></span>
        </div>
    </li>
</script>

<script id="message-render" type="text/x-jsrender">
    <li>
        <div class="messageBody">
            <a class="social-avathar"><img src="{{>image}}"></a>
            <h4>{{>name}}</h4>
            <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
            <p>{{>message}}</p>
        </div>
    </li>
</script>
<script id="time-line" type="text/x-jsrender">
    <li>
        <div class="messageBody">
            <a class="social-avathar"><img src="{{>image}}"></a>
            <h4>{{>name}}</h4>
            <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
            <p>{{>tweet}}</p>
            <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
            <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
        </div>
    </li>
</script>

<script id="mentions" type="text/x-jsrender">
    <li>
        <div class="messageBody">
            <a class="social-avathar"><img src="{{>image}}"></a>
            <h4>{{>name}}</h4>
            <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
            <p>{{>tweet}}</p>
            <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
            <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
        </div>
    </li>
</script>

<script id="tweets-render" type="text/x-jsrender">
    <li>
        <div class="messageBody">
            <a class="social-avathar"><img src="{{>image}}"></a>
            <h4>{{>name}}</h4>
            <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
            <p>{{>tweet}}</p>
            <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
            <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
        </div>
    </li>
</script>
<div id="social-media" class=" clearfix">
    <div class="social-compose">
        <div class="messageBoxContainer collapsed">
            <div class="profileSelectorWidget">
                <div class="profileSelectorWrapper clearfix">
                    <div class="selectedList clearfix">
                        <div class="selectedListBlock"> <span class="send-to">Send to</span>
                            <span class="search-icon">
            <i class="ion-ios-search-strong"></i>
            </span>
                            <input type="text" placeholder="Select profiles…" value="" class="profile-feild">
                        </div>
                        <div class="select-tool">
                            <a id="refresh-compose"><i class="refresh-all ion-loop"></i></a>
                            <div class="profile-catogery dropdown">

                                <a href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="ion-ios-arrow-down refresh-all"></i></a>

                                <!--
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">None</a></li>
                                    <li><a href="#">Favorites</a></li>
                                </ul>
-->
                            </div>
<!--                             <button type="button" class="btn btn-primary btn-xs select-profiles">Select profiles</button>-->
                        </div>
                    </div>
                    <div class="profile-picker">
                        <div class="profile-list slimScrollCompose">
                            <ul class="vertical-list compose-dropdown">
                                <!--
                                <li><span class="media-icon"></span> Dinoop Nair <i class="ion-star"></i> <i class="ion-pin"></i> </li>
                                <li><span class="media-icon"></span>Add a social network<i class="ion-plus"></i> </li>
-->
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="messageSection">
                <div class="message-inner">
                    <div class="composerWidget composerBox">
                        <textarea placeholder="compose Message" class="messageBoxMessage message-content" autocomplete="off"></textarea>
                    </div>
                    <div class="controls">
                        <a class="ion-android-attach"></span>
                            <a class="ion-android-pin location-trigger">
                                <a class="ion-calendar calendar-trigger">
                                </a>
                    </div>
                    <div class="messageTools clearfix">
                        <span class="message-feild"><input type="text"   class="form-control" paceholder="Text here"></span></div>
                </div>
                <div class="autoSchedule clearfix">
                    <div class="date-pane"> <span>
						 <input type="text" class="form-control" name="date" id="datepickerMan" disabled>
					</span>
                        <div class="datepicker"></div>
                    </div>
                    <div class="time-pane"><span>
						 <input type="text" class="form-control" name="time" id="timepickerMan" disabled>
					</span>
                        <div class="timepicker"></div>
                    </div>
                </div>
                <div class="location-indicator clearfix">
                    <div class="location-pane">
                        <span class="location-name">
<!--						 <input type="text" class="form-control location-name" placeholder="location-details">-->
					</span>
                    </div>
                </div>
                <div class="compose-footer">
                    <span>
<!--              <button type="button" class="btn btn-primary btn-xs">Clear</button>-->
              </span>
                    <span>
<!--                        <button type="button" class="btn btn-primary btn-xs">Save </button>-->
                        </span>
                    <span>
              <button type="button" class="btn btn-primary btn-xs post-content">Schedule to Post</button>
              </span>
                </div>
            </div>

        </div>
    </div>
    <div class="social-tab horizontal-tab">

        <ul id="pageTab" class="nav nav-tabs">
            <li class="active"><a href="#page1" data-toggle="tab">Page1</a></li>
            <a href="javascript:;" id="btnAddPage" role="button">
                <i class="ion-plus"></i>
            </a>
        </ul>
    </div>
</div>
<div class="social-controls clearfix">

    <!--
    <span class="social-refresh"><a href="#" class="btn btn-default">
       <span class="refresh-icon ion-android-refresh"></span>
    <span class="down-arrow ion-ios-arrow-down"></span>
    </a>
    </span>
-->
    <span><a href="#" class="btn btn-default" data-toggle="modal" data-target="#addStream"><i class="ion-plus-circled"></i> Add Stream</a></span>
    <span><a href="#" class="btn btn-default" data-toggle="modal" data-target="#addNetwork"><i class="ion-plus-circled"></i> Add Social Network</a></span>
    <div id="slider" class="pull-right"></div>
</div>
<div id="streams-widget">
    <div id="pageTabContent" class="tab-content ">
        <div class="tab-pane stream-tab active clearfix sortable" id="page1">
            <span class="twitter-select">
            
            </span>
        </div>
    </div>

</div>

</div>

            <!--  Media Sentiments -->
            
<script>
    streamsDropdown();
    streamsAddTabFunction();
    initTabStream();
    //	var socialMediaManagement = new SocialClasses();
    //	var socialMediaManagementGlobal = socialMediaManagement;
    //	socialMediaManagementGlobal.initTabStream();
</script>
<!--
<script type="text/javascript">
    $(".twitter-select").select2({
        placeholder: "Select a state"
    });
</script>
-->
<script>
    $(function() {
        $(".sortable").sortable();
        $(".sortable").disableSelection();
    });
    $('#slider').slider({
        value: 0,
        slide: handleSliderChange
    });

    function handleSliderChange(event, slider) {
        var widthParameter = $('.stream-tab > div').length;
        var parentWidth = (slider.value) * (widthParameter);


        if (slider.value < 25) {
            $('#pageTabContent').css('width', 300 * (widthParameter) + 50 + 'px');
            $('.social-item').css('width', 300 + 'px');
        } else {
            $('#pageTabContent').css('width', 30 * parentWidth + 50 + 'px');
            $('.social-item').css('width', 30 * slider.value + 'px');
        }


    }



    $(function() {
        function unifyHeights() {
            var maxHeight = 0;
            $('#pageTabContent').children('.social-item').each(function() {
                var height = $(this).outerHeight();
                // alert(height);
                if (height > maxHeight) {
                    maxHeight = height;
                }
            });
            $('.social-item').css('height', maxHeight);
        }
        unifyHeights();
    });
</script>

<script>
    $(function() {
        $(".datepicker").datepicker({
            dateFormat: 'mm-dd-yy',
            altField: '#datepickerMan',
            //            changeYear: true,
            //            changeMonth: true,
            //			onSelect: function(dateText, inst) {
            //			var day = dateText.split(",");            
            //				}
        });

    });
    $(function() {
        $('.timepicker').timepicker({
            timeFormat: 'hh:mm:ss',
            altField: '#timepickerMan',
            //			  	showSecond: true,
            hourText: 'Hours',
            minuteText: 'Minutes',
            //                amPmText: ['AM', 'PM'],
            timeSeparator: ':',
            showLeadingZero: false,
            nowButtonText: 'Maintenant',
            showNowButton: false,
            closeButtonText: 'Fermer',
            showCloseButton: false,
            deselectButtonText: 'Désélectionner',
            showDeselectButton: false,
            hours: {
                starts: 0, // First displayed hour
                ends: 23 // Last displayed hour
            }
        });
    });
</script>
</script>

<!-- model Window -->

<div id="addStream" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Stream</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="addStream-content">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="tabbable vertical-tab clearfix">
                            <ul class="nav nav-tabs">
                                <li class="active"><a class="active " data-toggle="tab" href="#twitterStreams"><i class="ion-social-twitter-outline"></i><span>Twitter</span></a></li>
                                <li><a data-toggle="tab" href="#facebookStreams"><i class="ion-social-facebook-outline"></i><span>Facebook</span></a></li>
                                <li><a data-toggle="tab" href="#instagram"><i class="ion-social-instagram-outline"></i><span>Instagram</span></a></li>
                                <li><a data-toggle="tab" href="#youtube"><i class="ion-social-youtube-outline"></i><span>Youtube</span></a></li>
                                <!--                            <li><a data-toggle="tab" href="#media"><i class="ion-image"></i><span>Media</span></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="tab-content clearfix border-all">
                            <div id="twitterStreams" class="tab-pane active">
                                <div class="tabbable horizontal-tab clearfix">
                                    <ul class="nav nav-tabs clearfix">
                                        <li class="active"><a data-toggle="tab" href="#stream">stream</a></li>
                                        <!--
                                        <li><a data-toggle="tab" href="#search">search</a></li>
                                        <li><a data-toggle="tab" href="#keyword">keyword</a></li>
                                        <li><a data-toggle="tab" href="#lists">lists</a></li>
-->
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div id="stream" class="tab-pane fade in active">
                                        <h3>Twitter</h3>
                                        <div class="twitter-streamSelect dropdown">
                                            <span class="form-control current-stream-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select the user <i class="ion-ios-arrow-down refresh-all"></i></span>
                                            <ul class="dropdown-menu dropdown-twitter-streams" aria-labelledby="dropdownMenu2">
                                            </ul>

                                        </div>
                                        <button type="button" class="btn btn-default userTweet">My Tweets</button>
                                        <button type="button" class="btn btn-default timeline">Timeline</button>
                                        <button type="button" class="btn btn-default mentions">Mentions</button>
                                        <button type="button" class="btn btn-default userMessage">Messages</button>

                                    </div>
                                    <div id="search" class="tab-pane fade">
                                        <h3>Menu 1</h3>
                                        <p>Some content in menu 1.</p>
                                    </div>
                                    <div id="keyword" class="tab-pane fade">
                                        <h3>Menu 2</h3>
                                        <p>Some content in menu 2.</p>
                                    </div>
                                    <div id="lists" class="tab-pane fade">
                                        <h3>Menu 2</h3>
                                        <p>Some content in menu 2.</p>
                                    </div>
                                </div>

                            </div>
                            <div id="facebookStreams" class="tab-pane">
                                <div class="tabbable horizontal-tab clearfix">
                                    <ul class="nav nav-tabs clearfix">
                                        <li class="active"><a data-toggle="tab" href="#stream">stream</a></li>
                                        <!--
                                        <li><a data-toggle="tab" href="#search">search</a></li>
                                        <li><a data-toggle="tab" href="#keyword">keyword</a></li>
                                        <li><a data-toggle="tab" href="#lists">lists</a></li>
-->
                                    </ul>
                                    <div class="tab-content">
                                        <div id="stream" class="tab-pane fade in active">
                                            <h3>Facebook</h3>
                                            <div class="facebook-streamSelect dropdown">
                                                <span class="form-control current-stream-user-fb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select the user <i class="ion-ios-arrow-down refresh-all"></i></span>
                                                <ul class="dropdown-menu dropdown-fb-streams" aria-labelledby="dropdownMenu2">
                                                </ul>

                                            </div>
                                            <button type="button" class="btn btn-default timelineFb">Posts Timeline</button>
<!--
                                            <button type="button" class="btn btn-default scheduledFb">Scheduled</button>
                                            <button type="button" class="btn btn-default eventsFb">Events</button>
-->

                                        </div>
                                        <!--
                                        <div id="search" class="tab-pane fade">
                                            <h3>Menu 1</h3>
                                            <p>Some content in menu 1.</p>
                                        </div>
                                        <div id="keyword" class="tab-pane fade">
                                            <h3>Menu 2</h3>
                                            <p>Some content in menu 2.</p>
                                        </div>
                                        <div id="lists" class="tab-pane fade">
                                            <h3>Menu 2</h3>
                                            <p>Some content in menu 2.</p>
                                        </div>
-->
                                    </div>
                                </div>
                            </div>
                            <div id="instagram" class="tab-pane"> </div>
                            <div id="youtube" class="tab-pane"> </div>
                            <!--                            <div id="media" class="tab-pane"> </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="addNetwork" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Social Network</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable vertical-tab clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <ul class="nav nav-tabs">
                                <li class="active"><a class="active " data-toggle="tab" href="#twitter"><i class="ion-social-twitter-outline"></i><span>Twitter</span></a></li>
                                <li><a data-toggle="tab" href="#facebook"><i class="ion-social-facebook-outline"></i><span>Facebook</span></a></li>
                                <li><a data-toggle="tab" href="#instagram"><i class="ion-social-instagram-outline"></i><span>Instagram</span></a></li>
                                <li><a data-toggle="tab" href="#youtube"><i class="ion-social-youtube-outline"></i><span>Youtube</span></a></li>
                                <!--                                <li><a data-toggle="tab" href="#media"><i class="ion-image"></i><span>Media</span></a></li>-->
                            </ul>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="tab-content clearfix border-all">
                                <div id="twitter" class="tab-pane active">
                                    <h2>Add a Twitter Profile</h2>
                                    <p>To allow Octobuz access to your Twitter account, you must first give authorization from Twitter.com</p>

                                    <ul>
                                        <li class="authorize"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                    </ul>


                                </div>
                                <div id="facebook" class="tab-pane">
                                    <h2>Add a Facebook Profile</h2>
                                    <p>To allow Octobuz access to your Facebook account, you must first give authorization from facebook.com</p>

                                    <ul>
                                        <li class="authorizeFb"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                    </ul>

                                </div>
                                <div id="instagram" class="tab-pane">s </div>
                                <div id="youtube" class="tab-pane">s </div>
                                <!--                                <div id="media" class="tab-pane"> s</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
