<div id="block-tagCompare" class="clearfix">
    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Tag Comparison</h2>
            </ul>
        </section>
        <!--   Heading End -->
        <div class="row">
            <div class="comparison-form cf">
                <div class="col-md-6 col-sm-6">
                    <span type="hidden" class="compare-tag1">

          </span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span type="hidden" class="compare-tag2">

            </span>



                </div>
                <div class="col-md-12 col-sm-12  comparison-btn ">
                    <button id="submit-search" type="button" class="btn btn-primary">Compare</button>
                </div>
                <!-- <div class="filter-result bootstrap-tagsinput">
                <ul id="filter-result" class="tags">
                </ul>
            </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <section class="panel panel-default widget-home-dash-pie-sunburst column">
                    <header class="clearfix panel-heading sunburst-header">
                        <h4>Tag Comparison</h4>
                    </header>
                    <article class="clearfix panel-body sunburst-body">
                        <div class="dataContentSunburst"></div>
                        <div id="sunburst-graph" class="body clearfix"></div>
                    </article>
                </section>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="column">

                    <!--   panel panel-default start -->
                    <section class="panel panel-default">
                        <!--   Header start -->
                        <header class="clearfix panel-heading">
                            <h4 class="social-media-stats-name-tag1">Social Media Statistics Tag1</h4>
                            <div class="widget-tool">

                            </div>
                        </header>
                        <!--   ../Header END -->
                        <!--   article start -->
                        <article class="clearfix panel-body">
                            <div class="dataContentSmsTag1"></div>
                            <div class="graph-content">
                                <div id="socialMediaStatisticsTag1"></div>
                            </div>

                        </article>


                    </section>
                    <!--   ../panel panel-default END -->
                    <!--   panel panel-default start -->
                    <section class="panel panel-default">
                        <!--   Header start -->
                        <header class="clearfix panel-heading">
                            <h4 class="social-media-stats-name-tag2">Social Media Statistics Tag2</h4>
                            <div class="widget-tool">

                            </div>
                        </header>
                        <!--   ../Header END -->
                        <!--   article start -->
                        <article class="clearfix panel-body">
                            <div class="dataContentSmsTag2"></div>
                            <div class="graph-content">
                                <div id="socialMediaStatisticsTag2"></div>
                            </div>
                        </article>


                    </section>
                    <!--   ../panel panel-default END -->

                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4 class="tweetmap-tag1">Tweet Map Tag1</h4>
                        <div class="widget-tool">

                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentMapTag1"></div>
                        <div id="mapTag1"></div>
                    </article>


                </section>
                <!--   ../panel panel-default END -->

            </div>
            <div class="col-md-6 col-sm-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4 class="tweetmap-tag2">Tweet Map Tag2 </h4>
                        <div class="widget-tool">

                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentMapTag2"></div>
                        <div id="mapTag2"></div>
                    </article>


                </section>
                <!--   ../panel panel-default END -->

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4 class="ssm-voice-pie-tag1">Social Media Sentiments Tag1</h4>
                        <div class="widget-tool">

                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentSentimentsTag1"></div>
                        <div id="socialMediaSentimentsTag1"></div>
                    </article>


                </section>
                <!--   ../panel panel-default END -->

            </div>
            <div class="col-md-6 col-sm-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4 class="ssm-voice-pie-tag2">Social Media Sentiments  Tag2 </h4>
                        <div class="widget-tool">

                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentSentimentsTag2"></div>
                        <div id="socialMediaSentimentsTag2"></div>
                    </article>


                </section>
                <!--   ../panel panel-default END -->

            </div>

        </div>
        <div class="row">
            <div class="sunBurst">
                <div class="col-sm-12 col-md-12 col-lg-12">

                </div>
            </div>

        </div>

    </div>
</div>

<!--<script src="../../lib/d3/d3.min.js"></script>-->

<script>
</script>

<script>
    $('.column').matchHeight();
    var shareofVoice = new ShareOfVoice();
    globalObject = shareofVoice;
    globalObject.initTab();
</script>