<div id="block-buffermedia" class="clearfix">
    <!--    <div class="main-data">-->
    <script id="userNamesRender" type="text/x-jsrender">
        {{if network == "twitter"}}
        <li class="individual-users individual-users-id{{:#index}}" page-id="{{>ids}}" user-name="{{>name}}" user-pageName="{{>pageName}}" user-index="{{:#index}}" user-type="{{>network}}">
            {{/if}} {{if network == "facebook"}}
            <li class="individual-users individual-users-id{{:#index}}" page-id="{{>ids}}" user-name="{{>name}}" user-pageName="{{>pageName}}" user-index="{{:#index}}" page-owner-name="{{>ownerName}}" user-type="{{>network}}">
                {{/if}} {{if network == "twitter"}}
                <div class="social-user-profile"> <span class="social-profile"> <img src="../img/profile-img.jpg"> <i class="twitter ion-social-twitter"></i> </span> <span class="social-text">
    <h4>{{>name}}</h4>
    <p>{{>network}}</p>
	{{/if}}{{if network == "facebook"}}
	 <div class="social-user-profile"> <span class="social-profile"> <img src="../img/profile-img.jpg"> <i class="facebook ion-social-facebook"></i> </span> <span class="social-text">
    <h4>{{>pageName}}</h4>
    <p>{{>ownerName}}</p>
    <p>{{>network}}</p>
	{{/if}}
    </span> <span class="social-drop pull-right">Add Stream <i class="ion-ios-arrow-down"></i> </span> </div>
                {{if network == "twitter"}}
                <div class="social-buttons">
                    <button class="btn btn-default userTweet-new" user-name="{{>name}}" type="button">My Tweets</button>
                    <button class="btn btn-default timeline-new" user-name="{{>name}}" type="button">Timeline</button>
                    <button class="btn btn-default mentions-new" user-name="{{>name}}" type="button">Mentions</button>
                    <button class="btn btn-default userMessage-new" user-name="{{>name}}" type="button">Messages</button>
                </div>
                {{/if}} {{if network == "facebook"}}
                <div class="social-buttons">
                    <button class="btn btn-default timelineFbNew" user-pageName="{{>pageName}}" page-id={{>ids}} type="button">Timeline</button>
                    <!--  <button class="btn btn-default mentions" type="button">Events</button>
                    <button class="btn btn-default userMessage" type="button">Scheduled Posts</button>-->
                </div>
                {{/if}} </li>
    </script>

    <script id="mentions" type="text/x-jsrender">
        <li>
            <div class="messageBody twitter-message-body">
                <a class="social-avathar"><img src="{{>image}}"></a>
                <h4>{{>name}}</h4>
                <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
                <p>{{>tweet}}</p>
                <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
                <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
            </div>
        </li>
    </script>


    <script id="tweets-render" type="text/x-jsrender">
        <li>
            <div class="messageBody twitter-message-body">
                <a class="social-avathar"><img src="{{>image}}"></a>
                <h4>{{>name}}</h4>
                <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
                <p>{{>tweet}}</p>
                <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
                <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
            </div>
        </li>
    </script>

    <script id="time-line" type="text/x-jsrender">
        <li>
            <div class="messageBody twitter-message-body">
                <a class="social-avathar"><img src="{{>image}}"></a>
                <h4>{{>name}}</h4>
                <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
                <p>{{>tweet}}</p>
                <span class="stream-footer">Retweets<span>{{>retweets}}</span></span>
                <span class="stream-footer">Favourites<span>{{>favourites}}</span></span>
            </div>
        </li>
    </script>


    <script id="message-render" type="text/x-jsrender">
        <li>
            <div class="messageBody twitter-message-body">
                <a class="social-avathar"><img src="{{>image}}"></a>
                <h4>{{>name}}</h4>
                <span class="messageDescription">
        <a datetime="{{>created_at}}" target="_blank" href="http://twitter.com/awakcomelsaya/status/641968015290990592" class="postTime _postPermalink _postTime">
       {{>created_at}} </a> </span>
                <p>{{>message}}</p>
            </div>
        </li>
    </script>

    <script id="time-line-fb" type="text/x-jsrender">
        <li>
            <div class="messageBody fb-message-body">
                <h4>{{>pageName}}</h4>
                <span class="messageDescription">
            <p>{{>text}}</p>
            <span class="stream-footer">Likes<span>{{>likesCount}}</span></span>
                <span class="stream-footer">Shares<span>{{>sharesCount}}</span></span>
            </div>
        </li>
    </script>
    <script id="generalStatisticsRender" type="text/x-jsrender">
        <tr>
            <td class="hidden-x">{{>pageName}}</td>
            <td class="hidden-x">{{>name}}</td>
            <td class="hidden-xs">{{>totalPosts}}</td>
            <td class="hidden-xs">{{>sumOfLikes}}</td>
            <td class="hidden-xs">{{>sumOfShares}}</td>
        </tr>
    </script>

    <div id="addNetworkBuffer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Social Network</h4>
                    </div>
                    <div class="modal-body">
                        <div class="tabbable vertical-tab clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a class="active " data-toggle="tab" href="#twitter"><i class="ion-social-twitter-outline"></i><span>Twitter</span></a></li>
                                    <li><a data-toggle="tab" href="#facebook"><i class="ion-social-facebook-outline"></i><span>Facebook</span></a></li>
                                    <li><a data-toggle="tab" href="#instagram"><i class="ion-social-instagram-outline"></i><span>Instagram</span></a></li>
                                    <li><a data-toggle="tab" href="#youtube"><i class="ion-social-youtube-outline"></i><span>Youtube</span></a></li>
                                    <!--                                <li><a data-toggle="tab" href="#media"><i class="ion-image"></i><span>Media</span></a></li>-->
                                </ul>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="tab-content clearfix border-all">
                                    <div id="twitter" class="tab-pane active">
                                        <h2>Add a Twitter Profile</h2>
                                        <p>To allow Octobuz access to your Twitter account, you must first give authorization from Twitter.com</p>

                                        <ul>
                                            <li class="authorizeTwitter"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                        </ul>


                                    </div>
                                    <div id="facebook" class="tab-pane">
                                        <h2>Add a Facebook Profile</h2>
                                        <p>To allow Octobuz access to your Facebook account, you must first give authorization from facebook.com</p>

                                        <ul>
                                            <li class="authorizeFacebook"><a type="button" class="btn btn-primary pull-right">Authorize</a></li>
                                        </ul>

                                    </div>
                                    <div id="instagram" class="tab-pane">s </div>
                                    <div id="youtube" class="tab-pane">s </div>
                                    <!--                                <div id="media" class="tab-pane"> s</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="social-media-inner">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="add-Snetwork">
                <span class="add-user">Accounts
										<a class="ion-plus-circled" data-toggle="modal" data-target="#addNetworkBuffer"> 
										</a>
									</span>
                <span class="refresh-outer">
                                    <a  class="refresh-btn">
                                        <i class="ion-loop refresh-button-buffer"></i>
                                        </a>
                                    </span>
            </div>
            <div class="management-users clearfix">

                <ul class="management-users-list userNamesList">

                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <section class="panel panel-default column">
                <!--   article start -->
                <article class="clearfix panel-body">
                    <div class="dataContentFbBar"></div>

                    <div class="management-users-content clearfix">
                        <div class="tabbable horizontal-tab clearfix">
                            <ul class="nav nav-tabs clearfix">
                                <li class="active"><a href="#stream" data-toggle="tab">Stream</a></li>
                                <li><a data-toggle="tab" href="#compose">Compose </a></li>
                                <li><a data-toggle="tab" class="generalReportAggregateFbBuffer" href="#facebook-analytics">Facebook Analytics </a></li>
                                <li><a data-toggle="tab" class="generalReportAggregateBuffer" href="#twitter-analytics">Twitter Analytics </a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active streams-buffer clearfix" id="stream">



                                </div>
                                <div class="tab-pane fade clearfix" id="compose">

                                    <div class="col-sm-12 col-md-8 col-lg-6">
                                        <div class="compose-top">
                                            <textarea name="textarea" placeholder="Type you are Message here ....." class="messageBoxMessage message-content-buffer form-control" id="textarea" class="form-control"></textarea>
                                        </div>
                                        <div class="compose-message">
                                            <span class="alert alert-success">Success! Well done its submitted.</span>
                                            <span class="text-center">
                                            <a class="btn btn-primary btn-xs">Post Another Content</a>
                                            </span>
                                        </div>
                                    </div>
                                    <!--
                                                    <div class="col-sm-12 col-md-8 col-lg-6">

                                                        <div class="compose-datepan clearfix">
                                                            <div class="date-block">
                                                                <div id="datepicker"></div>
                                                            </div>
                                                            <div class="time-block">
                                                                <div id="floating_timepicker">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
-->
                                    <div class="col-sm-12 col-md-8 col-lg-6">

                                        <div class="autoScheduleBuffer clearfix time-date-outer">



                                            <input type="text" name="buffer-datepicker-new" id="buffer-datepicker-new" value="" />
                                            <span id="buffer-datepicker"></span>



                                        </div>
                                    </div>


                                    <!--
                                                <div class="compose-bottom clearfix">
                                                    <div class="compose-search">
                                                        <input type="text" paceholder="Text here" class="form-control">
                                                    </div>
                                                    <div class="controls">
                                                        <a class="ion-android-attach">
                                                        </a>
                                                        <a class="ion-android-pin location-trigger">
                                                        </a>
                                                        <a class="ion-calendar calendar-trigger">
                                                        </a>
                                                    </div>
                                                </div>
-->
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="compose-footer">
                                            <button class="btn btn-primary btn-xs post-content-buffer" type="button">Schedule to Post</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="facebook-analytics">
                                    <ul class="list-inline">
                                    </ul>
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <div class="table-responsive">
                                            <table class="table  table-striped table-condensed table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Page Name</th>
                                                        <th>User</th>
                                                        <th>Total Posts</th>
                                                        <th>Total Likes</th>
                                                        <th>Total Shares</th>
                                                    </tr>

                                                </thead>
                                                <tbody id="generalStatistics">

                                                </tbody>

                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>View Trends</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrends"></div>
                                                    <div id="viewsFbAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Top Views By Country</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body fb-country-pie">

                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                </div>
                                <div class="tab-pane fade" id="twitter-analytics">
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Mentions Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrends"></div>
                                                    <div id="mentionsAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Followers Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrends"></div>
                                                    <div id="followersAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>
                                    <!--  Media Sentiments -->
                                    <div class="col-md-12 col-sm-12">
                                        <!--   panel panel-default start -->
                                        <section class="panel panel-default column">
                                            <!--   Header start -->
                                            <header class="clearfix panel-heading">
                                                <h4>Retweet Aggregates</h4>
                                            </header>
                                            <!--   ../Header END -->
                                            <!--   article start -->
                                            <article class="clearfix panel-body">
                                                <div class="clearfix flexcontainer">
                                                    <div class="dataContentChartHomeTrends"></div>
                                                    <div id="retweetAggregate"></div>
                                                </div>
                                            </article>
                                            <!--   ../article END -->
                                        </section>
                                        <!--   ../panel panel-default END -->

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </article>
            </section>
        </div>

    </div>



    <!--    </div>-->
</div>

<script type="text/javascript">
    $(function() {
        $('#buffer-datepicker').datetimepicker({
            altField: "#buffer-datepicker-new",
            altFieldTimeOnly: false
        });
    });
</script>
<script>
    //    initTabStreams();
    var socialMediaManagement = new SocialMediaManagementClasses();
    globalObject = socialMediaManagement;
    globalObject.initTabStreams();
</script>


<!--
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                Success Massage here
            </div>
        </div>
    </div>
-->