<div id="block-twitter" class="clearfix">
    <!--  Trending -->
    <script id="influencersTrending" type="text/x-jsrender">
        <div class="item box">
            <div class="profile-image"><img src={{>value.imageURL}} alt="image" /></div>
            <div class="profile-details">
                <h4>{{>value.name}}</h4>
                <div class="influencers-labe">
                    <span> <i class="ion-arrow-return-left"></i>retweets</span>
                    <span>{{>value.retweets}}</span>
                </div>
                {{for value.tweetTypeInfo}} {{if tweetType == "tweet"}}
                <div class="influencers-labe">
                    <span> <i class="ion-social-twitter"></i>{{>tweetType}}</span>
                    <span>{{>tweetTypeCount}}</span>
                </div>
                {{/if}} {{if tweetType == "reply"}}
                <div class="influencers-labe">
                    <span> <i class="ion-ios-undo"></i>{{>tweetType}}</span>
                    <span>{{>tweetTypeCount}}</span>
                </div>
                {{/if}} {{/for}}

                <div class="influencers-labe">
                    <span><i class="ion-person-stalker"></i>followers</span>
                    <span>{{>value.followers}}</span>
                </div>

                <div class="influencers-labe">
                    <span><i class="ion-heart"></i>favourites</span>
                    <span>{{>value.favourites}}</span>
                </div>
                <a id="influencer-view-{{:#index}}" class="influencers-view loader-id-{{>value.name}}" idPickLoader="influencer-view-{{:#index}}" idPick="{{>value.name}}"><i class="ion-eye"></i>view more</a>
            </div>
        </div>
    </script>

    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Twitter Influencers</h2>
            </ul>
        </section>
        <!--   Heading End -->
        <!--<a href="#" idPick="{{>name}}" class="expand infu-more" data-target="#influencersMore" data-toggle="modal">+</a>s-->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <!--   ../Header END -->
                    <!--   article start -->

                    <header class="clearfix panel-heading">
                        <div class="dataContentInfluencersHeading"></div>
                        <h4>Influencers</h4>
                        <div class="widget-tool">
                            <ul>

                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a sortIdentifier="_count" class="sortPickerInfluencer selectedGran"><span >Engagement</span></a></li>
                                        <li><a sortIdentifier="max_followers.value" class="sortPickerInfluencer"><span >Followers</span></a></li>

                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="18" sizeidentifier="tweetTrends" class="sizePickerInf selectedGran"><span>18</span></a></li>
                                        <li><a sizevalue="36" sizeidentifier="tweetTrends" class="sizePickerInf"><span >36</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tweetTrends" class="sizePickerInf"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tweetTrends" class="sizePickerInf"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tweetTrends" class="sizePickerInf"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a downloadtokenInfl="influencersCSV" class="download-btn downloadLinkInfl tool-icon" id="html-options"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <article class="clearfix panel-body">
                        <div class="panel-content">
                            <div id="influencers" class="twitter-influencers">
                                <div class="dataContentInfluencers"></div>
                            </div>
                        </div>

                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
        </div>
    </div>
</div>
<script>
    //    initTabInfluencers();
    var influencerAnalytics = new InfluencerClasses();
    globalObject = influencerAnalytics;
    globalObject.initTab();
</script>