<div id="block-twitter" class="clearfix">

    <script id="tableRetweetsTrending" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>
                <span class="prof-name">
											{{>personNameShort}}
                                        </span>
            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>personName}}" target="_blank">{{>personName}}</a></h3>
                <p><a href="https://twitter.com/{{>id}}/status/{{>tweetID}}" target="_blank">
                        {{>text}}
                    </a></p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>date}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweetCount}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favouriteCount}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="following">Following<span class="tweet-text numbers">&#40;{{>following}}&#41;</span></li>
                    <li class="sentiments">Sentiments<span class="tweet-text sentiments-trending-{{:#index}} numbers">&#40;{{>sentiments}}&#41;</span></li>
                </ul>
            </div>
        </li>
    </script>
    <script id="tableRetweetsPositive" type="text/x-jsrender">
        <li class="clearfix">
            <div class="tweet-profile left-right-switcher-trp{{:#index}}">
                <span class="prof-image">
                                            <img alt="" class="img-circle" src="{{>image}}">
                                        </span>
                <span class="prof-name">
											{{>personNameShort}}
                                        </span>
            </div>
            <div class="chat-message-body clearfix left-right-switcher-second-trp{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>personName}}" target="_blank">{{>personName}}</a></h3>
                <p><a href="https://twitter.com/{{>id}}/status/{{>tweetID}}" target="_blank">
                        {{>text}}
                    </a></p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>date}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweetCount}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favouriteCount}}</li>
                    <li class="followers ">Followers<span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="following">Following <span class="tweet-text numbers">&#40;{{>following}}&#41;</span></li>
                </ul>
            </div>
        </li>
    </script>
    <script id="tableRetweetsNegative" type="text/x-jsrender">
        <li class="clearfix">
            <div class="tweet-profile left-right-switcher-trn{{:#index}}">
                <span class="prof-image">
                                            <img alt="" class="img-circle" src="{{>image}}">
                                        </span>
                <span class="prof-name">
											{{>personNameShort}}
                                        </span>
            </div>
            <div class="chat-message-body clearfix left-right-switcher-second-trn{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>personName}}" target="_blank">{{>personName}}</a></h3>
                <p><a href="https://twitter.com/{{>id}}/status/{{>tweetID}}" target="_blank">
                        {{>text}}
                    </a></p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>date}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweetCount}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favouriteCount}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="following">Following<span class="tweet-text numbers">&#40;{{>following}}&#41;</span></li>
                </ul>
            </div>
        </li>
    </script>
    <script id="liveTweetsTable" type="text/x-jsrender">
        <li class="clearfix">
            <div class="tweet-profile left-right-switcher-lt{{:#index}}">
                <span class="prof-image">
                                            <img alt="" class="img-circle" src="{{>image}}">
                                        </span>
                <span class="prof-name">
                                            {{>personNameShort}}
                                        </span>
            </div>
            <div class="chat-message-body clearfix left-right-switcher-second-lt{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="#">{{>id}}</a></h3>
                <p>
                    {{>content}}
                </p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>date}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweetCount}}</li>
                    <li class="followers">Followers<span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="following">Following<span class="tweet-text numbers">&#40;{{>following}}&#41;</span></li>
                    <li class="following">Sentiments<span class="tweet-text">&#40;{{>sentiments}}&#41;</span></li>
                </ul>
            </div>
        </li>
    </script>
    <script id="tableTopMention" type="text/x-jsrender">
        //
        <tr>

            //
            <td class="hidden-xs"><a href="https://twitter.com/{{>name}}" target="_blank">{{>name}} </a></td>
            //
            <td class="hidden-xs">{{>count}}</td>
            // </tr>
        // </script>

    <script id="topCities" type="text/x-jsrender">

        <tr>

            <td class="hidden-x">
                <div class="cities-filter checkbox" fieldType=influencers value="{{>name}}">
                    <input class="pd1" type="checkbox" id="titcheckbox{{:#index}}">
                    <label for="titcheckbox{{:#index}}">
                </div>
            </td>
            <td class="hidden-xs">{{>name}}</td>

            <td class="hidden-xs">{{>count}}</td>
        </tr>
    </script>


    <div class="main-data">
            <!--   Heading -->
    <section class="page-header clearfix">
        <h2>Twitter Stats</h2>
        <ul class="filter-tag tags" id="filter-result-twitter">
        </ul>
    </section>
    <!--   Heading End -->
        <!--   Statitics -->
        <div class="twitter-metrices-outer clearfix row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                            Followers <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Unique followers"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cFollowers"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-people"> <i class="ion-ios-people"></i></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                           Reach<a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Users engaged with, and their followers"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cReach"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-wifi"><i class="ion-wifi"></i></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                           Tweets<a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of tweets"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cTotalTweets"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-twitter"><i class="ion-social-twitter"></i></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                           Retweets <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of retweets generated"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cRetweets"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-retweet"> <i class="ion-arrow-return-left"></i></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                          Favourites <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of favourites"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cFavourites"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-like"><i class="ion-heart"></i></span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <section class="panel panel-default column">
                    <div class="twitter-metrices clearfix">
                        <div class="col-xs-8 text-left">
                            <span class="metrices-label">
                         Reply <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of replies"> <i class="ion-help-circled"></i>
                        </a>
                            </span>
                            <span class="numbers metrices-value" id="cReply"></span>
                        </div>
                        <div class="col-xs-4 text-center">
                            <span class="twit-metrices-icon icon-replay"><i class="ion-reply"></i></span>
                        </div>
                    </div>
                </section>
            </div>





        </div>
        <!--   panel panel-default start -->
        <div class="twitter-map-data clearfix row">
            <div class="col-md-6 col-sm-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default mapdata-border column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Twitter Maps</h4>
                        <div class="widget-tool">
                            <!--
                            <ul>
                                <li><a downloadtoken="graphInsta" class="download-btn downloadLink" id="html-options"><i class="ion-ios-download-outline"></i>Download </a> </li>
                            </ul>
-->
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentStatsMap"></div>
                        <div id="chartdiv"></div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
            <div class="col-md-3 col-sm-3">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">

                    <header class="clearfix panel-heading">
                        <h4>Country Map <span class="country-name-heading"></span></h4>

                    </header>

                    <article class="clearfix panel-body">
                        <div id="chartSentiCountry" class="clearfix flexcontainer">
                            <div class="dataContentCountryMap"></div>
                            <div id="chartStatsCountry"></div>

                        </div>
                    </article>

                </section>


            </div>
            <!--  Twitter Sentiments -->
            <div class="col-md-3 col-sm-3">
                <section class="panel panel-default column">

                    <header class="clearfix panel-heading">
                        <h4>City Level Data</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerTwitter "><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerTwitter"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tagss" class="sizePickerTwitter"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tagss" class="sizePickerTwitter"><span>100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tagss" class="sizePickerTwitter"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLinkTwitter tool-icon" downloadtokenTwit="pagesTwitterCSV"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>

                    <article class="clearfix panel-body">
                        <div class="table-responsive slimScrollTableCityLevel">
                            <table class="table col-md-12 table-striped table-condensed cf">
                                <thead class="cf">
                                    <tr>
                                        <th>Select</th>
                                        <th>City</th>
                                        <th>Count</th>

                                    </tr>
                                </thead>
                                <tbody id="topCitiesTable">
                                    <div class="dataContentStatsCities"></div>
                                </tbody>
                            </table>
                        </div>
                    </article>


                </section>


                <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>
        </div>
        <!--  Second Row -->
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Tweet Trends</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown granularityTitle">
                                    <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-clock-o"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a class="granularityPickerStats" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                        <li><a class="granularityPickerStats selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                    </ul>
                                </li>
                                <!--                                <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div id="visits-chart" class="clearfix flexcontainer">
                            <div class="dataContentStatsBar"></div>
                            <div id="chartColumn"> </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default column">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Sentiment Chart</h4>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div id="chartSenti" class="clearfix flexcontainer">
                            <div class="dataContentStatsPie"></div>
                            <div id="chartPie"></div>

                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->

            </div>

        </div>
        <!--        Third row-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <section class="panel panel-default column">
                    <header class="clearfix panel-heading">
                        <h4>Tweet Trends By Day</h4>
                        <div class="widget-tool">
                            <!--
                            <ul>
                                <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker" data-toggle="dropdown"><i class="ion-ios-stopwatch-outline"></i><span>Hour</span><span class="ion-ios-arrow-down"></span></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a class="granularityPickerStats" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                        <li><a class="granularityPickerStats selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>
                            </ul>
-->
                        </div>
                    </header>
                    <article class="clearfix panel-body">
                        <div id="visits-chart" class="clearfix flexcontainer">
                            <div class="dataContentStatsByDay"></div>
                            <div id="chartBarByDay"> </div>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-md-6 col-sm-6">
                <section class="panel panel-default column">
                    <header class="clearfix panel-heading">
                        <h4>Tweet Trends By Hour</h4>
                        <div class="widget-tool">
                            <!--
                            <ul>
                                <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker" data-toggle="dropdown"><i class="ion-ios-stopwatch-outline"></i><span>Hour</span><span class="ion-ios-arrow-down"></span></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a class="granularityPickerStats" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                        <li><a class="granularityPickerStats selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                        <li><a class="granularityPickerStats" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLink" downloadtoken="trendsCSV"><i class="ion-ios-download-outline"></i>Download </a> </li>
                            </ul>
-->
                        </div>
                    </header>
                    <article class="clearfix panel-body">
                        <div id="visits-chart" class="clearfix flexcontainer">
                            <div class="dataContentStatsByHour"></div>
                            <div id="chartBarByHour"> </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <!--  Fourth Row -->
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Trending Tweets</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown">

                                    <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tweetTrends" class="sizePickerStats selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tweetTrends" class="sizePickerStats"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tweetTrends" class="sizePickerStats"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tweetTrends" class="sizePickerStats"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tweetTrends" class="sizePickerStats"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li>

                                    <a class="download-btn downloadLink tool-icon" downloadtoken="tweetsCSV"><i class=" fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="panel-body clearfix column">
                        <div class="dataContentStatsTweets"></div>
                        <div class="tabbable horizontal-tab clearfix">
                            <ul class="nav nav-tabs clearfix">
                                <li class="active"><a href="#tweets-trends" data-toggle="tab">Trending Tweets</a></li>
                                <li><a data-toggle="tab" class="tweetTrendsId" tweetTrendIdentifier="Positive" id='positive-trigger' href="#tweets-positive">Trending Positive Tweets</a></li>
                                <li><a data-toggle="tab" class="tweetTrendsId" tweetTrendIdentifier="Negative" id='negative-trigger' href="#tweets-negative">Trending Negative Tweets</a></li>
                            </ul>

                        </div>


                        <div class="slimScrollRetweets">
                            <div class="twitter-stats">
                                <div class="tab-content">

                                    <div class="tab-pane fade in active" id="tweets-trends">

                                        <ul class="vertical-list" id="retweetsTrending">
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="tweets-positive">
                                        <div class="dcRetweetsPositive"></div>
                                        <ul class="vertical-list" id="retweetsPositive">
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="tweets-negative">
                                        <div class="dcRetweetsNegative"></div>
                                        <ul class="vertical-list" id="retweetsNegative">

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>

            <!--  media Sentiments -->
            <div class="col-md-3 col-sm-3">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Top Mentions</h4>
                        <div class="widget-tool">
                            <ul>
                                <li><a class="download-btn downloadLink tool-icon" downloadtoken="topMentionsCSV"><i class=" fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->

                    <article class="clearfix panel-body column">
                        <div class="facebook-pageinfo flexcontainer">
                            <div id="no-more-tables" class="table-responsive">
                                <table class="table col-md-12 table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>

                                            <th>Name</th>
                                            <th>Count</th>

                                        </tr>
                                    </thead>
                                    <tbody id="topMentionTable">
                                        <div class="dataContentStatsMentions"></div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>



        </div>
        <!--  ../Fourth Row END -->


    </div>
</div>
<script>
    $(document).ready(function() {
        $('.key').tooltip();
    });

    var twitterStats = new Stats();
    globalObject = twitterStats;
    globalObject.initTab();
</script>