<div id="block-twitter" class="clearfix">
    <script id="streamTweets" type="text/x-jsrender">
        <li class="clearfix  trendingli{{:#index}}">
            <div class="tweet-profile left-right-switcher-trt{{:#index}} trendingliProfile{{:#index}}">
                <span class="prof-image ">
                                            <img alt="" class="img-circle imgRetweet{{:#index}}" id="imgRetweet{{:#index}}" src="{{>image}}">
                                        </span>
                <!--  <span class="prof-name">
											{{>personNameShort}}
                                        </span>-->
            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>personName}}" target="_blank">{{>personName}}</a></h3>
                <p><a href="https://twitter.com/{{>id}}/status/{{>tweetID}}" target="_blank">
                        {{>text}}
                    </a></p>
                <ul class="horizontal-list clearfix">
                    <li class="tweet-date"><i class="fa fa-calendar"></i>{{>date}}</li>
                    <li class="block-retweet"><i class="fa fa-retweet numbers"></i>{{>retweetCount}}</li>
                    <li class="block-avourite"><i class="fa fa-star numbers"></i>{{>favouriteCount}}</li>
                    <li class="followers ">Followers <span class="tweet-text numbers">&#40;{{>followers}}&#41;</span></li>
                    <li class="following">Following<span class="tweet-text numbers">&#40;{{>following}}&#41;</span></li>
                    <li class="sentiments">Sentiments<span class="tweet-text sentiments-trending-{{:#index}} numbers">&#40;{{>sentiments}}&#41;</span></li>
                </ul>
            </div>
        </li>
    </script>

    <script id="docStatsTable" type="text/x-jsrender">
        <li class="clearfix">
            <div class="tweet-profile left-right-switcher-trt{{:#index}}">
                <span class="prof-image">
												<img alt="" class="img-circle" src="{{>image}}">
											</span>
                <span class="prof-name">
												{{>authorShort}}
											</span>
            </div>
            <div class="chat-message-body clearfix  left-right-switcher-second-trt{{:#index}}">
                <span class="arrow"></span>
                <h3><a href="https://twitter.com/{{>author}}" target="_blank">{{>author}}</a></h3>
                <small class="tweet-date">{{>date}}</small>
                <p><a href="https://twitter.com/{{>screen_name}}/status/{{>id}}" target="_blank">
							{{>text}}
						</a></p>
                <ul class="horizontal-list clearfix">

                    <li class="block-retweet"><span class="tweet-senti-foam-{{:#index}}">{{>senti}}</span></li>
                </ul>
            </div>
        </li>

    </script>
    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Twitter Analytics</h2>
            </ul>
        </section>
        <!--   Heading End -->
        <!--  Trending -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Source Details</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="sourceSize" class="sizePickerModalAnalytics selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="sourceSize" class="sizePickerModalAnalytics"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a downloadtokenAnalyticsTwitter="foamTreeCsv" class="download-btn downloadLinkModalFoamTwitter tool-icon" id="html-options"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body flexcontainer slimScrollComboModalTweet">
                        <ul class="vertical-list" id="docStats">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div id="pagination"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6  col-lg-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Trending Topic Stats</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tweetTrends" class="sizePickerAnalytics selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tweetTrends" class="sizePickerAnalytics"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tweetTrends" class="sizePickerAnalytics"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tweetTrends" class="sizePickerAnalytics"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tweetTrends" class="sizePickerAnalytics"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li><a downloadtokenAnalyticsTwitter="analyticsCSV" class="download-btn downloadLinkTrendingTwitter tool-icon" id="html-options"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body column">
                        <div class="slimScrollAnalytics">
                            <div id="no-more-tables" class="table-responsive">

                                <table class="table col-md-12 table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>

                                            <th>Tag</th>
                                            <th>Count</th>
                                            <th>Trends</th>
                                            <th>Sentiment Information</th>

                                        </tr>
                                    </thead>
                                    <tbody class="graph-append">
                                        <div class="dataContentUserStats"></div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Comb Graph</h4>
                    </header>
                    <article class="clearfix panel-body column">
                        <div class="panel-content clearfix">
                            <div class="dataContentFoamtreeListening"></div>
                            <div id="foamtreeListening" style="width: 100%; height: 500px"></div>
                        </div>
                    </article>
                </section>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Live Tweets</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown">

                                    <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tweetTrends" class="sizePickerAnalyticsLive selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tweetTrends" class="sizePickerAnalyticsLive"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tweetTrends" class="sizePickerAnalyticsLive"><span >50</span></a></li>
                                        <li><a sizevalue="100" sizeidentifier="tweetTrends" class="sizePickerAnalyticsLive"><span >100</span></a></li>
                                        <li><a sizevalue="200" sizeidentifier="tweetTrends" class="sizePickerAnalyticsLive"><span >200</span></a></li>
                                    </ul>
                                </li>
                                <li>

                                    <a class="download-btn downloadLinkAnalyticsLiveTweets tool-icon" downloadtokenAnalyticsLiveTweets="liveTweets"><i class=" fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="panel-body clearfix column">
                        <div class="slimScrollStreamsTwitterLive">
                            <div class="twitter-stats">
                                <div class="dataContentLiveTweets"></div>
                                <ul class="vertical-list" id="streamTweetsLive">

                                </ul>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>

        </div>

    </div>
</div>
<script>
    var twitterAnalytics = new Analytics();
    globalObject = twitterAnalytics;
    globalObject.initTab();
    // initTabAnalytics()
</script>