<div id="block-youtube" class="clearfix">
    <script id="statsContent" type="text/x-jsrender">
        <div class="col-sm-12 col-md-6 col-lg-3 jango">
            <div class="well jango2 well-sm column clearfix">
                <div class="youtube-video"> <img class="img-responsive" src="{{>imgUrl}}"></div>
                <div class=" youtube-tags">
                    <h2><a href="https://www.youtube.com/watch?v={{>videoURL}}" target="_blank">{{>videoTitle}}</a> </h2>
                    <p>by {{>channelName}}</p> <span class="youtube-postdetail numbers">{{>viewCount}} views</span> <span class="youtube-postdetail">Published on {{>publishedAt}}</span>
                    <ul>
                        <li>
                            <div class="count-labe"><span><i class="ion-thumbsup"></i>Like</span> <span class="numbers">{{>likeCount}}</span> </div>
                        </li>
                        <li>
                            <div class="count-labe"><span><i class="ion-thumbsdown"></i>Dislike</span><span class="numbers">{{>dislikeCount}}</span></div>
                        </li>
                        <li>
                            <div class="count-labe"><span><i class="ion-android-favorite"></i>Favourite</span> <span class="numbers">{{>favoriteCount}}</span></div>
                        </li>
                        <li>
                            <div class="count-labe"><span><i class="ion-android-hangout"></i>Comments</span><span>{{>commentCount}}</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </script>
    <script id="tableChannel" type="text/x-jsrender">

        <tr>
            <td class="hidden-x">
                <div class="checkbox" fieldType=source value="{{>channel}}">
                    <input class="s2" type="checkbox" id="s2checkbox{{:#index}}">
                    <label for="s2checkbox{{:#index}}">
                    </label>
                </div>
            </td>
            <td class="hidden-xs"><a href="https://youtube.com/channel/{{>channelLink}}" target="_blank">{{>channel}} </a></td>
            <td class="hidden-xs">{{>count}}</td>
        </tr>

    </script>
    <script id="tableChannel2" type="text/x-jsrender">
        //
        <tr>
            //
            <td class="hidden-x">
                <div class="checkbox" fieldType=source value="{{>channel}}">
                    //
                    <input class="s2" type="checkbox" id="s2checkbox{{:#index}}"> //
                    <label for="s2checkbox{{:#index}}">
                        // </label>
                    // </div>
            </td>
            //
            <td class="hidden-xs"><a href="https://youtube.com/channel/{{>channelLink}}" target="_blank">{{>channel}} </a></td>
            //
            <td class="hidden-xs">{{>count}}</td>
            // </tr>
        // </script>
    <script id="tableChannel3" type="text/x-jsrender">
        //
        <tr>
            //
            <td class="hidden-x">
                <div class="checkbox" fieldType=source value="{{>channel}}">
                    //
                    <input class="s3" type="checkbox" id="s3checkbox{{:#index}}"> //
                    <label for="s3checkbox{{:#index}}">
                        // </label>
                    // </div>
            </td>
            //
            <td class="hidden-xs"><a href="https://youtube.com/channel/{{>channelLink}}" target="_blank">{{>channel}}</a></td>
            //
            <td class="hidden-xs">{{>count}}</td>
            // </tr>
        // </script>
    <div class="main-data">
        <!--   Heading -->
        <section class="page-header clearfix">
            <h2>Youtube Stats</h2>
            <ul class="filter-tag tags" id="filter-result-yt">
            </ul>
        </section>
        <!--   Heading End -->
        <div class="row">
            <!--  Youtube  Chart -->
            <div class="col-md-8 col-sm-8">
                <!--   panel panel-default start -->
                <section class="panel panel-default column flexcontainer ">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Youtube Trends</h4>

                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown granularityTitle"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-clock-o"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li><a class="granularityPickerYt" gvalue="Minute" granularityvalue="1m"><span class="gVal">Minute</span></a></li>
                                        <li><a class="granularityPickerYt selectedGran" gvalue="Hour" granularityvalue="1h"><span class="gVal">Hour</span></a></li>
                                        <li><a class="granularityPickerYt" gvalue="Day" granularityvalue="24h"><span class="gVal">Day</span></a></li>
                                        <li><a class="granularityPickerYt" gvalue="Week" granularityvalue="1w"><span class="gVal">Week</span></a></li>
                                        <li><a class="granularityPickerYt" gvalue="Month" granularityvalue="1M"><span class="gVal">Month</span></a></li>
                                        <li><a class="granularityPickerYt" gvalue="Quarter" granularityvalue="quarter"><span class="gVal">Quarter</span></a></li>
                                        <li><a class="granularityPickerYt" gvalue="Year" granularityvalue="1y"><span class="gVal">Year</span></a></li>
                                    </ul>
                                </li>
                                <!--                                <li><a downloadtokenYt="graphYt" class="download-btn downloadLinkYt" id="html-options"><i class="ion-ios-download-outline"></i>Download </a> </li>-->
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="dataContentYtTrends"></div>
                        <div id="visits-chart" class="clearfix flexcontainer">
                            <div id="ytViewTrends"> </div>
                        </div>

                    </article>
                    <!--   ../article END -->
                    <!--   Footer Start -->
                    <footer class="panel-footer">
                        <div class="visits-info  well-sm clearfix">
                            <ul>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Video Count <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of videos"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-wifi"></i> </span> <span class="numbers value" id="videoCount"></span> </div>
                                </li>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Views <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of views on all videos"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-eye"></i> </span> <span class="numbers value" id="views"></span> </div>
                                </li>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Likes <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of likes on all videos"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-thumbsup"></i> </span> <span class="numbers value" id="likes"> <i class="ion-arrow-graph-up-right"></i></span> </div>
                                </li>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Dislikes <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of dislikes on all videos"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-thumbsdown"></i> </span> <span class="numbers value" id="dislikes"></span> </div>
                                </li>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Favourites <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of users who favourited any of these videos generated"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-heart"></i> </span> <span class="numbers value" id="favorites"></span> </div>
                                </li>
                                <li>
                                    <div class="metrices"> <span class="metric-name">
                      <p>Comments <a class="visits-question key" data-toggle="tooltip" data-placement="top" title="Total number of comments for all the videos"> <i class="ion-help-circled"></i>
                        </a></p>
                      <i class="ion-chatbox-working"></i> </span> <span class="numbers value" id="comments"></span> </div>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--   ../Footer END -->
                </section>
                <!--   ../panel panel-default END -->


            </div>
            <div class="col-md-4 col-sm-4">
                <!--   panel panel-default start -->
                <section class="panel panel-default column flexcontainer">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Influencer Channels</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle selectpicker tool-icon" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected"><a sizevalue="10" sizeidentifier="tags" class="sizePickerYt selectedGran"><span>10</span></a></li>
                                        <li><a sizevalue="20" sizeidentifier="tags" class="sizePickerYt"><span >20</span></a></li>
                                        <li><a sizevalue="50" sizeidentifier="tagss" class="sizePickerYt"><span >50</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLinkYt tool-icon" downloadtokenYt="channelCount"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">

                        <div class="facebook-pageinfo flexcontainer slimScrollTableYt  ">
                            <div id="no-more-tables" class="table-responsive">
                                <table class="table col-md-12 table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>
                                            <th>Select</th>
                                            <th>Channel</th>
                                            <th>Count</th>

                                        </tr>
                                    </thead>
                                    <tbody id="channelTable">
                                        <div class="dataContentYtInfluencers"></div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                    <!--   ../article END -->

                </section>
                <!--   ../panel panel-default END -->
            </div>
        </div>
        <!--  Youtube post Second Row -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!--   panel panel-default start -->
                <section class="panel panel-default">
                    <!--   Header start -->
                    <header class="clearfix panel-heading">
                        <h4>Trending Videos</h4>
                        <div class="widget-tool">
                            <ul>
                                <li class="dropdown"> <a class="granularity-btn dropdown-toggle tool-icon" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i></a>
                                    <ul class="dropdown-menu inner selectpicker" role="menu">
                                        <li class="selected selectedGran"><a sortIdentifier="statistics.viewCount" class="sortPicker"> View </a></li>
                                        <li><a sortIdentifier="publishedAt" sizeValue="20" class="sortPicker">Date </a></li>
                                        <li><a sortIdentifier="statistics.likeCount" class="sortPicker">Like </a></li>
                                        <li><a sortIdentifier="statistics.dislikeCount" class="sortPicker">Dislike  </a></li>
                                        <li><a sortIdentifier="statistics.favoriteCount" class="sortPicker">Favorite </a></li>
                                    </ul>
                                </li>
                                <li><a class="download-btn downloadLinkYt tool-icon" downloadtokenYt="statsCSV"><i class="fa fa-download"></i></a> </li>
                            </ul>
                        </div>
                    </header>
                    <!--   ../Header END -->
                    <!--   article start -->
                    <article class="clearfix panel-body">
                        <div class="panel-content clearfix">
                            <div class="dataContentYtVideos"></div>
                            <div class="youtube-post">
                                <div class="youtube-video-list row" id="ytStats"></div>
                            </div>
                        </div>
                    </article>
                    <footer class="panel-footer">
                        <div id="pagination"></div>
                    </footer>
                    <!--   ../article END -->
                </section>
                <!--   ../panel panel-default END -->
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('.key').tooltip();
            });

            var youtubeAnalytics = new YoutubeClasses();
            globalObject = youtubeAnalytics;
            globalObject.initTab();
        </script>
    </div>
</div>