/* ------Bootstrap Override ----- */

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    outline-offset: -2px;
}

.row [class*="col-"] {
    padding: 0px 10px;
}

.navbar {
    margin: 0px;
    padding: 0px;
    min-height: none;
}

.navbar-static-top {
    background: #3b3b41;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default {
    background: #fff;
}

.navbar-right {
    margin: 0px;
}

.navbar-static-top .nav > li > a {
    color: #fff;
    padding: 16px 15px;
    line-height: inherit;
    margin: 0px;
    border: 0;
    background: none;
    cursor: pointer;
}

navbar-right li:last-child a {
    text-align: center;
}

.navbar-static-top .nav > li > a:first-letter {
    text-transform: uppercase;
}

.navbar-static-top .nav > li > a i {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.navbar-static-top .nav > li > a i:first-child {
    margin-right: 4px;
}

.navbar-static-top .nav > li > a i:last-child {
    margin-left: 4px;
}

.navbar-static-top .nav > li a:hover,
.navbar-static-top .nav > li a:focus {
    color: #fff;
    background: #38383e;
}

.navbar-static-top .nav > li.active {
    background: #fff;
    border: none;
}

.navbar-static-top .nav > li.active > a {
    color: #1ab394;
}

.navbar-static-top .navbar-brand {
    background: #1ab394;
    color: #fff;
    padding: 15px 25px;
}

.navbar-static-top .navbar-top-links li:last-child {
    margin-right: 0;
}

.navbar-static-top.body-small .wrapper.wrapper-content,
.body-small .navbar-static-top .wrapper.wrapper-content {
    padding: 40px 0px 40px 0px;
}

.navbar-toggle {
    background-color: #1ab394;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
}

.navbar-form {
    margin: 9px -15px;
}

.search-advance-item .form-control {
    width: 100%;
}


/*============ Page header========*/

.page-header {
    margin: 0px;
    padding: 5px 0 10px 0;
}

.page-header h2 {
    display: block;
    font-family: 'opensanslight', sans-serif;
    float: left;
    margin: 1px 25px 8px 0px;
    font-size: 30px;
}


/*============ Model window========*/

.modal-header::after,
.modal-header::before {
    box-sizing: border-box;
    content: " ";
    display: table;
    clear: both;
}


/*============ Pannel override========*/

.panel {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.panel-body {
    position: relative;
    min-height: 300px;
    margin: 0px;
    padding: 0px 15px 15px 15px;
}

.panel-default > .panel-heading {
    background: #fff;
    border-bottom: 0px;
}

.panel-heading h4 {
    display: inline-block;
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.panel-footer {
    background: none;
}


/*============ Datepicker========*/

.datepicker {
    z-index: 1151 !important;
}


/*============ Tab override ========*/

.tab-content {
    margin: 0 !important;
    padding: 10px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.horizontal-tab {
    display: block;
    margin: 0;
    padding: 0;
}

.horizontal-tab .nav-tabs {
    display: block;
    background: rgb(4, 161, 130);
    height: 35px;
    border: 0px !important;
    margin: 0;
    min-height: 10px;
    padding: 0;
    overflow: hidden;
}

.horizontal-tab .nav-tabs li {
    margin: 0 8px 0 0;
    padding: 0px;
    float: left !important;
}

.horizontal-tab .nav-tabs li a {
    background: none !important;
    position: relative !important;
    padding: 8px 15px !important;
    text-align: left !important;
    margin: 0 !important;
    color: #fff;
    text-transform: uppercase !important;
    border: 0 !important;
    font-size: 13px;
    -webkit-border-radius: 0 !important;
    border-radius: 0!important;
}

.horizontal-tab .nav-tabs li:last-child a {
    border: 0px !important;
}

.horizontal-tab .nav-tabs li a:hover {
    background: none;
    border: 0;
    margin: 0px;
}

.horizontal-tab .nav-tabs > li.active > a {
    border: 0;
    margin: 0px;
    color: #fff !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.horizontal-tab .nav-tabs > li.active a::after,
.horizontal-tab .nav-tabs > li.active a::before {
    content: "" !important;
    position: absolute !important;
    left: 50% !important;
    margin-left: -6px !important;
    border-width: 0px 8px 8px 8px !important;
    border-style: solid !important;
    display: block !important;
    width: 0 !important;
}

.horizontal-tab .nav-tabs > li.active a::after {
    border-color: #fff transparent !important;
    bottom: -3px !important;
}

.horizontal-tab .nav-tabs > li.active a::before {
    border-color: #e5e5e5 transparent !important;
    bottom: -2px !important;
}


/*============ Vertical tab ========*/

.vertical-tab {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    transition: All 1s ease-in-out;
    -webkit-transition: All 1s ease-in-out;
    -moz-transition: All 1s ease-in-out;
    -o-transition: All 1s ease-in-out;
}

.vertical-tab [class*="col-"] {
    padding: 0px;
}

.vertical-tab .nav-tabs {
    display: block;
    position: relative;
    right: -1px;
}

.vertical-tab .nav-tabs li {
    float: none;
    z-index: 99;
}

.vertical-tab .nav-tabs li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px;
    text-align: left;
    color: #333;
    border-color: #d3d6db;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    -webkit-border-radius: 0 !important;
    border-radius: 0!important;
    font-size: 14px;
}

.vertical-tab .nav-tabs li a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 18px;
    margin-right: 1px;
    text-align: center;
    line-height: 25px;
}

.vertical-tab .nav-tabs li a:hover {
    background: #f0fcfd;
}

.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li a:hover {
    background: #f0f2f2;
    border-width: 1px 1px 1px 0px;
}

.vertical-tab .nav-tabs li:last-child a {
    border-bottom: 0px;
}

.vertical-tab .nav-tabs li.active a:before {
    content: '';
    position: absolute;
    right: -6px;
    top: 48%;
    margin-top: -7px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 6px solid #d3d6db;
}

.vertical-tab .nav-tabs li.active a:after {
    content: '';
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -9px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 6px solid #f0f2f2;
}


/*============insight content Tab navpills ========*/

.insight-content .nav-pills {
    display: table;
    width: 100%;
}

.insight-content .nav-pills>li {
    display: table-cell;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.insight-content .nav-pills>li>a {
    display: block;
    text-align: center;
    color: #59626a;
    background: #fff;
    padding: 8px 10px;
    border-color: #dde4e9;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.insight-content .nav-pills>li:first-child a {
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.insight-content .nav-pills>li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 1px;
}

.insight-content .nav-pills>li.active>a,
.insight-content .nav-pills>li.active>a:focus,
.insight-content .nav-pills>li a:hover {
    background: #f4f7f9;
    color: #333;
}


/*============ Dropdown menu ========*/

.dropdown-menu {
    border-color: #c5c5c5;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.dropdown-menu::before {
    border-color: #e0e0e0 transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 4px;
    width: 0;
}

.dropdown-menu::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 6px 6px;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    right: 6px;
    width: 0;
}

.dropdown-menu li a::before,
.dropdown-menu li.active a::before {
    border: 0px !important;
}

.dropdown-menu li a::after,
.dropdown-menu li.active a::after {
    border: 0px !important;
}

.dropdown-header {
    background: #f9f9f9;
    position: relative !important;
    padding: 10px 20px;
    border-bottom: 1px solid #e7eaec;
    overflow: hidden;
}

.dropdown-header h3 {
    margin: 0;
    padding: 0;
}

.dropdown-header h3 i {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}

.dropdown-footer {
    position: relative;
    padding: 0;
    text-align: center;
}

.dropdown-footer a {
    padding: 7px 0px !important;
    border: 0px !important;
}

.dropdown-menu > li,
.dropdown-menu > ul > li {
    display: block !important;
    margin: 0;
    position: relative;
    line-height: 18px;
}

.dropdown-menu > li > a i {
    display: inline-block;
    margin-right: 6px;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background: #fff;
    color: #333;
}

.dropdown-menu > li a,
.user-dropdown ul > li > a,
.navbar-right li .dropdown-menu > ul > li > a,
.widget-tool li .dropdown-menu > li > a,
.add-tag-item .dropdown-menu > li > a {
    display: block;
    position: relative;
    background: #fff;
    color: #333;
    line-height: 18px;
    ;
    padding: 7px 10px 7px 25px;
    border-width: 0 0 1px 0;
    border-style: dotted;
    border-color: #f1f2f3;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.dropdown-menu > li > a:hover,
.user-dropdown ul > li > a:hover,
.navbar-right li .dropdown-menu > ul > li > a:hover,
.widget-tool li .dropdown-menu > li > a:hover,
.add-tag-item .dropdown-menu > li > a:hover {
    background: rgb(4, 162, 131) none repeat scroll 0 0;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-static-top .dropdown-menu > li > a::first-letter,
.widget-tool li .dropdown-menu > li > a::first-letter {
    text-transform: uppercase;
}

.navbar-static-top .dropdown-menu > li:last-child > a,
.widget-tool li .dropdown-menu > li:last-child > a {
    border: 0px;
}

.navbar-right li .dropdown-menu > ul > li > a.active::before,
.selectedGran::before,
.tagDropdown > li.active a::before,
.dropdown-menu > li.active a::before,
.user-dropdown ul > li.active a::before {
    position: absolute;
    left: 9px;
    top: 5px;
    content: "\f383";
    font-family: "Ionicons";
    font-size: 16px;
}

.navbar-right li .dropdown-menu > ul > li > a i {
    display: inline-block;
    margin-right: 4px;
}

.widget-tool li .dropdown-menu,
.add-tag-item .dropdown-menu {
    margin: 0;
    padding: 0;
    top: 45px;
    right: 5px;
    left: auto;
}

.navbar-right .dropdown-menu {
    top: 52px;
}

.lingu-selection .dropdown-menu {
    top: 46px;
    right: 0px;
    left: auto;
}

.widget-tool li .dropdown-menu::before {
    margin-left: 46px;
}

.widget-tool li .dropdown-menu::after {
    margin-left: 48px;
}

.widget-tool li .dropdown-menu li {
    display: block;
}

.navbar .dropdown-menu {
    margin-top: 0px;
}

.navbar .dropdown-menu::after {
    border-color: #F9F9F9 transparent;
}

.list-inline {
    margin: 0;
    padding: 0;
}

.list-inline > li {
    vertical-align: top;
}


/* ------button override ----- */

.btn {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 4px 12px;
    font-size: 13px;
    margin: 0px 6px;
}

.btn i {
    font-size: 16px;
}

.btn-primary,
.btn-danger {
    line-height: 22px;
    color: #fff !important;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    background: #079277;
    border: #079277 solid 1px;
}

.btn-primary {
    background: #079277;
    border: #079277 solid 1px;
}


/* ------Image override ----- */

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
    display: inline-block;
}


/* ------Model window oerride ----- */

.modal-backdrop,
.search-overlay {
    background-color: #000;
}

#smallModal .modal-dialog {
    margin: 150px auto;
    z-index: 1060 !important;
}

.modal-content {
    background: #fff none repeat scroll 0 0;
    border: 3px solid rgba(4, 162, 131, 0.25);
    box-shadow: 0 2px 4px #3e3e3e;
    color: #333;
    line-height: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-clip: padding-box;
    outline: 0 none;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.modal-backdrop.in,
.search-overlay {
    opacity: 0.7;
}

.modal-body {
    padding: 15px 20px 15px 15px;
}

.modal-header .close {
    margin: 0px;
    padding: 0px;
}


/* ------form override ----- */

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eaeef1;
    color: #555;
    height: 32px;
    font-size: 12px;
    line-height: 1.42857;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #079277;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* ------Tooltip ----- */

.tooltip {
    display: block !important;
}

.tooltip-inner {
    display: block;
    padding: 10px 8px;
    background: #fff;
    border: #36B49B solid 2px;
    color: #333;
    text-align: center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.admin-tooltip .tooltip-inner {
    width: 350px !important;
    max-width: 350px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #36B49B;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #36B49B;
}

.tooltip-inner {
    color: #000;
    background: #fff;
    border: solid 2px #36B49B;
}


/* ------Custome check box and radio ----- */

.table td > .checkbox,
.table th > .checkbox {
    position: relative;
    float: left;
    width: 27px;
    top: 0px;
    left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}


/* ------well override ----- */

.youtube-post .well {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    position: relative;
    padding: 0;
    /*    min-height: 510px;*/
}


/* ------ bootstrap table ----- */

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: 0px;
}

.table thead {
    height: 35px;
    vertical-align: middle;
    background: rgb(4, 161, 130) none repeat scroll 0 0;
}

.table thead tr th {
    color: #fff;
    vertical-align: inherit;
}

.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 8px 4px;
    word-wrap: break-word;
    text-align: left;
    text-transform: capitalize;
}

.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
}
/* ------Flexy slide Override ----- */

.flexslider {
    text-align: center;
}

.flex-direction-nav a {
    background: rgba(95, 59, 60, 1.00);
}


/* ------SVG Override ----- */

svg {
    display: block;
    height: 100%;
    width: 100%;
}

#chartID {
    height: 300px;
}

#chartIDPie {
    height: 250px;
}


/*======================================
Padding and margin
=================================== */

.no-padding {
    padding: 0 !important;
}

.padding-15 {
    padding: 15px !important;
}

.pad-l-15 {
    padding-left: 15px !important;
}

.pad-r-15 {
    padding-right: 15px !important;
}


/*======================================
Jquery UI override
=================================== */

.ui-slider .ui-slider-handle {
    background: #04A283;
    border: #02846a solid 1px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: move;
    top: -1px;
    left: 2px;
}

.ui-datepicker {
    z-index: 999999 !important;
}

.ui-widget-header {
    background: #04A283;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #04A283;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #c5e4de;
    border: 1px solid #6fbaab;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: 300;
}

.topic-positive {
    color: #6caa24 !important;
}

.topic-negative {
    color: #e3483a !important;
}

.topic-neutral {
    color: #279cf9 !important;
}

.topic-mixed {
    color: #0060c2 !important;
}

.modal-title {
    float: left;
}

.pie-headers-smm-fb-page-name {
    font-weight: 400 !important;
}

#sunburst-graph text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #FFF !important;
}