.checkbox,
.radio {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}

.checkbox label,
.radio label {
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px
}

.checkbox+.checkbox,
.radio+.radio {
    margin-top: -5px
}

.checkbox-inline,
.radio-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 5px;
    margin-left: 5px;
    border: 1px solid #888;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    -o-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    left: -1px;
    top: 4px;
    margin-left: 5px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 13px;
    line-height: 17px;
    color: #04a182;
}

.checkbox input[type=checkbox] {
    display: none
}

.checkbox input[type=checkbox]:checked+label::after {
    font-family: FontAwesome;
    content: "\f00c"
}


.radio {
    padding-left: 20px
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #888;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out;
    -o-transition: border .15s ease-in-out;
    transition: border .15s ease-in-out
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -moz-transition: -moz-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -o-transition: -o-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33)
}

.radio input[type=radio] {
    display: none
}

.radio input[type=radio]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1)
}