@media (min-width: 1200px) {
    .menu-visible-lg {
        display: block !important;
    }
}

@media (max-width: 1170px) {
    .center-orientation .vertical-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .center-orientation .vertical-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .center-orientation .vertical-timeline-content .btn {
        float: left;
    }
    .center-orientation .vertical-timeline-content .vertical-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 2px;
        font-size: 14px;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
        float: right;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
        float: right;
    }
    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
        visibility: hidden;
    }
}

@media (max-width: 992px) {
    body.rtls .chat-users, body.rtls .chat-statistic {
        margin-right: 0px;
    }
    .menu-visible-md {
        display: block !important;
    }
    .welcome-message {
        display: none;
    }
}

@media (max-width: 800px) {
    #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr {
        border: 1px solid #ccc;
    }
    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

@media (max-width: 768px) {
    .navbar-static-side .nav > li > a {
        padding: 10px 15px;
    }
    .mini-navbar .navbar-static-side .nav > li > a i {
        font-size: 18px;
    }
    .menu-visible-md {
        display: block !important;
    }
    .menu-visible-lg {
        display: block !important;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    .navbar-static-side .nav > li > a {
        padding: 10px 15px;
    }
    .mini-navbar .navbar-static-side .nav > li > a i {
        font-size: 18px;
    }
    .top-navigation .navbar-header {
        display: block;
        float: none;
    }
    .main-search {
        width: 100%;
        min-width: auto;
    }
    .body-small #page-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        min-height: 1000px;
    }
    .body-small .mini-navbar #page-wrapper {
        position: inherit;
        margin: 0 0 0 50px;
        min-height: 1000px;
    }
    .body-small #top-header {
        padding-left: 0;
    }
    .body-small .navbar-static-side .nav > li .nav-second-level {
        position: absolute;
        padding: 0 0 0 6px;
    }
    .body-small .navbar-static-side .nav > li .nav-second-level li a {
        padding: 5px;
    }
    .body-small .mini-navbar #top-header {
        padding-left: 50px;
    }
    .vertical-tab .nav-tabs li a {
        text-align: center;
    }
    .vertical-tab .nav-tabs li a span {
        display: none;
    }
    .body-small .navbar-static-side {
        display: none;
        width: 0px;
    }
    .body-small .mini-navbar .navbar-static-side {
        display: block;
        width: 50px;
    }
    .mini-navbar .profile-element,
    .mini-navbar .nav-label,
    .mini-navbar .navbar-default .nav li a span {
        display: none;
    }
    .body-small .mini-navbar .logo-element {
        display: block;
    }
    .mini-navbar .nav-second-level {
        position: absolute;
        left: 46px;
        top: 0px;
        padding: 0;
    }
    .body-small .mini-navbar .nav li:hover > .nav-second-level,
    .body-small .mini-navbar .nav li:focus > .nav-second-level {
        display: block;
        min-width: 140px;
        height: auto;
    }
    .navbar-right {
        padding-bottom: 20px;
    }
    .navbar-right li:last-child a {
        display: inline-block;
        text-align: center;
        padding-left: 20px;
    }
    .navbar-collapse {
        border: 0px;
        background: #5b5b62;
        overflow: auto;
    }
    .navbar-collapse.in {
        overflow: auto;
    }
    .navbar-form {
        padding: 0px;
        border: 0px;
    }
    .navbar-static-side .nav > li > a {
        padding: 10px 15px;
    }
    .mini-navbar .navbar-static-side .nav > li > a i {
        font-size: 18px;
    }
    .vertical-timeline-content h2 {
        font-size: 18px;
    }
    .vertical-timeline-content p {
        font-size: 13px;
    }
    .main-search {
        width: 100%;
        min-width: auto;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    .navbar-fixed-top .navbar-collapse {
        height: auto;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media (max-width: 350px) {
    .navbar-static-side .nav > li > a {
        padding: 10px 15px;
    }
    .mini-navbar .navbar-static-side .nav > li > a i {
        font-size: 18px;
    }
    .timeline-item .date {
        text-align: left;
        width: 110px;
        position: relative;
        padding-top: 30px;
    }
    .timeline-item .date i {
        position: absolute;
        top: 0;
        left: 15px;
        padding: 5px;
        width: 30px;
        text-align: center;
        border: 1px solid #e7eaec;
        background: #f8f8f8;
    }
    .timeline-item .content {
        border-left: none;
        border-top: 1px solid #e7eaec;
        padding-top: 10px;
        min-height: 100px;
    }
    .nav.navbar-top-links li.dropdown {
        display: none;
    }
    .ibox-tools {
        float: none;
        text-align: left;
        display: inline-block;
    }
    .main-search {
        width: 100%;
        min-width: auto;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    .navbar-fixed-top .navbar-collapse {
        padding: 0 0 20px 0;
        height: auto;
    }
}