.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 8px 5px;
    margin: 0;
    text-align: right;
}

.simple-pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    display: inline-block;
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/

.dark-theme a,
.dark-theme span {
    float: left;
    color: #CCC;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    min-width: 14px;
    padding: 4px 12px;
    margin: 0 5px 0 0;
    background: rgba(80,182,182, 1.00);
}

.dark-theme a:hover {
    text-decoration: none;
       background: rgba(42,117,117, 1.00);
    color: #fff;
}

.dark-theme .current {
    background: rgba(4,161,130, 1.00);
    color: #FFF;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: default;
}

.dark-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}