.border-all {
    border: #e7eaec solid 1px;
}

.border-l {
    border-left: #e7eaec solid 1px;
}

.border-r {
    border-right: #e7eaec solid 1px;
}

.border-b {
    border-bottom: #e7eaec solid 1px;
}

.border-t {
    border-top: #e7eaec solid 1px;
}

.mr-btm-none {
    margin-bottom: 0px;
}

.gray-bg {
    background: url(../../img/admin-bg.jpg) left top repeat;
}

.footer-gray {
    background: #fbfbfb;
}


/* PEACE */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace-inactive {
    display: none;
}


/* MAIN HEADER */

a.button-download {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 13px !important;
    cursor: pointer;
    width: 36px;
    height: 28px;
    font-size: 12px;
    font-weight: 200;
    padding: 0px 7px !important;
    transform-origin: top center;
    border: #216666 solid 1px!important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background: #04A283 !important;
}

a:hover.button-download,
a:focus.button-downloada {
    background: #04A283 !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    color: #36B49B;
}

.icon-download {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    width: 18px;
    height: 8px;
    top: 9px;
    margin: auto;
    border: solid 2px rgba(255, 255, 255, 100);
    border-top: none;
}

.icon-download:before,
.icon-download:after {
    content: '';
    display: block;
    position: absolute;
    color: #fff;
}

.icon-download:before {
    left: 4.89px;
    top: -4px;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 100);
}

.icon-download:after {
    left: 2px;
    top: -8px width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px rgba(255, 255, 255, 100);
}

.button-download:hover .icon-download {
    border: solid 2px #fff;
    border-top: none;
}

.button-download:hover .icon-download:before,
.button-download:hover .icon-download:after {
    animation: icon-bounce .5s infinite alternate;
}

@keyframes icon-bounce {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes white-pulse {
    from {
        color: rgba(255, 255, 255, 0.2);
    }
    to {
        color: rgba(255, 255, 255, 0.5);
    }
}

.minimalize-icon {
    float: left;
    font-size: 14px;
    padding: 10px 15px;
    color: #e1e1e1;
}

.minimalize-icon:hover,
.minimalize-icon:focus {
    color: #fff;
}

.minimalize-icon i {
    font-size: 24px;
}

.main-search {
    position: relative;
    margin: 0;
    padding: 0 10px;
    min-width: 450px;
}

.main-search .search-box {
    width: 100%;
    min-width: 270px;
    padding: 6px 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.main-search .search-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 34px;
    position: absolute;
    line-height: 26px;
    padding: 0px 8px;
    right: 10px;
    top: 0px;
    font-size: 16px;
}

.search-advance {
    display: block;
    background: #3B3B41;
    position: absolute;
    padding: 0px 10px 10px 10px;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 99;
}

.search-advance-item {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.advance-close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #37373c;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.advance-close:hover {
    background: #04A283 !important;
    color: #fff !important;
}

.advance-search-btn {
    display: block;
    margin: 8px auto;
    background: #04A283;
    width: 100%;
    border: 0px;
    color: #fff;
    padding: 8px 0px;
    text-align: center;
}

.advance-search-btn i {
    display: inline-block;
    margin-right: 4px;
    font-size: 18px;
}

.search-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
}


/*----Header profile ----*/

.header-profile {
    display: inline-block;
    width: 26px;
    vertical-align: top;
    overflow: hidden;
}

.profile-drop {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.profile-drop-name {
    font-size: 16px;
    display: inline-block;
    word-wrap: break-word;
}

.profileDropdown.dropdown-menu li a i {
    display: inline-block;
    margin-right: 6px;
}

#btnAddPage {
    background: #06ddb3;
    display: inline-block;
    position: relative;
    padding: 6px 12px;
    height: 35px;
    border: #06eec0 solid 1px;
}

#btnAddPage i {
    font-size: 18px;
}


/*==========
Widget Header
================*/

.widget-tool {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 10px;
}

.widget-tool ul {
    padding: 0;
    margin: 0;
}

.widget-tool li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.widget-tool li a {
    display: block;
    padding: 0 8px;
    cursor: pointer;
    color: #333;
    line-height: 20px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.widget-tool li a.tool-icon {
    width: 36px;
    height: 36px;
    text-align: center;
    margin-left: 10px;
    line-height: 36px;
    color: #c3c3c3;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .10);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .10);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.widget-tool li a.tool-icon i {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.widget-tool li a span {
    margin-left: 6px;
    vertical-align: bottom;
}

.widget-tool li a i {
    display: inline-block;
    margin-right: 6px;
    font-size: 17px;
}


/*----Tag dropdown ----*/

.tag-edit {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 999;
    top: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.tag-edit:hover {
    background: #dee1e2;
}


/*----Common list ----*/

.vertical-list,
.horizontal-list {
    display: block;
    padding: 0;
}

.vertical-list {
    display: block;
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
}

.vertical-list li {
    display: block;
    margin: 10px 0;
    padding: 0;
    position: relative;
}

.horizontal-list li {
    display: inline-block;
    float: left;
    margin: 0px 6px;
    padding: 0;
    position: relative;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
}

.horizontal-list li:first-child {
    margin-left: 0px;
}

.horizontal-list li:last-child {
    margin-right: 0;
}

.horizontal-list::before {
    content: " ";
    display: table;
}

.horizontal-list::after,
.horizontal-list::before {
    box-sizing: border-box;
}


/*---- Top Tag list ----*/

.tagAdd-btn {
    position: absolute !important;
    text-align: center;
    height: 30px;
    width: 30px;
    background: rgb(4, 162, 131);
    top: 7px;
    right: 12px;
    cursor: pointer;
    color: #fff !important;
    padding: 0 !important;
    border-radius: 50%;
    line-height: 29px !important;
}

.tagAdd-btn i {
    margin: 0px !important;
}

.tagAdd-btn:hover {
    background: rgb(4, 162, 131) !important;
}


/*---- Home Page right side bar ----*/

.sidebar-container ul.nav-tabs {
    background: #242424;
    border: 0px;
}

.sidebar-container ul.nav-tabs li {
    border: none;
}

.sidebar-container ul.nav-tabs li a {
    border: none;
    padding: 8px 20px;
    margin: 0;
    border-radius: 0;
    background: #242424;
    color: #676a6c;
    text-align: center;
    border-right: 1px solid #334556;
}

.sidebar-container ul.nav-tabs li.active a {
    border: none;
    background: #111111;
    color: #fff;
    font-weight: bold;
}

.time-line-list {
    display: block;
    margin: 0;
    padding: 0;
}

.time-line-list li {
    border-top: 1px solid transparent;
    margin: 0;
    padding: 0;
    position: relative;
}

.time-line-list li:before {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center, #e0e0e0, #ffffff) repeat scroll 0 0;
    bottom: 0;
    content: "";
    margin: 0;
    height: 1px;
    left: 1px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.time-line-list li a {
    display: block;
    line-height: 29px;
    padding: 4px 8px;
}

.sidebar-container .sidebar-title {
    background: #f9f9f9;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #e7eaec;
}


/*filter End --*/

.pageheader {
    padding: 15px;
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
}

.pageheader h2 {
    font-weight: 300;
    margin: 0;
}

.pageheader .description {
    margin: 0;
    margin-top: 5px;
    color: #999;
}

.pageheader .breadcrumb-wrapper {
    position: absolute;
    top: 13px;
    right: 25px;
}

.pageheader .breadcrumb-wrapper .label {
    color: #999;
    text-transform: uppercase;
    font-size: 0.688em;
    font-weight: normal;
    display: inline-block;
}

.pageheader .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
}

.pageheader .breadcrumb li {
    font-size: 0.75em;
}

.pageheader .breadcrumb li.active {
    color: #333;
}

.pageheader .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #515050;
    font-family: FontAwesome;
    content: "\f105";
}


/* DASBOARD */

.dashboard-header {
    border-top: 0;
    padding: 20px 20px 20px 20px;
}

.dashboard-header h2 {
    margin-top: 10px;
    font-size: 26px;
}

.fist-item {
    border-top: none !important;
}

.statistic-box {
    margin-top: 40px;
}

.dashboard-header .list-group-item span.label {
    margin-right: 10px;
}

.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}

ul.clear-list:first-child {
    border-top: none !important;
}


/* Slim scroll */

.slimScroll {
    padding-right: 20px;
}


/*  widget information */

.visits-info {
    margin: 0;
    padding: 0;
    text-align: center;
}

.visits-info ul {
    display: table;
    margin: 0;
    padding: 0;
}

.visits-info li {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 400px;
}

.metrices {
    display: block;
    position: relative;
    margin: 0;
    padding: 8px 0;
    cursor: pointer;
    min-height: 110px;
}

.metrices .metric-name,
.metrices .numbers {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.metrices .metric-name p {
    margin: 0;
    padding-bottom: 2px;
}

.metrices .metric-name i {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0px;
    margin-right: 6px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
}

.visits-info li:hover .metrices {
    font-weight: 600;
}

.visits-info li:hover .metrices .metric-name i {
    color: #04a283;
}

.metrices .numbers {
    margin: 0;
    padding: 0 font-size: 14.25px;
}

.count-labe {
    display: inline-block;
    margin-right: 4px;
    padding: 0;
}

.count-labe:last-child {
    margin: 0px;
}

.count-labe span {
    display: inline-block;
    float: left;
    height: 24px;
    border-style: solid;
    border-color: #d5d5d5;
    padding: 5px 3px;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0.4em 0.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none
}

.count-labe span i {
    display: inline-block;
    margin-right: 4px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.6
}

.count-labe span:first-child {
    background: #fafafa;
    color: #333;
    border-width: 1px 0 1px 1px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
}

.count-labe span:last-child {
    border-width: 1px;
    background: #fff;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}


/* widget table */

#no-more-tables {
    display: block;
    width: 100%;
}


/*==========
filter tag style
================*/

.filter-tag {
    display: block;
    float: left;
}

.tags {
    zoom: 1;
}

.tags:before,
.tags:after {
    content: '';
    display: table;
}

.tags:after {
    clear: both;
}

.tags li {
    position: relative;
    float: left;
    padding: 0;
    margin-right: 20px;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.tags li:active {
    margin: 0px;
}

.tags li:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 10px;
    right: -2px;
    width: 5px;
    height: 6px;
    opacity: .95;
    border-radius: 0;
}

.tags a,
.tags span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.tags li a {
    height: 36px;
    line-height: 32px;
    padding: 0 9px 0 8px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    text-transform: capitalize;
    background: #fff;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #fff, #fff);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
    padding: 0 12px;
    max-width: 80px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags span {
    position: absolute;
    top: 1px;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    max-width: 0;
    height: 34px;
    line-height: 31px;
    padding: 0 0 0 8px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #04A283 #04A283 #04A283;
    border-radius: 0;
    opacity: .95;
    background-image: -webkit-linear-gradient(top, #04A283, #04A283);
    background-image: -moz-linear-gradient(top, #04A283, #04A283);
    background-image: -o-linear-gradient(top, #04A283, #04A283);
    background-image: linear-gradient(to bottom, #04A283, #04A283);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
}

.green:after {
    background: #04a283;
    -webkit-box-shadow: inset 1px 0 #047e66;
    box-shadow: inset 1px 0 #047e66;
}

.green span {
    background: #04a283;
    border-color: #3591cd #318cc7 #2f86be;
    background-image: -webkit-linear-gradient(top, #04ae8d, #049679);
    background-image: -moz-linear-gradient(top, #04ae8d, #049679);
    background-image: -o-linear-gradient(top, #04ae8d, #049679);
    background-image: linear-gradient(to bottom, #04ae8d, #049679);
}

.ask-tooltip {
    position: absolute;
    top: 5px;
    left: -27px;
    background: rgba(238, 238, 238, 1) none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 50% !important;
    color: #222 !important;
    cursor: pointer !important;
    height: 20px !important;
    line-height: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    text-align: center;
    width: 20px !important;
}


/*==========
result tag style END
================*/


/* ---------------------------------------------------------------------------
------------------------------ Page styel ----------------------------------------- 
------------------------------------------------------------------------------*/


/* Social-management Start */

.social-compose,
.social-tab {
    display: block;
    background: #fff;
}

.social-compose {
    padding: 3px 5px;
    box-shadow: 0 0 2px 0 #888;
    margin-bottom: 8px;
    margin-top: 2px;
    position: relative;
    height: 40px;
}

.social-tab {
    display: block;
    background: #f5f5f5;
    padding: 0 5px;
}

#streams-widget {
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 3px 0 0;
    position: absolute;
    right: 0;
    top: 175px;
    height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (20px + 30px));
}

#pageTabContent {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 40px;
    height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (20px + 30px));
}

.social-controls {
    display: block;
    position: relative;
    padding: 2px 5px;
}

.streams-widget {
    display: block;
    overflow-y: auto;
}

.social-item {
    background-color: #fff;
    width: 290px;
    float: left;
    height: 100%;
    margin: 0px 8px 8px 0px;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: rgba(255, 255, 255, 100);
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.20);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.20);
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.social-stream {
    display: block;
    margin: 0px;
    padding: 0;
    position: relative;
}

.stream-header {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: move;
    height: 38px;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 5px 10px;
}

.stream-data {
    display: block;
    min-height: 100px !important;
    height: 100%;
    padding: 10px 6px;
}

.tiwtter-streams .stream-header {
    border-top: 3px solid #55acee;
}

.tiwtter-streams .stream-header h4 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tiwtter-streams .stream-header h4 i {
    display: inline-block;
    font-size: 18px;
    margin-right: 8px;
    color: #55acee;
}

.twitter-name-display {
    font-size: 14px;
    display: inline;
    vertical-align: calc();
    font-weight: 300;
    color: #9e9e9e;
    margin-left: 10px;
}

.stream-controls {
    position: absolute;
    top: 5px;
    right: 5px;
}

.stream-controls a {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.stream-content {
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.fb-message-body,
.twitter-message-body {
    display: block;
    background: #fff;
    margin: 0;
    position: relative;
}

.fb-message-body {
    padding: 10px;
}

.twitter-message-body {
    padding: 10px 10px 10px 50px;
}

.fb-message-body h4,
.twitter-message-body h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 0;
}

.fb-message-body p,
.twitter-message-body p {
    clear: left;
    margin: 0 0 .5em;
    font-size: 13px;
    line-height: 16px;
    color: #32363f;
}

.messageDescription {
    margin-bottom: 4px;
    font-size: 12px;
    color: #999;
}

.social-avathar {
    height: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 30px;
    overflow: hidden;
}

.social-avathar img {
    max-height: 100%;
}

.tweet-list,
.timeline-list {
    padding: 0px 5px !important;
}

.stream-content .vertical-list {
    padding-right: 10px;
}

.stream-content .vertical-list li {
    border-bottom: #e9e9e9 solid 1px;
}

#slider {
    height: 8px;
    margin: 2px 4px 0 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 3px;
    width: 78px;
    z-index: 2;
}

.addStream-content {
    display: block;
}

.addStream-content [class*="col-"] {
    padding: 0px;
}

.fb-analytics-inner {
    padding: 15px;
}

.social-close-twitter,
.social-close-facebook {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 10px;
    color: #c9c9c9;
}

.management-users-list li.current .social-close-twitter,
.management-users-list li.current .social-close-facebook {
    color: #8fb4ad;
}

.management-users-list li.current .social-close-twitter:hover,
.management-users-list li.current .social-close-facebook:hover {
    color: #04a182;
}

.fb-tab-content,
.twitter-tab-content {
    padding: 0px !important;
}

.fb-tab-content .vertical-list,
.twitter-tab-content .vertical-list {
    padding: 0px 8px  0 4px;
}


/* Report generate */

.report-generate,
.report-aggregate {
    display: block;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 0 0 2px 0 #888;
    margin-bottom: 20px;
    margin-top: 2px;
    position: relative;
    height: 40px;
}

.select-user {
    border: 1px solid #ccc;
    display: block;
    margin: 0;
    padding: 0;
    min-width: 280px;
    height: 30px;
    line-height: 30px;
}

.select-user a {
    display: block;
}

.select-user a span:first-child {
    padding: 0px 15px;
    line-height: 29px;
    color: #ddd;
}

.drop-arrow {
    cursor: pointer;
}

.user-refresh,
.drop-arrow {
    background: #efefef none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    display: inline-block;
    height: 28px;
    text-align: center;
    vertical-align: top;
    width: 28px;
}

.user-refresh {
    position: absolute;
    right: 29px;
    top: 0;
}

.user-dropdown {
    width: 100%;
    padding-bottom: 10px;
}

.generic-stats-outer {
    display: block;
    width: 40%;
    margin: auto;
    clear: both;
}

.general-stats {
    display: block;
    padding: 20px;
}

.aggregate-dropdown {
    width: 100%;
}

.aggregate-dropdown li {
    border-bottom: #f1f2f3 dotted 1px;
    padding: 7px 8px;
}

.aggregate-dropdown li span:first-child {
    margin-right: 6px;
}


/* Social-management END */


/*  ==== Streams ===== */

.messageBoxContainer {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: block;
    margin: 0;
    padding: 4px 5px;
    z-index: 2;
}

.messageBoxContainer.collapsed {
    overflow: hidden;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: none;
}

.messageBoxContainer.expanded {
    -webkit-box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.profileSelectorWidget {
    position: relative;
    width: 280px;
    float: left;
    display: block;
    position: relative;
    margin: 0 4px 0 0;
}

.messageSection {
    display: block;
    float: right;
    width: 600px;
}

.messageBoxContainer.collapsed .profileSelectorWidget,
.messageBoxContainer.collapsed .messageSection {
    height: 30px;
}

.profileSelectorWrapper {
    display: block;
    border: #ccc solid 1px;
    padding: 0px;
    margin: 0px;
}

.profile-picker {
    width: 100%;
    clear: both;
}

.send-to {
    position: absolute;
    width: inherit;
    padding: 0px 0 0 10px;
    line-height: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
}

.search-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.profile-feild {
    background: transparent;
    border: 0px;
    padding: 0px;
    line-height: 27px;
}

.message-inner {
    display: block;
    position: relative;
    border: #ccc solid 1px;
}

.messageBoxContainer.collapsed .composerBox {
    height: 30px;
}

.messageBoxContainer.expanded .composerBox {
    height: auto;
}

.selectedList {
    display: block;
}

.selectedListBlock {
    float: left;
}

.profile-list {
    height: 130px;
    border-top: #ccc solid 1px;
}

.profile-list ul {
    margin: 0;
    padding-right: 15px;
}

.profile-list li {
    margin: 0;
    padding: 6px 0;
}

.profile-list li:hover {
    background: #f7f7f7;
}

.profile-list li span {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.profile-list li .media-icon {
    display: inline-block;
    float: right;
}

.select-tool {
    float: right;
    display: inline-block;
}

.select-tool span {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.profile-catogery,
#refresh-compose {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #efefef;
    border-left: #ddd solid 1px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.profile-catogery .dropdown-menu {
    left: auto;
    right: 0px;
    top: 31px;
}

.profile-catogery .dropdown-menu li a {
    text-align: left;
}

.profile-catogery a {
    display: block;
    line-height: 30px;
    text-align: center;
}

.profile-catogery a {
    display: block;
    cursor: pointer
}

.profile-catogery a i {
    font-size: 18px;
}

#refresh-compose i {
    line-height: 28px;
    font-size: 16px;
    cursor: pointer;
}

.messageTools {
    background: #f7f8f9;
    padding: 0 4.5px;
}

.controls {
    position: absolute;
    width: 100px;
    padding: 5px;
    height: 32px;
    bottom: 0px;
    right: 4px;
    text-align: right;
}

.controls a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.controls a:hover {
    color: #222;
}

.composerBox {
    display: block;
}

.messageBoxContainer.collapsed .composerBox textarea.messageBoxMessage {
    border: 0px;
    height: 27px;
    padding: 5px 8px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messageBoxContainer.expanded .composerBox textarea.messageBoxMessage {
    height: 112px;
    width: 100%;
    border: 0px;
    padding: 5px 8px;
    max-height: 112px;
    overflow: auto;
}

.compose-footer {
    padding: 8px 10px;
    margin-top: 8px;
    text-align: right;
    background: #fff;
    border-top: #e7eaec solid 1px;
}

.message-feild {
    width: 60%;
    display: inline-block;
    float: left;
}

.report-list-individual {
    display: block;
}

.report-list-individual li {
    display: block;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.report-list-individual li a {
    display: block;
    margin: 0;
    padding: 8px 5px 8px 10px;
}


/* Calender */

.autoSchedule {
    display: none;
    padding: 5px 0;
    margin-bottom: 6px;
    min-height: 260px;
}

.location-indicator {
    display: none;
    padding: 5px 0;
    margin-bottom: 6px;
    min-height: 10px;
}

.autoSchedule .date-pane,
.autoSchedule .time-pane {
    display: inline-block;
    float: left;
    height: 200px;
}

.autoSchedule .date-pane span,
.autoSchedule .time-pane span {
    margin-bottom: 6px;
}

.autoSchedule .date-pane {
    margin-right: 8px;
}


/* Admin tab */

.add-tag-outer {
    display: block;
}

.add-tag-outer .vertical-list li label {
    margin-bottom: 8px;
}

.add-tag-outer .vertical-list li p {
    margin-top: 10px;
}

.add-tag-pane {
    display: block;
    margin: 0 0 5px 0;
    text-align: right;
}

.add-tag-item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tag-icon {
    background: #079277 !important;
    line-height: 28px !important;
    color: #fff !important;
    border: #079277 solid 1px !important;
    cursor: pointer;
}

.tag-icon i {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.tag-icon i:first-child {
    border-right: #03896f solid 1px;
    padding: 0px 8px 0px 6px;
    margin-right: 6px;
}

.tag-icon i:last-child {
    margin-left: 4px;
}

.add-tag-block {
    padding: 20px !important;
    text-align: center;
}

.add-tag-block .btn {
    margin-top: 6px;
}

a.removeQuery,
a.editQuery {
    background: rgba(238, 238, 238, 1) !important;
    border: 0 none !important;
    cursor: pointer !important;
    color: #222 !important;
    height: 20px !important;
    line-height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    right: 5px !important;
    text-align: center;
    top: 5px !important;
    width: 20px !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
}

a:hover.removeQuery,
a:hover.editQuery {
    background: rgba(238, 238, 238, 1) !important;
}

.add-tag-language {
    display: none;
    margin-bottom: 5px;
    border: #e7eaec solid 1px;
    padding: 5px 0;
}

.add-tag-language [class*="col-"] {
    padding: 0px 5px;
}

.add-tag-language li {
    margin: 0;
}

.add-tag-language.dropdown-menu::before {
    right: auto !important;
    left: 161px;
}

.add-tag-language.dropdown-menu::after {
    right: auto !important;
    left: 163px;
}


/* ================Tag comparison============== */

.tag-comparison {
    display: block;
    text-align: center;
}

.comparison-heading {
    line-height: 25px;
    border-bottom: #E5E7E4 solid 1px;
}

.comparison-body {
    padding: 20px 10px;
}


/* Twitter */

.twitter-sentiment {
    padding: 1px 8px;
    display: block;
    overflow: hidden;
}

.twitter-sentiment li {
    display: inline-block;
    margin: 0px 2px;
    border: #f5f5f5 solid 1px;
    padding: 5px 1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.twitter-sentiment li span {
    text-align: center;
    color: #333;
}

.twitter-sentiment li span:first-letter {
    text-transform: uppercase;
}

.twitter-sentiment .flex-direction-nav .flex-prev,
.twitter-sentiment .flex-direction-nav .flex-next {
    width: 15px;
    height: 30px;
    top: 0;
    background: none;
}

.twitter-trends {
    display: block;
    margin: 0;
    padding: 0 10px;
}

.twitter-sentiment .flex-direction-nav .flex-prev {
    left: 0px;
}

.twitter-sentiment .flex-direction-nav .flex-next {
    right: 0px;
}

.twitter-sentiment .flex-direction-nav .flex-prev:before,
.twitter-sentiment .flex-direction-nav .flex-next:before {
    font-family: "Ionicons";
    font-size: 22px;
    line-height: 30px;
}

.twitter-sentiment .flex-direction-nav .flex-prev:before {
    content: "\f3cf";
}

.twitter-sentiment .flex-direction-nav .flex-next:before {
    content: "\f3d1";
}

.color-green,
.color-red,
.color-blue,
.color-yellow {
    width: 12px;
    display: inline-block;
    height: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: red;
    margin-right: 6px;
}

.color-green {
    background: #81b748;
}

.color-red {
    background: #fb6e52;
}

.color-blue {
    background: #5db2ff;
}

.color-yellow {
    background: #ffce55;
}

.tweet-profile {
    display: inline-block;
    vertical-align: top;
}

.tweet-profile .prof-image {
    display: block;
    border: #c1c0c4 solid 1px;
    overflow: hidden;
    padding: 2px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    width: 54px;
    height: 54px;
    z-index: 1;
}

.tweet-profile .prof-name {
    color: #838383;
    display: block;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
}

.tweet-profile .prof-name:first-letter {
    text-transform: uppercase;
}

.chat-message-body {
    background: rgba(255, 255, 255, 0.04) none repeat scroll 0 0;
    border-left: 2px solid #659fcb;
    border-radius: 3px;
    margin-left: 63px;
    padding: 8px 10px;
    position: relative;
    -webkit-box-shadow: 0 0 1px 1px #E3E3E3;
    box-shadow: 0 0 1px 1px #E3E3E3;
}

.chat-message-body h3,
.chat-message-body h3 {
    margin: 0px;
    padding: 0;
    color: rgb(4, 161, 130);
}

.chat-message-body small {
    font-size: 12px;
}

.chat-message-body p,
.chat-message-body p a {
    margin-top: 6px;
    padding: 0;
    color: #333;
}

.chat-message-body .horizontal-list li {
    color: #838383;
    font-size: 12px;
}

.chat-message-body .horizontal-list li i {
    margin-right: 4px;
    color: #949494;
}

.chat-message-body.on-left {
    border-left: medium none;
    border-right: 2px solid #659fcb;
    margin-left: 0;
    margin-right: 63px;
    text-align: right;
}

.chat-message-body.on-left .horizontal-list li {
    float: right;
    text-align: right;
}

.chat-message-body.on-left h3,
.chat-message-body.on-left p {
    text-align: right;
}

.chat-message-body .arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #659fcb;
    border-top: 5px solid transparent;
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 21px;
    width: 0;
}

.chat-message-body.on-left .arrow {
    border-left: 5px solid #659fcb;
    border-right: medium none;
    left: auto;
    right: -16px;
}

.following span,
.followers span {
    margin-left: 6px;
}

.tweets-content {
    padding-right: 20px;
}

.positive-analys i,
.negative-analys i {
    font-size: 20px;
    display: inline-block;
    margin-left: 4px;
}

.positive-analys i {
    color: #6caa24;
}

.negative-analys i {
    color: #e3483a;
}

.tweet-sparkline {
    display: block;
    width: 110px;
    height: 25px;
    padding: 0;
    margin: 0;
}

.twitter-streamSelect,
.facebook-streamSelect {
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.twitter-streamSelect .dropdown-menu,
.facebook-streamSelect .dropdown-menu {
    width: 100%;
    top: 32px;
}

.twitter-streamSelect span,
.facebook-streamSelect span {
    display: block;
    width: 100%;
    padding: 8px 5px;
    line-height: 13px;
    cursor: pointer;
}

.twitter-streamSelect span i,
.facebook-streamSelect span i {
    display: inline-block;
    float: right;
}

.twitter-streamSelect .dropdown-menu li .close-dd-stream,
.facebook-streamSelect .dropdown-menu li .close-dd-stream {
    display: inline;
    position: absolute;
    right: 5px;
    top: 2px;
    width: auto !important
}

.twitter-stats {
    display: block;
    padding: 0px;
}

.tweet-content {
    padding: 0px 20px;
}

.tweet-foam-positive {
    color: #21841f;
}

.tweet-foam-negative {
    color: #c41212;
}

.tweet-foam-neutral {
    color: #055394;
}

.tweet-foam-mixed {
    color: #ccb204;
}


/* ============================================================
influencers overlay
============================================================ */

#influencers {
    margin: 20px 0;
}

#influencers [class*="col-"] {
    padding: 0;
    margin: 0;
}

.item {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    height: 380px;
    vertical-align: top;
    padding: 15px;
    width: 188px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.profile-image {
    display: block;
    height: 80px;
    overflow: hidden;
}

.profile-image img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.profile-details {
    display: block;
    background: #fcfcfc;
    margin: 0;
    padding: 8px 3px;
    text-align: center;
}

.profile-details h4 {
    font-size: 18px;
}

.influencers-labe {
    display: block;
    vertical-align: top;
    padding: 6px 0;
    text-align: left;
    border-bottom: #f1f2f3 solid 1px;
    cursor: pointer;
}

.influencers-labe:hover {
    color: rgb(4, 162, 131);
}

.influencers-labe span {
    display: inline-block;
    text-align: left;
}

.influencers-labe span i {
    display: inline-block;
    margin-right: 6px;
}

.influencers-labe span:first-child {
    width: 60%;
}

.influencers-labe span:last-child {
    width: 35%;
    text-align: right;
}

.influencers-view,
.influencer-loader,
.global-report-loader {
    display: inline-block;
    background: rgb(4, 162, 131) none repeat scroll 0 0;
    padding: 4px 10px;
    color: #b3dad2;
    margin-top: 10px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
}

.influencer-loader img {
    display: inline-block;
    margin-right: 6px;
}

.global-report-loader img {
    display: inline-block;
    margin-right: 6px;
}

.influencers-view:hover {
    color: #fff;
}

.influencers-view i {
    display: inline-block;
    margin-right: 6px;
}


/* make the well swell */

.well {
    border-color: #eee;
}

.item h4 a {
    color: #333;
}

.item img.image {
    max-width: 100%;
    padding-top: 9px;
}


/* Twitter END */


/* Facebook start */

.facebook-widget {
    display: block;
    width: 50%;
    margin: 0px auto;
}

.fb-content-bottom {
    margin: 0;
    padding: 8px 10px;
}

.fb-content-bottom span {
    margin-right: 6px;
    font-weight: 400;
    color: #3b5998;
}

.fb-content-bottom span i {
    display: inline-block;
    margin-right: 4px;
}

.post-content .vertical-list li {
    margin-bottom: 20px;
    margin-top: 0px !important;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.post-content .fb-body h5 {
    margin: 0px;
    padding: 0px;
}

.page-name {
    color: #3b5998;
    font-size: 16px;
    margin: 0px;
}

.fb-body,
.fb-body {
    display: block;
    padding: 8px;
}

.fb-body p {
    padding: 4px 0px 8px 0;
    margin: 0;
}

.fb-body p a {
    color: #333;
}

.fb-body p a:hover {
    color: #3b5998;
}

.fb-image {
    display: block;
    width: 100%;
    margin: 8px 0px;
}

.facebook-post {
    display: block;
    padding-right: 15px;
}

.post-content {
    padding: 0px 0px 10px 10px;
    margin: 10px;
    background: #E6E8E5;
}

.fb-comments-pane {
    background-color: #f6f7f8;
    border-radius: 0 0 3px 3px;
    color: #141823;
    overflow: visible;
    width: auto;
    padding: 8px 10px;
    border: #d0d1d5 solid 1px;
}

.fb-comment-list {
    display: block;
    padding: 3px 0;
}

.fb-comment-list li {
    padding: 2px 0px;
    margin: 0 !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.fb-comment-list li span {
    display: inline-block;
    padding-right: 6px;
    font-weight: 600;
    color: #8c8f95;
}

.visits-question {
    display: inline-block;
    margin-right: 4px;
    vertical-align: baseline;
}

.visits-question i {
    width: 20px !important;
    height: 20px !important;
    font-size: 18px !important;
    line-height: 18px !important;
    color: #c4c4c6;
}

.visits-question:hover i {
    color: #04A283;
}

.fb-category {
    display: inline-block;
    margin-right: 8px;
    color: #757575;
    font-size: 12px;
    margin-top: 3px;
}


/* Facebook END */


/* Media page styleing */

.news-highlights {
    display: block;
}

.news-highlights li {
    border-bottom: 1px dotted #ccc;
    margin: 8px 0;
    padding-bottom: 10px;
}

.news-highlights li:last-child {
    border-bottom: 0px;
}

.contentBucket {
    display: block
}

.contentBucket li {
    border: 0 none !important;
    margin: 0 !important;
}

.contentBucket li i {
    display: inline-block;
    margin-right: 6px;
}

.contentBucket {
    display: block;
    margin-top: 6px;
}

.contentBucket li {
    display: block;
    margin: 0;
    padding: 6px 18px;
}

.news-positive,
.news-negative {
    font-size: 12px;
}

.news-positive,
.news-positive i {
    color: #6caa24;
}

.news-negative,
.news-negative i {
    color: #e3483a;
}

.news-mixed,
.news-mixed i {
    color: #4285f4;
}

.news-positive i,
.news-negative i,
.news-mixed i {
    display: inline-block;
    font-size: 15px;
    margin-right: 4px;
}

.posted-content,
.source-content,
.news-positive,
.news-negative,
.news-mixed,
.tag-icon {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f9f9 1%, #fff 3%, #f9f9f9 7%, #f2f2f2 100%) repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}


/* Media page END */


/* Youtube END */

.youtube-post {
    display: block;
    margin: 0;
    padding: 0
}

.youtube-post .well h2 {
    font-size: 16px;
    margin: 0;
    padding: 8px 0 4px 0;
    text-align: left;
}

.youtube-postdetail {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-right: 6px;
}

.youtube-video-list {
    display: block;
    overflow: hidden;
}

.youtube-video,
.youtube-tags {
    display: block;
    overflow: hidden;
}

.youtube-video {
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 300px;
}

.youtube-video img {
    width: 100%;
}

.youtube-tags {
    background: #fff;
    padding: 6px 5px;
}

.youtube-tags h2 a {
    font-size: 14px;
}

.youtube-tags ul {
    display: block;
    margin: 10px 0 0 0;
    padding: 11px 0 0 0;
    border-top: solid #e3e3e3 1px;
}

.youtube-tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


/* Youtube END */


/* Social media */

#block-buffermedia {
    display: block;
}

.add-Snetwork {
    padding: 8px 0;
    background: #e9e9e9;
    margin-right: 2px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    border-bottom: #ddd solid 1px;
}

.add-user {
    font-size: 20px;
}

.refresh-outer {
    margin-left: 20px;
    vertical-align: top;
}

.refresh-btn {
    color: #333;
    padding: 5px 5px 0px 5px;
    font-size: 18px;
}

.social-media-inner {
    display: block;
    padding: 1px 0;
}

.social-media-inner [class*="col-"] {
    padding: 0px;
}

.social-media-inner .panel-body {
    padding: 0px !important;
}

.management-users {
    display: block;
    margin: 0;
    padding: 0;
}

.management-users-list {
    display: block;
    background: #fff;
    margin: 0;
    padding: 0 8px;
}

.management-users-list li {
    display: block;
    border-bottom: 1px solid #f2f2f2;
    color: #5f5f5f;
    display: block;
    font-size: 13px;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
}

.management-users-list li.current {
    background: #d3e9e5;
}

.management-users-content {
    display: block;
    padding: 0px;
}

.management-users-content .tab-content {
    border: 0px;
}

.social-profile,
.social-text,
.social-drop {
    display: inline-block;
    vertical-align: top;
}

.social-text h4 {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 2px;
}

.social-profile {
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    opacity:
}

.social-profile img {
    width: 100%;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.social-profile i {
    display: inline-block;
    position: absolute;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    width: 24px;
    height: 24px;
    bottom: 2px;
    right: -8px;
    color: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.social-profile i.facebook {
    background: #2f57a0;
}

.social-profile i.twitter {
    background: #2ca7e0;
}

.social-text {
    padding-left: 20px;
    padding-top: 5px;
}

.social-text p {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 0px;
}

.social-drop {
    cursor: pointer;
    margin-top: 15px;
    font-size: 12px;
    line-height: 22px;
}

.social-drop i {
    display: inline-block;
    margin-right: 6px;
    font-size: 18px;
    margin-top: 5px;
}

.social-buttons {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.time-date-outer {
    display: block;
    margin: 0;
    padding: 0;
}

.social-date-block,
.social-time-block {
    display: inline-block;
    float: left;
}

.social-date-block {
    margin-right: 10px;
}

.social-close {
    position: absolute;
    color: #ddd;
    font-size: 18px;
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
}


/* -------
Social media content
------------*/

.compose-top {
    display: block;
    margin-right: 10px;
    padding: 8px;
    background: #eee;
}

.compose-top textarea {
    min-height: 273px;
}

.compose-message {
    display: block;
    padding: 10px;
    margin-top: 8px;
}

.compose-message span {
    display: block;
    margin-bottom: 10px;
}

.compose-bottom {
    display: block;
    margin-top: 10px;
    position: relative;
}

.compose-datepan {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.date-block,
.time-block {
    display: inline-block;
    vertical-align: top;
}


/* MARGINS & PADDINGS */

.widget-margin {
    margin-top: 15px;
}


/* Dreopdown width */

.dr-width-sm {
    width: 200px;
}

.dr-width-mm {
    width: 300px;
}

.dr-width-lg {
    width: 350px;
}

.dr-width-xl {
    width: 400px;
}


/* ---- grid ---- */

.grid {
    background: #DDD;
    height: 75%;
    /* inherit height from body */
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

.grid-item {
    float: left;
    width: 100px;
    height: 100px;
    background: #0D8;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--height2 {
    height: 200px;
}

#chartBar {
    width: 100%;
    height: 210px;
}

#instaTrendGraph {
    width: 100%;
    height: 263px;
}

.pagination-pos {
    position: fixed;
    bottom: 0;
    width: 85%;
}


/*influencer modal window*/

.influencers-model {
    padding: 28px 15px 20px 15px;
}

.influencers-block {
    display: block;
    background: #fff;
    border: #d3d6db solid 1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*	height:450px !important;*/
}

.influencers-top,
.influencers-bottom {
    display: block;
    float: left;
    width: 100%;
}

.influencers-top p {
    margin: 0px !important;
    padding: 0px !important;
}

.influencers-profile {
    display: block;
    border: #ccc solid 3px;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 13px;
    top: -35px;
    background: #000;
    overflow: hidden;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.influencers-profile img {
    width: 100%;
    height: 100%;
}

.influencers-top {
    position: relative;
    background: #f6f7f8;
    padding: 8px 0px 8px 80px;
    border-bottom: #d3d6db solid 1px;
    z-index: 9;
}

.influencers-top h3,
.influencers-top h4 {
    margin-bottom: 4px;
    padding: 0;
    font-size: 16px;
}

.influencers-bottom {
    margin: 0;
    padding: 0;
}

.bhoechie-tab {
    display: block;
}

.bhoechie-border {
    border-left: #d3d6db solid 1px;
}

.profile-interest {
    display: inline-block;
    margin-right: 1px;
    margin-top: 3px;
    padding: 2px 6px;
    background: #fff;
    color: #333;
    border: #d3d6db solid 1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
}


/*  bhoechie tab */

.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.bhoechie-tab-menu .list-group {
    margin-bottom: 0;
    border: 0px;
}

.bhoechie-tab-menu .list-group-item {
    border: 0px;
}

.bhoechie-tab-menu .list-group a {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: left;
    color: #333;
    border-bottom: #d3d6db solid 1px;
    -webkit-border-radius: 0 !important;
    border-radius: 0!important;
    font-size: 14px;
}

.bhoechie-tab-menu .list-group a:last-child {
    border-bottom: 0px;
}

.bhoechie-tab-menu .list-group a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 18px;
    margin-right: 1px;
    text-align: center;
    line-height: 25px;
}

.bhoechie-tab-menu .list-group a:hover {
    background: #f0fcfd;
}

.bhoechie-tab-menu .list-group a.active {
    background: #31B399;
    color: #fff;
}

.bhoechie-tab-menu .list-group a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #31B399;
}

.bhoechie-tab-content {
    /*    display: none;*/
    background-color: #ffffff;
}

.bhoechie-tab .bhoechie-tab-content:not(.active) {
    display: none;
}

.bhoechie-tab-content ul {
    display: block;
    padding: 0;
}

.bhoechie-tab-content li {
    display: block;
    padding: 0;
    border-bottom: #d3d6db solid 1px;
}

.bhoechie-tab-content .vertical-list li {
    border-bottom: #d3d6db solid 1px !important;
    padding: 0px 0px 15px 0;
}

.bhoechie-tab-content .vertical-list li p a {
    color: #333;
}

.bhoechie-tab-content .horizontal-list li {
    border: 0px !important;
    padding: 0px 5px !important;
    color: #a2a2a2;
}

.bhoechie-tab-content .horizontal-list li i {
    display: inline-block;
    margin-right: 6px;
}

.tab-content-L,
.tab-content-R {
    display: inline-block;
    padding: 8px 0;
    float: left;
}

.tab-content-L {
    width: 30%;
}

.tab-content-R {
    width: 70%;
}

#chartHomeMultiPie {
    width: 100%;
    height: 330px;
}

#chartHomeMediaStats {
    width: 100%;
    height: 330px;
}

#chartHomeTrends {
    width: 100%;
    height: 330px;
}

#chartHomeSocialSenti {
    width: 100%;
    height: 330px;
}

.search-block {
    display: block;
    margin-bottom: 12px;
    padding: 0;
}

.comparison-form {
    display: block;
}

.comparison-form select {
    width: 100%;
    height: 38px;
    padding: 0px 8px;
    float: left;
    color: #333;
    border: 0;
    background: #fff;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

#ssmPieFb {
    width: 100%;
    height: 200px;
}

#ssmPieInsta {
    width: 100%;
    height: 200px;
}

#ssmPieYt {
    width: 100%;
    height: 200px;
}

#ssmPieTwitter {
    width: 100%;
    height: 200px;
}

#ssmPieMedia {
    width: 100%;
    height: 200px;
}

#pieChartSentiNuetral {
    width: 100%;
    height: 200px;
}

#pieChartSentiPositive {
    width: 100%;
    height: 200px;
}

#pieChartSentiNegative {
    width: 100%;
    height: 200px;
}

#pieChartSentiMixed {
    width: 100%;
    height: 200px;
}

.comparison-btn {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#mapTag1 {
    width: 100%;
    height: 500px;
}

#mapTag2 {
    width: 100%;
    height: 500px;
}

.comments-user {
    font-weight: bold !important;
}

.metrics-loader-twitter,
.metrics-loader-fb,
.metrics-loader-instagram,
.metrics-loader-youtube {
    display: block;
}

.pie-headers-smm-fb {
    margin-left: 15px
}

.pie-headers-smm-fb-page-name {
    font-weight: 400 !important;
}

#sunburst-graph {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#sunburst-graph svg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.sunBurst {
    display: block;
    margin: 0 auto !important;
    width: 50%;
}


/* ---- no access Permission ---- */

.no-access-permission {
    display: block;
    width: 50%;
    margin: 20px auto;
}

.no-access-permission article h2 {
    line-height: 250px;
}


/* ---- insight ---- */

.fb-insight-heading,
.tw-insight-heading {
    display: block;
    position: relative;
    padding: 8px 0px;
}

.fb-insight-title,
.tw-insight-title {
    font-size: 18px;
}

.tw-insight-subtitle,
.tw-insight-subtitle {
    font-size: 14px;
}


/* ---- Style by jaggu ---- */

.handles {
    display: block;
    margin: 0px;
}

.add-rule-block {
    display: block;
    margin-bottom: 20px;
    padding-left: 103px;
}


/* ---- Social media facebok page ---- */

.socialmedia-facebook {
    display: block;
    margin: 0px;
    padding: 10px 10px 0 35px;
    position: relative;
    -webkit-box-shadow: 0 0 2px 1px #ccc;
    box-shadow: 0 0 2px 1px #ccc;
}

.socialmedia-facebook h3 {
    margin: 0px;
    padding: 0px;
}

.socialmedia-facebook h3 a {
    color: #3a589b;
}

.facebook-date {
    font-size: 12px;
}

.socialmedia-facebook p {
    margin-top: 4px;
}

.so-facebook-icon {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #3a589b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}

.so-facebook-icon i {
    font-size: 15px;
    color: #fff;
}

.social-facebook {
    padding: 8px 0;
    border-top: #e8e8e8 solid 1px;
    margin-top: 4px;
}

.social-facebook li i {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    color: #3a589b;
}

.social-facebook li span {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    padding: 0px 5px;
    color: #3a589b;
}


/* ---- Social media facebok page new  1-07-2016---- */

.facebook-post-block {
    display: block;
    margin: 8px;
    padding: 10px;
    background: #eaebef;
}

.facebook-post-block [class*="col-"] {
    padding: 0px !important;
}

.fb-post-inner {
    display: block;
    position: relative;
    background: #fff;
    padding: 0;
    margin: 0px;
    border-right: #cbd2e2 solid 1px;
}

.no-border {
    border-right: 0px;
}

.post-inner-head {
    display: block;
    padding: 7px 15px;
    background: #f2f4f9;
    margin: 0;
}

.post-inner-head h3 {
    margin: 0;
    display: inline-block;
    float: left;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0;
}

.fb-post-inner .vertical-list {
    padding: 10px 15px 0px 15px;
}

.fb-post-inner .vertical-list li {
    margin: 0px 0px 20px 0px !important;
}

.fb-post-inner .vertical-list li p {
    word-break: break-all;
}

.fb-cont-block {
    background: #fff;
    padding: 0px;
    margin: 0px 0 20px 0;
    -webkit-box-shadow: 0 0 0px 1px #cbd2e2;
    box-shadow: 0 0 0px 1px #cbd2e2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.fb-cont-block.active {
    border: #8e9ec0 solid 1px;
    position: relative;
    -webkit-box-shadow: 0 0 2px 2px #cbd2e2;
    box-shadow: 0 0 2px 2px #cbd2e2;
}

.fb-cont-block.active:after,
.fb-cont-block.active:before {
    content: '';
    position: absolute;
    width: 0;
    top: 12px;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 12px;
}

.fb-cont-block.active:after {
    border-color: transparent transparent transparent #fff;
    right: -11px;
    z-index: 110;
}

.fb-cont-block.active:before {
    border-color: transparent transparent transparent #8e9ec0;
    right: -13px;
    z-index: 108;
}

.fb-content {
    position: relative;
    display: block;
    margin: 1px 0 0 0;
    padding: 5px 10px 5px 40px;
}

.fb-content .fb-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3a589b;
    text-align: center;
    left: 10px;
    top: 10px;
    color: #fff;
}

.fb-content h3 {
    margin: 6px 0 0 0;
    padding: 0px;
}

.fb-content h3 a {
    font-size: 14px;
    font-family: 'open_sanssemibold', sans-serif;
    color: #345191;
    margin-top: 6px;
}

.fb-content .fb-date {
    font-size: 12px;
    color: #a1a5b2;
}

.fb-content p {
    color: #454648;
}

.fb-status {
    display: block;
    padding: 10px 8px;
    border-top: #cbd2e2 solid 1px;
    font-size: 12px;
}

.fb-like,
.fb-share,
.fb-comts {
    display: inline-block;
    margin-right: 3px;
    font-size: 12px;
}

.fb-like i,
.fb-comts i,
.fb-share i,
.fb-like strong,
.fb-comts strong,
.fb-share strong,
.fb-like font,
.fb-comts font,
.fb-share font {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

.fb-like i,
.fb-comts i,
.fb-share i {
    font-size: 15px;
    color: #afb4bd;
}

.fb-like strong,
.fb-comts strong,
.fb-share strong {
    font-size: 12px;
    color: #3a589b;
}

.fb-like font,
.fb-comts font,
.fb-share font {
    font-size: 12px;
    color: #afb4bd;
    margin: 0px;
}

.positive,
.negative,
.neutral,
.mixed {
    display: inline-block;
    font-family: "Ionicons";
    position: relative;
    float: left;
    font-size: 20px;
    margin-right: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.positive:before {
    content: "\f3ff";
    color: #477f1f;
    font-size: 18px;
}

.negative:before {
    content: "\f406";
    color: #bd081c;
    font-size: 18px;
}

.neutral:before {
    content: "\f464";
    color: #298fcc;
    font-size: 18px;
}

.mixed:before {
    content: "\f44d";
    color: #c79b00;
    font-size: 18px;
}


/*
.positive:before,
.negative:before,
.neutral:before,
.mixed:before {
    content: "";
    width: 6px;
    height: 5px;
    display: block;
    position: absolute;
    left: 2px;
    top: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(8%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0) 100%);
}

.positive {
    background: #477f1f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #477f1f), color-stop(100%, #abea7e));
    background: -webkit-linear-gradient(top, #477f1f 31%, #abea7e 100%);
    background: -moz-linear-gradient(top, #477f1f 31%, #abea7e 100%);
    background: -o-linear-gradient(top, #477f1f 31%, #abea7e 100%);
    background: -ms-linear-gradient(top, #477f1f 31%, #abea7e 100%);
    background: linear-gradient(to bottom, #477f1f 31%, #abea7e 100%);
}

.negative {
    background: #fc0404;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #fc0404), color-stop(100%, #fd8686));
    background: -webkit-linear-gradient(top, #fc0404 31%, #fd8686 100%);
    background: -moz-linear-gradient(top, #fc0404 31%, #fd8686 100%);
    background: -o-linear-gradient(top, #fc0404 31%, #fd8686 100%);
    background: -ms-linear-gradient(top, #fc0404 31%, #fd8686 100%);
    background: linear-gradient(to bottom, #fc0404 31%, #fd8686 100%);
}

.neutral {
    background: #298fcc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #298fcc), color-stop(100%, #8cd4ff));
    background: -webkit-linear-gradient(top, #298fcc 31%, #8cd4ff 100%);
    background: -moz-linear-gradient(top, #298fcc 31%, #8cd4ff 100%);
    background: -o-linear-gradient(top, #298fcc 31%, #8cd4ff 100%);
    background: -ms-linear-gradient(top, #298fcc 31%, #8cd4ff 100%);
    background: linear-gradient(to bottom, #298fcc 31%, #8cd4ff 100%);
}

.mixed {
    background: #f48605;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #f48605), color-stop(100%, #ffc786));
    background: -webkit-linear-gradient(top, #f48605 31%, #ffc786 100%);
    background: -moz-linear-gradient(top, #f48605 31%, #ffc786 100%);
    background: -o-linear-gradient(top, #f48605 31%, #ffc786 100%);
    background: -ms-linear-gradient(top, #f48605 31%, #ffc786 100%);
    background: linear-gradient(to bottom, #f48605 31%, #ffc786 100%);
}
*/


/*-- comment----*/

.fb-comment {
    margin: 1px 0 0 0;
    display: block;
    padding: 10px 10px 0px 33px;
    position: relative;
}

.comment-icon {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 10px;
    top: 16px;
    background: url(../../img/fb-comment-icon.jpg) 0 0 no-repeat;
}

.fb-comment h4 {
    font-size: 13px;
    color: #133f9f;
    font-family: 'open_sanssemibold', sans-serif;
}

.fb-comment h4 span {
    font-size: 12px;
    display: inline-block;
    padding-left: 8px;
    color: #9297a5;
    font-weight: 300;
}

.fb-comment p {
    padding-bottom: 8px;
    color: #4c4c4c;
}

.comment-footer {
    display: block;
    border-top: #cbd2e2 solid 1px;
    padding: 8px 0px;
    font-size: 12px;
}

.comment-footer span.pull-right {
    text-transform: lowercase;
}

.comment-footer span.pull-right::first-letter {
    text-transform: uppercase;
}

.comment-like {
    color: #2e4a84;
}

.fbsinglePost,
.fbsingleComment {
    cursor: pointer;
}


/*-- twitter new section----*/

.twitter-metrices-outer {
    display: block;
    padding: 0 5px;
}

.twitter-metrices-outer [class*="col-"] {
    padding: 0 5px !important;
}

.twitter-metrices {
    display: block;
    padding: 20px 0;
}

.twitter-metrices [class*="col-"] {
    padding: 0 15px !important;
}

.metrices-label {
    display: block;
    margin-bottom: 8px;
    color: #999;
}

.metrices-label a {
    display: inline-block;
    cursor: pointer;
}

.metrices-value {
    display: block;
    font-size: 18px;
    font-weight: 600;
    min-height: 10px;
    color: #555;
}

.twit-metrices-icon {
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 30px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 32px;
}

.twit-metrices-icon i {
    color: #fff;
    font-size: 18px;
}

.twit-metrices-icon.icon-people {
    background: #44a383;
}

.twit-metrices-icon.icon-wifi {
    background: #6685a4;
}

.twit-metrices-icon.icon-twitter {
    background: #55acee;
}

.twit-metrices-icon.icon-retweet {
    background: #a97003;
}

.twit-metrices-icon.icon-like {
    background: #c74518;
}

.twit-metrices-icon.icon-replay {
    background: #c4ba0f;
}

.twitter-map-data {
    display: block;
    padding: 0px 10px;
}

.twitter-map-data [class*="col-"] {
    padding: 0px !important;
}

.twitter-map-data .panel-default {
    border-right: #ddd solid 1px;
    border-left: 0px;
}

.mapdata-border {
    border-left: #ddd solid 1px !important;
}