/*-----------------
Main color
Logo color #04a283;
--------------------*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: url(../../img/admin-bg.jpg) left top repeat;
    font-family: 'open_sansregular', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555;
    line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,
h4,
h5 {
    margin-top: 5px;
}

p {
    margin: 0px;
    padding: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:focus,
a:hover {
    color: rgb(4, 161, 130);
}

label {
    font-weight: 300;
}


/*-------------------------------------------------------------------------------------------*/


/* input style   ||---------------------------- */


/*-------------------------------------------------------------------------------------------*/


/* fadeouts of placeholder in focus */

.form-control::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-control::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-control:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-control:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-control:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-control:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-control:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


/*-------------------------------------------------------------------------------------------*/


/* BASIC STYLE    ||---------------------------- */


/*-------------------------------------------------------------------------------------------*/

#wrapper {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#page-wrapper {
    display: block;
    margin: 0 0 0 50px;
    min-height: 1200px;
    position: relative;
    padding: 50px 0 0 0;
}

.navbar-static-side {
    z-index: 1040;
    position: fixed;
    width: 50px;
    height: -moz-calc(100% - 0px);
    height: -webkit-calc(100% - 0px);
    height: calc(100% - 0px);
    display: block;
    top: 0;
    left: 0;
    -webkit-box-shadow: 2px 0 5px 0 rgba(51, 51, 51, 0.10);
    box-shadow: 2px 0 5px 0 rgba(51, 51, 51, 0.10);
}

#top-header {
    padding-left: 50px;
}

.mini-navbar #top-header {
    padding-left: 200px;
}

.mini-navbar #page-wrapper {
    margin: 0 0 0 200px;
}

.mini-navbar .navbar-static-side {
    width: 200px;
}

.navbar-static-side,
.nav-header,
#page-wrapper,
#right-sidebar,
#top-header,
.row,
.main-data,
footer {
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.nav-label,
.navbar-default .nav li a span {
    display: none;
}

.mini-navbar .nav-label,
.mini-navbar .navbar-default .nav li a span {
    display: inline-block;
}

body:not(.fixed-sidebar):not(.canvas-menu).navbar-static-side .nav li:hover > .nav-second-level,
.navbar-static-side .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}

body:not(.fixed-sidebar):not(.canvas-menu).navbar-static-side .nav-second-level {
    display: none;
}

.pace-done .nav-header {
    transition: all 0.5s;
}


/*--------
side navigation
----------*/

.navbar-static-side .nav > li {
    margin: 0;
    padding: 0;
    /*    border-left: #fff solid 3px;*/
}

.navbar-static-side .nav > li > a {
    padding: 10px 13px;
    background: transparent;
    color: #323232;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.mini-navbar .navbar-static-side .nav > li > a {
    text-align: left !important;
    padding: 10px 5px;
}

.navbar-static-side .nav > li > a:focus,
.navbar-static-side .nav > li > a:hover {
    background: #fff;
    /*    border-left: #58bebe solid 3px;*/
}

.navbar-static-side .nav > li > a i {
    margin: 0;
    font-size: 18px;
}

.mini-navbar .navbar-static-side .nav > li > a i {
    margin-right: 4px;
    font-size: 14px;
}

.navbar-static-side .nav > li.active {
    background: #fff;
    border-left: rgb(4, 162, 131) solid 4px;
}

.navbar-static-side .nav > li .nav-second-level {
    background-color: #fff;
    margin: 0;
    padding: 2px 0;
    position: relative;
    font-size: 12px;
}

.navbar-static-side .nav > li .nav-second-level li a {
    border: 0px;
    color: #889097;
    display: block;
    padding: 5px 10px 5px 27px;
    position: relative;
    text-decoration: none;
}


/* saf3+, chrome1+ */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .navbar-static-side .nav > li .nav-second-level li a {
        padding: 5px 10px 5px 27px;
    }
    .navbar-static-side .nav > li .nav-second-level li a::before {
        font-size: 3px;
        left: 28px;
    }
}

.navbar-static-side .nav > li .nav-second-level li a:hover {
    background: #04A283;
    color: #fff;
}

.navbar-static-side .nav > li > a.dashboard i {
    color: #a97003;
}

.navbar-static-side .nav > li > a.social-media i {
    color: #c74518;
}

.navbar-static-side .nav > li > a.twitter i {
    color: #5f99ec;
}

.navbar-static-side .nav > li > a.facebook i {
    color: #45619d;
}

.navbar-static-side .nav > li > a.instagram i {
    color: #9A543A
}

.navbar-static-side .nav > li > a.youtube i {
    color: #C4292B;
}

.navbar-static-side .nav > li > a.mediabuzz i {
    color: #C4BA0F;
}

.navbar-static-side .nav > li > a.share-voice i {
    color: #024687;
}


/* ----
Side navigation elements
------*/

.arrow {
    float: right;
    margin-right: 10px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.mini-navbar .nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.profile-element,
.logo-element {
    text-align: center;
    overflow: hidden;
    padding: 7px 0px 1px 0;
}

.logo-element a,
.profile-element a {
    display: inline-block;
}

.profile-element a {
    width: 132px;
}

.logo-element a {
    width: 40px;
}

.logo-element,
.mini-navbar .profile-element {
    display: block;
}

.mini-navbar .logo-element,
.profile-element {
    display: none;
}

.nav-header {
    padding: 0;
    margin: 0;
}


/* ----
top Navigation
------*/

.top-header {
    display: block;
    width: 100%;
    position: relative;
}


/* MAIN CONTENT */

#content-wrapper {
    max-width: none;
    transition: margin-top 0.35s ease 0s, opacity 0.2s ease 0s;
    width: auto;
}
.main-data {
    display: block;
    padding: 20px 1.3% 0 1.3%;
}

@media (max-width:768px) {
    .main-data {
        padding: 20px 15px 0 15px;
    }
}

.panel-content {
    padding: 0;
    margin: 0;
    display: block;
    min-height: 350px;
}

.graph-content {
    display: block;
    padding: 15px;
}


/*------------Main loader------------*/

.dataContent,
.dataContentFb,
.dataContentMedia,
.dataContentStats,
.dataContentFbBar,
.dataContentFoamtreeFb,
.dataContentFbPie,
.dataContentFbPages,
.dataContentFbPosts,
.dataContentFbPostsComments,
.dataContentFbBarCommentsWeekDays,
.dataContentFbBarCommentsHourlyStats,
.dataContentMediaMap,
.dataContentMediaPie,
.dataContentMediaTrends,
.dataContentMediaSource,
.dataContentMediaNews,
.dataContentStatsMap,
.dataContentStatsPie,
.dataContentStatsLang,
.dataContentStatsBar,
.dataContentStatsTweets,
.dataContentStatsMentions,
.dataContentStatsByHour,
.dataContentStatsByDay,
.dataContentChartHomeMultiPie,
.dataContentChartHomeMediaStats,
.dataContentChartHomeTrends,
.dataContentChartHomeSocialSenti,
.dataContentHashTagTable,
.dataContentMapTag1,
.dataContentMapTag2,
.dataContentYtTrends,
.dataContentYtInfluencers,
.dataContentYtVideos,
.dataContentInstaGallerya,
.dataContentInstaTrend,
.dataContentInstaTable,
.dataContentUserStats,
.dataContentInfluencers,
.dataContentSmsFb,
.dataContentSmsInsta,
.dataContentSmsMedia,
.dataContentSmsYt,
.dataContentSmsTwitter,
.dataContentSmsNuetral,
.dataContentSmsPositive,
.dataContentSmsNegative,
.dataContentSmsMixed,
.dataContentFoamtreeListening,
.dcRetweetsNegative,
.dcRetweetsPositive,
.dataContentSmsTag1,
.dataContentSmsTag2,
.dataContentSentimentsTag1,
.dataContentSentimentsTag2,
.dataContentSunburst,
.dataContentFbStreams,
.dataContentLiveTweets,
.dataContentChartHomeTrends,
.dataContentTrendingPost,
.dataContentCommentList
.dataContentStatsMap,
.dataContentCountryMap,
.dataContentStatsCities,
.dataContentChartHomeTrendsRA,
.dataContentChartHomeTrendsFA,
.dataContentChartHomeTrendsFG,
.dataContentChartHomeTrendsFOA,
.dataContentChartHomeTrendsMA,
.dataContentSubCommentList, .divFbTimeLine, .dataContentFb-Country-Pie,.divtwitter-my-tweets {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    margin-top: -18px;
    margin-left: -52px;
    text-align: center;
    z-index: 9;
}

.dataContentFoamtreeFb span,
.dataContentFbBar span,
.divtwitter-my-tweets span,
.dataContentFbBarCommentsWeekDays span,
.dataContentFbBarCommentsHourlyStats span,
.dataContentFbPie span,
.dataContentFbPages span,
.dataContentFbPosts span,
.dataContentFbPostsComments span,
.dataContentMediaMap span,
.dataContentMediaPie span,
.dataContentMediaTrends span,
.dataContentMediaSource span,
.dataContentMediaNews span,
.dataContentStatsMap span,
.dataContentStatsPie span,
.dataContentStatsLang span,
.dataContentStatsBar span,
.dataContentStatsTweets span,
.dataContentStatsMentions span,
.dataContentStatsByHour span,
.dataContentStatsByDay span,
.dataContentChartHomeMultiPie span,
.dataContentChartHomeMediaStats span,
.dataContentChartHomeTrends span,
.dataContentChartHomeSocialSenti span,
.dataContentTagFb span,
.dataContentTagInsta span,
.dataContentTagYt span,
.dataContentYtTrends span,
.dataContentYtInfluencers span,
.dataContentMapTag1 span,
.dataContentMapTag2 span,
.dataContentYtVideos span,
.dataContentInstaGallerya span,
.dataContentInstaTrend span,
.dataContentInstaTable span,
.dataContentUserStats span,
.dataContentInfluencers span,
.dataContent span,
.dataContentFb,
.dataContentMedia,
.dataContentStats span,
.dataContentSmsFb span,
.dataContentSmsInsta span,
.dataContentSmsMedia span,
.dataContentSmsYt span,
.dataContentSmsTwitter span,
.dataContentSmsNuetral span,
.dataContentSmsPositive span,
.dataContentSmsNegative span,
.dataContentSmsMixed span,
.dataContentFoamtreeListening span,
.dcRetweetsPositive span,
.dcRetweetsNegative span,
.dataContentSmsTag1 span,
.dataContentSmsTag2 span,
.dataContentSentimentsTag1 span,
.dataContentSentimentsTag2 span,
.dataContentSunburst span,
.dataContentFbStreams span,
.dataContentLiveTweets span,
.dataContentChartHomeTrends span,
.dataContentTrendingPost span,
.dataContentCommentList span,
.dataContentStatsMap span,
.dataContentCountryMap span,
.dataContentStatsCities span,
.dataContentChartHomeTrendsRA span,
.dataContentChartHomeTrendsFA span,
.dataContentChartHomeTrendsFG span,
.dataContentChartHomeTrendsFOA span,
.dataContentChartHomeTrendsMA span,
.dataContentSubCommentList span, .divFbTimeLine span, .dataContentFb-Country-Pie span{
    display: inline-block;
    width: 100%;
    clear: both;
}

.dataLoader {
    display: inline-block;
    width: 32px !important;
    height: 32px;
    clear: both;
    border: 2px rgba(2, 162, 131, 0.25) solid;
    border-top: 2px rgba(4, 162, 131, 1.00) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.dataContentInfluencersHeading {
    position: absolute;
    top: 20px;
    left: 50%;
    display: block;
    margin-left: -40px;
    text-align: center;
}



/* ==========Extra Right sidebar============ */

#right-sidebar {
    background-color: #fff;
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    position: fixed;
    top: 50px;
    width: 260px !important;
    z-index: 1009;
    bottom: 0;
    right: -260px;
}

.right-sidebar-toggle {
    cursor: pointer;
}

.side-close {
    position: absolute;
    background: #000;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
    right: 15px;
    top: 5px;
    color: #fff;
    z-index: 9;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#right-sidebar.sidebar-open {
    right: 0;
}

#right-sidebar.sidebar-open.sidebar-top {
    top: 0;
    border-top: none;
}

.sidebar-container ul.nav-tabs {
    border: none;
}

.sidebar-container ul.nav-tabs.navs-4 li {
    width: 25%;
}

.sidebar-container ul.nav-tabs.navs-3 li {
    width: 33.3333%;
}

.sidebar-container ul.nav-tabs.navs-2 li {
    width: 50%;
}

.sidebar-container ul.nav-tabs li {
    border: none;
}

.sidebar-container ul.nav-tabs li a {
    border: none;
    padding: 12px 10px;
    margin: 0;
    border-radius: 0;
    background: #2f4050;
    color: #fff;
    text-align: center;
    border-right: 1px solid #334556;
}

.sidebar-container ul.nav-tabs li.active a {
    border: none;
    background: #f9f9f9;
    color: #676a6c;
    font-weight: bold;
}

.sidebar-container .nav-tabs > li.active > a:hover,
.sidebar-container .nav-tabs > li.active > a:focus {
    border: none;
}

.sidebar-container ul.sidebar-list {
    margin: 0;
    padding: 0;
}

.sidebar-container ul.sidebar-list li {
    border-bottom: 1px solid #e7eaec;
    padding: 15px 20px;
    list-style: none;
    font-size: 12px;
}

.sidebar-container .sidebar-message:nth-child(2n+2) {
    background: #f9f9f9;
}

.sidebar-container ul.sidebar-list li a {
    text-decoration: none;
    color: inherit;
}

.sidebar-container .sidebar-content {
    padding: 15px 20px;
    font-size: 12px;
}