<!DOCTYPE html>
<html>
<head>
    <title>Twitter Credentials</title>
    <link href="css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-dark">
<div class="logo" align="center">
    <h4>Welcome to<br>
<strong>Octobuz</strong></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
     <li>
      
      <div>
		   
                                           
<img id="profilePic"  src="img/2.jpg" style="height:auto; width:170px; max-height:163px;" class="img-circle" alt="">
<% if (user.local.name) { %>
<div align="center"><strong><%= user.local.name %></strong></div>
<% } %>
                                        </div>
                                        </li>
      <li>&nbsp;</li>
	
	<li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav"   ><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>      
        </li>
	<li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="query_all.html" link="query_all.html"  ><i class="fa fa-legal"></i> <span class="name">Admin</span></a>      
        </li>
<!--
	<li >
            <a href="query_all.html"><i class="fa fa-legal"></i> <span class="name">Admin</span></a>
        </li>
-->
        <li class="active panel">
            <a class="accordion-toggle expanded badge-default socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse" link="credentials_twitter.html"><i class="fa fa-twitter"></i> <span class="name">Twitter</span></a>
            <!--<ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="form_account.html">Account</a></li>
                <li><a href="form_article.html">Article</a></li>
                <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
                <li><a href="form_wizard.html">Wizard</a></li>
            </ul>-->
        </li>
        <li class="panel">
			<a  class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse" data-parent="#side-nav" href="credentials_facebook.html" link="credentials_facebook.html"><i class="fa fa-facebook"></i> <span id='twitter2FaceBook'class="name">Facebook</span></a>
            <!--<ul id="stats-collapse" class="panel-collapse collapse">
                <li><a href="stat_statistics.html">Stats</a></li>
                <li><a href="stat_charts.html">Charts</a></li>
                <li><a href="stat_realtime.html">Realtime</a></li>
            </ul>-->
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#ui-collapse" link="credentials_instagram.html"><i class="fa fa-instagram"></i> <span id='twitter2Instagram' class="name">Instagram</span></a>
            <!--<ul id="ui-collapse" class="panel-collapse collapse">
                <li><a href="ui_buttons.html">Buttons</a></li>
                <li><a href="ui_dialogs.html">Dialogs</a></li>
                <li><a href="ui_notifications.html">Notifications &nbsp;<span class="label label-danger">new</span></a></li>
                <li><a href="ui_icons.html">Icons</a></li>
                <li><a href="ui_tabs.html">Tabs</a></li>
                <li><a href="ui_accordion.html">Accordion</a></li>
            </ul>-->
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#components-collapse" link="credentials_youtube"><i class="fa fa-youtube"></i> <span id='twitter2YouTube' class="name">YouTube</span></a>
            <!--<ul id="components-collapse" class="panel-collapse collapse">
                <li><a href="component_calendar.html">Calendar</a></li>
                <li><a href="component_maps.html" data-no-pjax>Maps</a></li>
                <li><a href="component_gallery.html">Gallery</a></li>
                <li><a href="component_fileupload.html">Fileupload</a></li>
                <li><a href="component_bootstrap.html">Bootstrap &nbsp; <span class="label label-important">new</span></a></li>
                <li><a href="component_list_groups.html">List Groups &nbsp; <span class="label label-important">new</span></a></li>
            </ul>-->
        </li>
      <li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#grid-collapse" link="credentials_google_plus.html"><i class="fa fa-google-plus"></i> <span class="name">Google+</span></a>
            <!--<ul id="grid-collapse" class="panel-collapse collapse">
                <li><a href="grid.html">Basic</a></li>
                <li><a href="grid_live.html">Live &nbsp; <span class="label label-important">hot</span></a></li>
            </ul>-->
        </li>    
	<li class="panel">
            <a class="accordion-toggle collapsed commonMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-file-text"></i> <span class="name">MediaBuzz and more</span></a>
            <!--<ul id="tables-collapse" class="panel-collapse collapse">
                <li><a href="tables_static.html">Static</a></li>
                <li><a href="tables_dynamic.html">Dynamic</a></li>
            </ul>-->
        </li>
      
	<li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="listening_twitter.html" link="listening_twitter.html"  ><i class="fa fa-bar-chart-o"></i> <span class="name">Listening</span></a>
            
        </li>
        <!--<li class="panel">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#side-nav" href="#special-collapse"><i class="fa fa-asterisk"></i> <span class="name">Special</span></a>
            
        </li>-->
        <!--<li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#menu-levels-collapse"><i class="fa fa-code-fork"></i> <span class="name">Menu Levels</span></a>
            <ul id="menu-levels-collapse" class="panel-collapse collapse">
                <li><a href="#">Item 1.1</a></li>
                <li><a href="#">Item 1.2</a></li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#menu-levels-collapse" href="#sub-menu-1-collapse">Item 1.3</a>
                    <ul id="sub-menu-1-collapse" class="panel-collapse collapse">
                        <li><a href="#">Item 2.1</a></li>
                        <li><a href="#">Item 2.2</a></li>
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                               data-parent="#sub-menu-2-collapse" href="#sub-menu-2-collapse">Item 2.3</a>
                            <ul id="sub-menu-2-collapse" class="panel-collapse collapse">
                                <li><a href="#">Item 3.1</a></li>
                                <li><a href="#">Item 3.2</a></li>
                                <li><a href="#">Item 3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>-->
        
<!--
        <li class="panel">
            <a class="accordion-toggle collapsed socialMediaLink" data-toggle="collapse"
               data-parent="#side-nav" href="#" link="/listening"  ><i class="fa fa-bar-chart-o"></i> <span class="name">Listening</span></a>
            
        </li>
-->
        
        <li class="visible-xs">
            <a href="/logout"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    
</nav>
<div class="wrap">
<header class="page-header">
    <div class="navbar">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="visible-phone-landscape">
                <a href="#" id="search-toggle">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li class="divider"></li>
            <li class="visible-xs">
                <a href="#"
                   class="btn-navbar"
                   data-toggle="collapse"
                   data-target=".sidebar"
                   title="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="hidden-xs"><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
        <form id="search-form" class="navbar-form pull-right" role="search">
            <input type="search" class="search-query" placeholder="Search...">
        </form>
    </div>
</header>
<div class="content container">
<div class="row">
        <div class="col-md-8 col-lg-offset-1">
            <h2 class="page-title">Please login with your <i class="fa fa-twitter-square"></i> Twitter Credentials</h2>
        </div>
    </div>
<div  class="row">
	<script id="ajaxResultsTableTemplate" type="text/x-jsrender">
		<img scr={{>profile_image_url}} ></img>
				<table style="width:100%">
                        <tr> 
						<td>Account Created</td>
						<td>{{>created_at}}<td>
						</tr>
						<tr> 
						<td>Name</td>
						<td>{{>name}}<td>
						</tr>
						<tr> 
						<td>Screen Name</td>
						<td>{{>screen_name}}<td>
						</tr>
						<tr> 
						<td>Description</td>
						<td>{{>description}}<td>
						</tr>
						<tr> 
						<td>Followers</td>
						<td>{{>followers_count}}<td>
						</tr>
						<tr> 
						<td>Friends</td>
						<td>{{>friends_count}}<td>
						</tr>
						<tr> 
						<td>Favourites</td>
						<td>{{>favourites_count}}<td>
						</tr>
						<tr> 
						<td>Location</td>
						<td>{{>location}}<td>
						</tr>
						<tr> 
						<td>Status so far</td>
						<td>{{>statuses_count}}<td>
						</tr>
						
				</table>
				<br>
				<h3> We are loading your data , it will take around 2 days... Thanks for your patience </h3>
                        </script>
<div class="col-lg-10 col-lg-offset-1">
                <section class="widget">
                    
                    <div class="body">
                        <div class="form-wizard">
                            
                            
                            <div id="showData">
								<h3> Retrieving user profile </h3>
								<script id="WaitingPanel" type="text/x-jsrender">
												<h3> We are loading your data , it will take around 2 days... Thanks for your patiance </h3>
								</script>
                            
						    		
							<script id="adminTemplate" type="text/x-jsrender">
							 <div >
                                    <form class="form-horizontal mt-sm" action='' method="POST">
                                        <fieldset>
                                            <div class="form-group">
                                                <!-- Username -->
<div class="row">
<div class="col-lg-10 col-lg-offset-1">
               
                        </div>
            </div>

                                                <label class="control-label col-md-6"  for="username">Please register your keywords using the admin panel</label>
                                               <label class="control-label"  for="username"><a href="query_all.html"><i class="fa fa-legal">Admin</i></a></label>
                                            </div>
                                            
                                            
                                        </fieldset>
                                    </form>
                                </div>
                    
							</script>	
								
								
<!--								line number 253 -- to paste..in future-->
<!--
								 <section class="widget">
                    
                    <div class="body">
                        <div class="form-wizard">
                            
                            
                            <div>
                                <div>
                               
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </section>
-->
<!--
								     <h4>Thank you  <%= user.local.name %> for signing up ; we are glad you are here.<br><br>

Octobuz is a constantly updating database of the relevant most important conversations, news, media and more—all customized just for you.
<br><br>
To help get started, please provide your IDs for the social networks you want to track and tell us about all the stuff you want to listen to and we’ll help you get set up.<br><br>
You can do all of this by clicking on the relevant tabs on the left.</h4>
-->
								
							<script id="inputTemplate" type="text/x-jsrender">
                                <div >
                                    <form class="form-horizontal mt-sm" action='' method="POST">
                                        <fieldset>
                                            <div class="form-group">
                                                <!-- Username -->
<div class="row">
<div class="col-lg-10 col-lg-offset-1">
                <section class="widget">
                    
                    <div class="body">
                        <div class="form-wizard">
                            
                            
                            <div>
                                <div>
                                    <h4>Thank you  <%= user.local.name %> for signing up ; we are glad you are here.<br><br>

Octobuz is a constantly updating database of the relevant most important conversations, news, media and more—all customized just for you.
<br><br>
To help get started, please provide your IDs for the social networks you want to track and tell us about all the stuff you want to listen to and we’ll help you get set up.<br><br>
You can do all of this by clicking on the relevant tabs on the left.</h4>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </section>
                        </div>
            </div>

                                                <label class="control-label col-md-3"  for="username">Please enter your Twitter ID:</label>
                                                <div class="col-md-8">
                                                    <div class="col-md-8">
                                                        <input type="text" id="usernameTwitter" name="username" placeholder="" class="form-control">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </fieldset>
                                    </form>
                                </div>
                                
                                <div class="description ml mr mt-n-md">
                                    <ul class="pager wizard">
                                        <!--<li class="previous">
                                            <button class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
                                        </li>-->
                                        <li >
                                            <button id=nextTwitter class=" btn btn-primary pull-right" >Next <i class="fa fa-caret-right"></i></button>
                                        </li>
                                      
                                    </ul>
                                </div>
								</script>
                            </div>
                        </div>
                    </div>
                </section>
                        </div>
                
                
            </div>
            
</div>
    
    
    
    
    
    
   
    
    
    
</div>
    <div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

<!-- common libraries. required for every page-->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-pjax/jquery.pjax.js"></script>
<script src="lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="lib/widgster/widgster.js"></script>
<script src="lib/underscore/underscore.js"></script>

<!-- common application js -->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<!-- common templates -->
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <button type="button" data-value="dark" class="btn btn-sm btn-default">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-default">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <button type="button" data-value="left" class="btn btn-sm btn-default ">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default ">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <button type="button" data-value="true" class="btn btn-sm btn-default ">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default ">Hide</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>White Version</div>
        <div>
            <a data-toggle="modal" data-target="#white-temp" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
</script>

<!-- Modal -->
<div class="modal fade" id="white-temp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-wrench"></i> Under construction</h4>
            </div>
            <div class="modal-body">
                <p>Currently we're working hard implementing an update for a White Version of Light Blue template.
                    Approximate release date is <strong>November 20, 2014</strong>.</p>
                <p>Meanwhile, you may want to review <a href="../../2.1/white">White Version 2.1</a>, but keep in mind - it will be heavily modified in 3.0 update.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-inverse" data-dismiss="modal">Back to Light Blue 3.0</button>
                <a href="../../2.1/white" type="button" class="btn btn-danger">Review White Version 2.1</a>
            </div>
        </div>
    </div>
</div>

    <!-- page specific scripts -->
        <!-- page libs -->
        <script src="lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="lib/jquery-autosize/jquery.autosize.min.js"></script>
        <script src="lib/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="lib/select2/select2.min.js"></script>
        <script src="lib/switchery/dist/switchery.min.js"></script>
        <script src="lib/moment/moment.js"></script>
        <script src="lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="lib/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script src="lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
        <script src="lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        
        <script src="js/nvd3-custom-lb1.0/lib/d3.v2.min.js"></script>
        <script src="js/nvd3-custom-lb1.0/nv.d3.custom.js"></script>
        
		<script src='elasticsearch/elasticsearch.jquery.js' type='text/javascript'></script>
		<script src='elasticsearch/elasticsearch.js' type='text/javascript'></script>
<!--		<script src='loadCalls.js' type='text/javascript'></script>-->
		<script src='esCalls.js' type='text/javascript'></script> 
        
         <!-- nvd3 models -->
        <script src="js/nvd3-custom-lb1.0/src/models/scatter.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/axis.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/legend.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedArea.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/stackedAreaChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/line.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pie.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/pieChartTotal.js"></script>
        <script src="js/nvd3-custom-lb1.0/stream_layers.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/lineChart.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBar.js"></script>
        <script src="js/nvd3-custom-lb1.0/src/models/multiBarChart.js"></script>

        <!-- page application js -->
        <script src="js/forms-elements.js"></script>
        <script src="js/stat-charts.js"></script>
		<script src="js/jsrender.js"></script>

        <script>
	//var user = "<%= user.local.email %>";
//	var user = "vineethmohan@gmail.com";
	$(document).ready(function () {
        loadFunction();
        twitterUserNameFn();
        faceBookUserNameFn();
        instagramUserNameFn();
        youTubeUserNameFn();
        mediaLoadFunction();

        //      updateFeed("config", "config", "vineeth", faceBookUpdate);
        //updateFeed("config", "config", "vineeth", youTubeUpdate);

});
	
		</script>
        
</body>
</html>
