<!doctype html>
<html>
<body>
	<div >
		
      <% if (message) { %>
					<h1>
						<strong> <%=message %></strong><br>
						
					<h1>
					
				<% } %>


		</div>

</body>
</html>

<script>

window.opener.location.reload();
setTimeout(function(){ window.close() }, 3000);
</script>