<!doctype html>
<html>
<body>
	<div >
		<a href="/logout">Logout</a>


				<% if (user.local.name) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>name</strong>: <%= user.local.name %><br>
					</p>
					
				<% } %>

		</div>

</body>
</html>
