<!DOCTYPE html>
<html>
    <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.png">
    <link href="lib/bootstrap-3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
    </head>
    <body class="background-dark" style="background-image:url(img/background_img.png); background-size:cover;">
<div class="height-150"> </div>
<div class="col-md-4 col-md-offset-2">
      <header>
    <h1>Welcome to <strong>Octobuz</strong></h1>
    <br>
    <h2><strong>"Unravel the buzz around you..."</strong></h2>
    <br>
    <h3><strong>Octobuz is an online platform that lets you:</strong></h3>
    <h4>
          <ul>
        <li>- Manage your social media networks</li>
        <br>
        <li>- Listen to and analyze things that matter to you</li>
        <br>
        <li>- Amplify your online presence</li>
      </ul>
        </h4>
  </header>
    </div>
<div class="col-md-4">
      <section class="signup-widget">
    <form id="user-form" class="form-horizontal form-label-left"
                              novalidate="novalidate" action="/signup"
                              method="post" 
                              data-parsley-priority-enabled="false"
                              data-parsley-excluded="input[name=gender]">
          <header>
        <h3><i class="fa fa-user"></i> Sign Up <font color="red">
          <% if (message.length > 0) { %>
          <%= message %>
          <% } %>
          </font> </h3>
      </header>
          <div class="body login-block">
        <fieldset>
              <!--<legend class="section">Personal Info</legend>-->
              
              <div class="form-group">
            <label class="control-label col-sm-3" for="first-name">Name <!--<span class="required">*</span>--></label>
            <div class="col-sm-7">
                  <input type="text" id="first-name" name="name" required class="form-control input-transparent" >
                </div>
            <font color="red">
                <label class="control-label col-sm-2" for="validateName"></label>
                </font> </div>
              
              <!--<legend class="section">Contact Info</legend>-->
              <div class="form-group">
            <label class="control-label col-sm-3" for="first-name">Email <!--<span class="required">*</span>--></label>
            <div class="col-sm-7">
                  <input type="text" id="emailId" name="email" required class="form-control input-transparent" >
                </div>
            <font color="red">
                <label for="validateEmail" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label class="col-sm-3 control-label" for="password-field">Password</label>
            <div class="col-sm-7">
                  <input id="password" type="password" class="form-control input-transparent" name="password" id="password-field" placeholder="">
                </div>
            <font color="red">
                <label for="validatePassword" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label class="col-sm-3 control-label" for="password-field">Confirm Password</label>
            <div class="col-sm-7">
                  <input id="confirmPassword" type="password" class="form-control input-transparent" id="password-field" placeholder="">
                </div>
            <font color="red">
                <label for="validateConfirmPassword" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label for="country" class="control-label col-sm-3">Country <!--<span class="required">*</span>--></label>
            <div class="col-sm-7">
                  <select id="country" required
                                                data-placeholder="Select country" class="select2 form-control input-transparent" name="country">
                <option value=""></option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antarctica">Antarctica</option>
                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                <option value="Botswana">Botswana</option>
                <option value="Bouvet Island">Bouvet Island</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                <option value="Brunei Darussalam">Brunei Darussalam</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cote D'ivoire">Cote D'ivoire</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Territories">French Southern Territories</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guinea">Guinea</option>
                <option value="Guinea-bissau">Guinea-bissau</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                <option value="Korea, Republic of">Korea, Republic of</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macao">Macao</option>
                <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                <option value="Moldova, Republic of">Moldova, Republic of</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Namibia">Namibia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Netherlands Antilles">Netherlands Antilles</option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau">Palau</option>
                <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Pitcairn">Pitcairn</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russian Federation">Russian Federation</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Saint Helena">Saint Helena</option>
                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                <option value="Saint Lucia">Saint Lucia</option>
                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                <option value="Samoa">Samoa</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                <option value="Thailand">Thailand</option>
                <option value="Timor-leste">Timor-leste</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Viet Nam">Viet Nam</option>
                <option value="Virgin Islands, British">Virgin Islands, British</option>
                <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                <option value="Wallis and Futuna">Wallis and Futuna</option>
                <option value="Western Sahara">Western Sahara</option>
                <option value="Yemen">Yemen</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
                </div>
            <font color="red">
                <label for="validateCountry" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label for="state" class="control-label col-sm-3">State </label>
            <div class="col-sm-7">
                  <input id="state" name ="state" class="form-control input-transparent" required type="text" value="" name="city">
                </div>
            <font color="red">
                <label for="validateState" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label for="city" class="control-label col-sm-3">City </label>
            <div class="col-sm-7">
                  <input id="city" class="form-control input-transparent" name="city" required type="text" value="" name="city">
                </div>
            <font color="red">
                <label for="validateCity" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="form-group">
            <label for="phone" class="control-label col-sm-3">Mobile <!--<span class="required">*</span>--></label>
            <div class="col-sm-7">
                  <input id="phone" class="form-control input-transparent  mask"
                                                   required="required" type="text"
                                                   name="mobile" maxlength="28">
                </div>
            <font color="red">
                <label for="validatePhone" class="control-label col-sm-2"></label>
                </font> </div>
              <div class="col-sm-11 col-sm-offset-1" style="margin-bottom:8px;">
            <div class="checkbox checkbox-danger">
                  <input id="checkbox2" type="checkbox" unchecked>
                  <label for="checkbox2"> I accept & comply with the <a href="/terms.html">Terms of Service</a> by clicking on Sign Up button. </label>
                </div>
          </div>
              <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="margin-bottom:20px;">
                  <button id="userSubmit" disabled="disabled" type="submit" class="btn btn-lg btn-danger btn-block">Sign Up</button>
                </div>
          </div>
            </fieldset>
      </div>
        </form>
  </section>
      <section align="center" style="margin-right:250px; color:#CCC;"> <a href="about.html" style="color:#FFF"> About </a> | <a href="/terms.html" style="color:#FFF">Terms </a> | <a href="privacy.html" style="color:#FFF">Privacy</a><br>
    Copyright © 2014, All Rights Reserved. </section>
    </div>
<!-- common libraries. required for every page--> 
<script src="lib/jquery/dist/jquery.min.js"></script> 
<script src="lib/jquery-pjax/jquery.pjax.js"></script> 
<script src="lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script> 
<script src="lib/widgster/widgster.js"></script> 
<script src="lib/underscore/underscore.js"></script> 

<!-- common application js --> 
<script src="js/signUp.js"></script> 
<script src="js/app.js"></script> 
<script src="js/settings.js"></script> 

<!-- common templates --> 
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            
            <button type="button" data-value="dark" class="btn btn-sm btn-default">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-default">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
           
            <button type="button" data-value="left" class="btn btn-sm btn-default">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-default">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            
            <button type="button" data-value="true" class="btn btn-sm btn-default">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-default ">Hide</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>White Version</div>
        <div>
            <a data-toggle="modal" data-target="#white-temp" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</script> 
<script type="text/template" id="sidebar-settings-template">

    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>

    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
 
</script> 

<!-- Modal -->
<div class="modal fade" id="white-temp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-wrench"></i> Under construction</h4>
      </div>
          <div class="modal-body">
        <p>Currently we're working hard implementing an update for a White Version of Light Blue template.
              Approximate release date is <strong>November 20, 2014</strong>.</p>
        <p>Meanwhile, you may want to review <a href="../../2.1/white">White Version 2.1</a>, but keep in mind - it will be heavily modified in 3.0 update.</p>
      </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-inverse" data-dismiss="modal">Back to Light Blue 3.0</button>
        <a href="../../2.1/white" type="button" class="btn btn-danger">Review White Version 2.1</a> </div>
        </div>
  </div>
    </div>

<!-- page specific scripts -->

</body>
</html>