.slimScrollDiv {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%  !important;
}

.slimScrollBar {
    background: #298080 !important;
    width: 3px !important;
    right: 0px !important;
}

.slimScrollRail {
    background: #298080 !important;
    width: 1px !important;
    right: 1px !important;
}
