/*------------
bootstrap overide
---------------*/
/*Button Style   ||-----------*/
.btn:focus {
	outline: none;
}
.btn, button {
	font-size: 12px;
	line-height: normal;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}
.btn i, button i, i.left {
	margin-right: 6px;
}
i.right {
	margin-left: 6px;
	margin-right: 0px !important;
}
button {
	vertical-align: top;
}
.btn-full {
	width: 100% !important;
	display: inline-block;
	text-align: center;
}
.btn-lg {
	padding: 15px 25px;
	display: inline-block;
}
.btn-md {
	padding: 11px 20px;
	display: inline-block;
}
.btn-xs {
	padding: 11px 15px 10px;
	display: inline-block;
}
.btn-line-xs {
	padding: 7px 15px 7px;
	display: inline-block;
}
.btn-icon {
	padding: 0px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	display: inline-table !important;
}
.btn-black {
	color: #fff;
	background: #323232;
	border: none;
}
.btn-black:hover {
	color: #fff;
	/*background: #e6ae49;*/
	background: rgba(50,50,50,0.85);
}
.btn-color-a, .btn-color-b {
	color: #fff;
	background: #e6ae49;
	border: none;
}
.btn-color-a:hover {
	color: #fff;
	background: rgba(230,174,73,0.85);
}
.btn-color-b:hover {
	color: #fff;
	/*color: #e6ae49;
        background: #fff;*/
	background: rgba(230,174,73,0.85);
}
.btn-white {
	color: #323232;
	background: rgba(255,255,255,1);
	border: none;
}
.btn-white:hover {
	/*color: #fff;
        background: #e6ae49;*/
	background: rgba(255,255,255,0.85);
	color: #323232;
}
.btn-black-line, .btn-white-line, .btn-color-line {
	border: 2px solid;
	background: none;
}
.btn-black-line {
	color: #323232;
	border-color: #323232;
	padding: 9px 20px;
}
.btn-black-line:hover {
	color: #fff;
	background: #323232;
}
.btn-color-line {
	color: #e6ae49;
	border-color: #e6ae49;
	padding: 9px 20px;
}
.btn-color-line:hover {
	color: #fff;
	background: #e6ae49;
}
.btn-white-line {
	color: #fff;
	border-color: #fff;
	padding: 9px 20px;
}
.btn-white-line:hover {
	color: #323232;
	background: #fff;
}
.btn-link-a, .btn-link-b {
	color: #323232;
	background: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	border-bottom: 1px dotted transparent;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.btn-link-a:hover {
	color: #e6ae49;
	border-bottom: 1px solid #e6ae49;
}
.btn-link-b:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}
.btn-space-5 {
	width: 5px;
	min-height: 1px;
	display: inline-block;
}
.btn-space-10 {
	width: 10px;
	min-height: 1px;
	display: inline-block;
}
select.input-sm{
   height:35px;
}
/*------------
Jquery ui overide
---------------*/
.form-group .bootstrap-select{
    width: 100%;
}
/*------------
Jquery ui overide
---------------*/
