@-webkit-keyframes uk-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes uk-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.preload {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    overflow: visible;
    background-color: rgba(59, 59, 65, 100);
}

.preload .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    position: relative;
    border-top: 4px solid #04A283;
    border-right: 4px solid #04A283;
    border-bottom: 4px solid #04A283;
    border-left: 4px solid #AAE8ED;
    -webkit-animation: uk-rotate 0.8s infinite linear;
    animation: uk-rotate 0.8s infinite linear;
}

.preload .spinner,
.preload .spinner:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.preload.loading .spinner {
    -webkit-animation: uk-rotate 3s infinite linear;
    animation: uk-rotate 3s infinite linear;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.no-preload .preload {
    display: none !important;
}