
.amcharts-legend-div{
    margin-bottom: 15px !important;
}
.amcharts-pie-slice{
    cursor: pointer;
}
.amchartTooltip{
    display: block;
    text-align: left;
    margin: 4px 0;
    font-weight:bold;
}
.amchartTooltip i{
    display:inline-block;
    margin-right: 6px;
    font-size: 16px;
    
}
.amchartTooltip i.ion-social-twitter{
    color: #5f99ec;
}
.amchartTooltip i.ion-arrow-return-left{
    color: #ea6d57;
}
.amchartTooltip i.ion-reply{
    color: #000000;
}
.amchartTooltip i.ion-thumbsup{
    color: #4c67a1;
}
.amchartTooltip i.ion-ios-compose{
    color: #d15151;
}
.amchartTooltip i.ion-chatbox{
    color: #03a97c;
}
.amchartTooltip i.ion-speakerphone{
    color: #bca004

}
/* MARGINS & PADDINGS */

#chartdiv {
    width: 100%;
    height: 370px;
}

#chartPie {
    width: 100%;
    height: 350px;
}

#chartColumn {
    width: 100%;
    height: 350px;
}

#mediaChartPie {
    width: 100%;
    height: 330px;
}

#mediaColumnTotal {
    width: 100%;
    height: 250px;
}

#chartMediaMap {
    width: 100%;
    height: 365px;
}

#fbChartPie {
    width: 100%;
    height: 450px;
}

#fbAreaChart {
    width: 100%;
    height: 350px;
}

#fbAreaChartCommentsWeekDays{
    width: 100%;
    height: 350px;
}

#fbAreaChartCommentsHourlyStats{
    width: 100%;
    height: 350px;
}

#chartBarByHour{
    width: 100%;
    height: 350px;
}

#chartBarByDay{
    width: 100%;
    height: 350px;
}

#ytViewTrends {
    width: 100%;
    height: 250px;
}

#retweetsGraphIndividual {
    width: 100%;
    height: 250px;
}
.reportGraphs {
    width: 100%;
    height: 250px;
}

#retweetAggregate {
    text-align : center;
    width: 100%;
    height: 450px;
}

#followersAggregate {
    text-align : center;
    width: 100%;
    height: 450px;
}
#mentionsAggregate {
    text-align : center;
    width: 100%;
    height: 450px;
}
#viewsFbAggregate{
    text-align : center !important;
    width: 100%;
    height: 450px;
}
#generalStatistics{
    text-align : center;
}
.fb-country-pie{
    text-align : center !important;

}
#socialMediaSentimentsTag1 {
    width: 100%;
    height: 450px;
}

#socialMediaSentimentsTag2 {
    width: 100%;
    height: 450px;
}

#socialMediaStatisticsTag1{
	width: 100%;
	height: 280px;
}
#socialMediaStatisticsTag2{
	width: 100%;
	height: 280px;
}
#chartTop {
    width: 100%;
    height: 250px;
}

#fbHourlyHeatMap {
    width       : 100%;
    height      : 500px;
    
}

.fbSmmChartPieGeneral {
    width: 100%;
    height: 450px;
}

#followersGrowth {
    text-align : center;
    width: 100%;
    height: 450px;
}

#favouritesAggregate {
    text-align : center;
    width: 100%;
    height: 450px;
}

#chartStatsCountry{

  width: 100%;
 height: 450px;
}